//layout mixins - start
@import 'variables';

@mixin eltdTableLayout() {
	position: relative;
	display: table;
	table-layout: fixed;
	height: 100%;
	width: 100%;
}

@mixin eltdTableCellLayout() {
	position: relative;
	display: table-cell;
	height: 100%;
	width: 100%;
	vertical-align: middle;
	text-align: left;
}

@mixin eltdRelativeHolderLayout() {
	position: relative;
	display: inline-block;
	width: 100%;
	vertical-align: middle;
}

@mixin eltdTypographyLayout() {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	text-transform: inherit;
}

//layout mixins - end

//transition mixins - start

@mixin eltdTransition($transition-param...) {
	-webkit-transition: $transition-param;
	-moz-transition: $transition-param;
	transition: $transition-param;
}

@mixin eltdTransform($transform-param...) {
	-webkit-transform: $transform-param;
	-moz-transform: $transform-param;
	transform: $transform-param;
}

@mixin eltdAnimation($animation-param...) {
	-webkit-animation: $animation-param;
	-moz-animation: $animation-param;
	animation: $animation-param;
}

@mixin eltdTransformOrigin($animation-param...) {
	-webkit-transform-origin: $animation-param;
	-moz-transform-origin: $animation-param;
	transform-origin: $animation-param;
}

@mixin eltdBoxShadow($shadow-property...) {
	-webkit-box-shadow: $shadow-property;
	-moz-box-shadow: $shadow-property;
	box-shadow: $shadow-property;
}

@mixin eltdBorderRadius($border-radius...) {
	-webkit-border-radius: $border-radius;
	-moz-border-radius: $border-radius;
	border-radius: $border-radius;
}

@mixin eltdBoxSizing($box-sizing) {
	-webkit-box-sizing: $box-sizing;
	-moz-box-sizing: $box-sizing;
	box-sizing: $box-sizing;
}

@mixin eltdTransitionTransform($transition-time, $transition-function) {
	-webkit-transition: -webkit-transform $transition-time $transition-function;
	transition: transform $transition-time $transition-function;
}

@mixin eltdTransitionDelay($transition-delay...) {
	-webkit-transition-delay: $transition-delay;
	-moz-transition-delay: $transition-delay;
	transition-delay: $transition-delay;
}

@mixin eltdBackfaceVisibility($visibility) {
	-webkit-backface-visibility: $visibility;
	backface-visibility: $visibility;
}

@mixin eltdPlaceholder {
	&::-webkit-input-placeholder {
		@content
	}
	&:-moz-placeholder {
		@content
	}
	&::-moz-placeholder {
		@content
	}
	&:-ms-input-placeholder {
		@content
	}
}

@mixin eltdClearfix() {
	&:before,
	&:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}

	&:after {
		clear: both;
	}

	& {
		*zoom: 1;
	}
}

//transition mixins - end

//media query mixins - start
@mixin large-laptop {
	@media only screen and (max-width: map-get($breakpoints, large-laptop)) {
		@content;
	}
}

@mixin laptop-landscape {
	@media only screen and (max-width: map-get($breakpoints, laptop-landscape)) {
		@content;
	}
}

@mixin mac {
	@media only screen and (max-width: map-get($breakpoints, mac)) {
		@content;
	}
}

@mixin ipad-landscape {
	@media only screen and (max-width: map-get($breakpoints, ipad-landscape)) {
		@content;
	}
}

@mixin ipad-landscape-min {
	@media only screen and (min-width: map-get($breakpoints, ipad-landscape)) {
		@content;
	}
}

@mixin ipad-portrait {
	@media only screen and (max-width: map-get($breakpoints, ipad-portrait)) {
		@content;
	}
}

@mixin phone-landscape {
	@media only screen and (max-width: map-get($breakpoints, phone-landscape)) {
		@content;
	}
}

@mixin phone-portrait {
	@media only screen and (max-width: map-get($breakpoints, phone-portrait)) {
		@content;
	}
}

@mixin smaller-phone-portrait {
	@media only screen and (max-width: map-get($breakpoints, smaller-phone-portrait)) {
		@content;
	}
}

//media query mixins - end

//animation mixin - start

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content
	}
;
	@keyframes #{$name} {
		@content
	}
;
}

@mixin animation($name, $duration, $repeat, $timing, $delay) {
	-webkit-animation-name: $name;
	-webkit-animation-duration: $duration;
	-webkit-animation-iteration-count: $repeat;
	-webkit-animation-timing-function: $timing;
	-webkit-animation-delay: $delay;
	-webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

	animation-name: $name;
	animation-duration: $duration;
	animation-iteration-count: $repeat;
	animation-timing-function: $timing;
	animation-delay: $delay;
	animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

//animation mixin - end

@mixin inputStyle($use-background-color: true, $use-margin: true) {
	width: 100%;
	padding: 15px 20px;
	border: 1px solid #e1e1e1;
	outline: 0;
	overflow: auto;
	font-family: $headings-font-family-2;
	font-size: 13px;
	font-weight: 400;
	font-style: italic;
	background-color: transparent;
	color: #363636;
	display: block;
	@include eltdBoxSizing(border-box);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	@if($use-background-color) {
		background-color: #fbfbfc;
	}

	@if($use-margin) {
		margin-bottom: 16px;
	}

	@include eltdTransition(border-color 0.2s ease-out);

	&:focus {
		border: 1px solid $first-main-color;
	}

	@include eltdPlaceholder {
		color: #808080;
	}

	resize: none;
}