/*
Theme Name: Malmo
Theme URI: http://malmo.elated-themes.com
Description: A Charming Multi-concept Theme
Author: Elated Themes
Author URI: http://themeforest.net/user/elated-themes
Version: 1.9
Text Domain: malmo
License: GNU General Public License
License URI: licence/GPL.txt
Tags: one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-menu, featured-images, flexible-header, post-formats, sticky-post, translation-ready

CSS changes can be made in files in the /css/ folder. This is a placeholder file required by WordPress, so do not delete it.

*/
.site-title{text-transform: uppercase;
    font-weight: bold;line-height: 70px;}
.site-title-mobile{font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;}