.eltd-header-vertical {
	.eltd-vertical-area-widget-holder {
		z-index: 100;
		position: absolute;
		bottom: 40px;
		left: 50%;
		@include eltdTransform(translateX(-50%));

		@include mac {
			bottom: 23px;
		}
	}
}