@font-face {
font-family: 'bwg';
src: url(//cthcenterprises.com/wp-content/plugins/photo-gallery/css/bwg-fonts/fonts/bwg.eot?qy18kk);
src: url(//cthcenterprises.com/wp-content/plugins/photo-gallery/css/bwg-fonts/fonts/bwg.eot?qy18kk#iefix) format('embedded-opentype'),
url(//cthcenterprises.com/wp-content/plugins/photo-gallery/css/bwg-fonts/fonts/bwg.ttf?qy18kk) format('truetype'),
url(//cthcenterprises.com/wp-content/plugins/photo-gallery/css/bwg-fonts/fonts/bwg.woff?qy18kk) format('woff'),
url(//cthcenterprises.com/wp-content/plugins/photo-gallery/css/bwg-fonts/fonts/bwg.svg?qy18kk#bwg) format('svg');
font-weight: normal;
font-style: normal;
}
[class^="bwg-icon-"],
[class*=" bwg-icon-"],
.bwg-icon { font-family: 'bwg' !important;
speak: none;
display:inline-block;
line-height: 1;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
vertical-align: top; -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.bwg-icon-angle-down:before {
content: "\e900";
}
.bwg-icon-angle-down-sm:before {
content: "\e901";
}
.bwg-icon-angle-left:before {
content: "\e902";
}
.bwg-icon-angle-left-sm:before {
content: "\e903";
}
.bwg-icon-angle-right:before {
content: "\e904";
}
.bwg-icon-angle-right-sm:before {
content: "\e905";
}
.bwg-icon-angle-up:before {
content: "\e906";
}
.bwg-icon-angle-up-sm:before {
content: "\e907";
}
.bwg-icon-arrow-down:before {
content: "\e908";
}
.bwg-icon-arrow-left:before {
content: "\e909";
}
.bwg-icon-arrow-right:before {
content: "\e90a";
}
.bwg-icon-arrows-in:before {
content: "\e90b";
}
.bwg-icon-arrows-out:before {
content: "\e90c";
}
.bwg-icon-arrow-up:before {
content: "\e90d";
}
.bwg-icon-bell:before {
content: "\e90e";
}
.bwg-icon-bell-half-o:before {
content: "\e90f";
}
.bwg-icon-bell-o:before {
content: "\e910";
}
.bwg-icon-caret-down:before {
content: "\e911";
}
.bwg-icon-caret-up:before {
content: "\e912";
}
.bwg-icon-chevron-down-sm:before {
content: "\e913";
}
.bwg-icon-chevron-left:before {
content: "\e914";
}
.bwg-icon-chevron-left-sm:before {
content: "\e915";
}
.bwg-icon-chevron-right:before {
content: "\e916";
}
.bwg-icon-chevron-right-sm:before {
content: "\e917";
}
.bwg-icon-chevron-up-sm:before {
content: "\e918";
}
.bwg-icon-circle:before {
content: "\e919";
}
.bwg-icon-circle-half:before {
content: "\e91a";
}
.bwg-icon-circle-o:before {
content: "\e91b";
}
.bwg-icon-comment-square:before {
content: "\e91c";
}
.bwg-icon-compress:before {
content: "\e91d";
}
.bwg-icon-double-left:before {
content: "\e91e";
}
.bwg-icon-double-right:before {
content: "\e91f";
}
.bwg-icon-download:before {
content: "\e920";
}
.bwg-icon-expand:before {
content: "\e921";
}
.bwg-icon-facebook-square:before {
content: "\e922";
}
.bwg-icon-flag:before {
content: "\e923";
}
.bwg-icon-flag-haif-o:before {
content: "\e924";
}
.bwg-icon-flag-o:before {
content: "\e925";
}
.bwg-icon-google-plus-square:before {
content: "\e926";
}
.bwg-icon-heart:before {
content: "\e927";
}
.bwg-icon-heart-half-o:before {
content: "\e928";
}
.bwg-icon-heart-o:before {
content: "\e929";
}
.bwg-icon-info-circle:before {
content: "\e92a";
}
.bwg-icon-minus-square:before {
content: "\e92b";
}
.bwg-icon-minus-square-o:before {
content: "\e92c";
}
.bwg-icon-pause:before {
content: "\e92d";
}
.bwg-icon-pinterest-square:before {
content: "\e92e";
}
.bwg-icon-play:before {
content: "\e92f";
}
.bwg-icon-refresh:before {
content: "\e930";
}
.bwg-icon-search:before {
content: "\e931";
}
.bwg-icon-shopping-cart:before {
content: "\e932";
}
.bwg-icon-sign-out:before {
content: "\e933";
}
.bwg-icon-square:before {
content: "\e934";
}
.bwg-icon-square-half:before {
content: "\e935";
}
.bwg-icon-square-o:before {
content: "\e936";
}
.bwg-icon-star:before {
content: "\e937";
}
.bwg-icon-star-half-o:before {
content: "\e938";
}
.bwg-icon-star-o:before {
content: "\e939";
}
.bwg-icon-times:before {
content: "\e93a";
}
.bwg-icon-times-sm:before {
content: "\e93b";
}
.bwg-icon-tumblr-square:before {
content: "\e93c";
}
.bwg-icon-twitter-square:before {
content: "\e93d";
}