@include ipad-landscape {
	.eltd-blog-list-holder {
		&.eltd-four-columns > ul > li {
			width: 50%;
		}
	}
}

@include ipad-portrait {
	.eltd-blog-list-holder {
		&.eltd-two-columns > ul > li,
		&.eltd-three-columns > ul > li,
		&.eltd-four-columns > ul > li {
			width: 100%;
		}
	}

	.eltd-blog-list-holder.eltd-minimal .eltd-blog-list-item {
		padding: 10px 0 10px;
	}
}

@include phone-portrait {
	.single .eltd-blog-holder article.format-quote .eltd-post-quote-holder,
	.single .eltd-blog-holder article.format-link .eltd-post-link-holder {
		padding: 40px 20px 38px;
	}

	.eltd-blog-holder article.format-quote .eltd-post-quote-holder,
	.eltd-blog-holder article.format-link .eltd-post-link-holder {
		padding: 40px 20px 40px;
	}
}