/* ==========================================================================
# Carousels style - begin
========================================================================== */

.eltd-carousel-holder {

	.eltd-carousel-item-holder {
		position: relative;

		/* Image zoom - begin
		========================================================================== */

		.eltd-carousel-first-image-holder.eltd-image-zoom img {
			@include eltdTransition(transform 0.15s ease-out);
			-webkit-backface-visibility: hidden;
		}

		.eltd-carousel-first-image-holder.eltd-image-zoom:hover img {
			@include eltdTransform(scale(1.1));
		}

		/* Image zoom - end
		========================================================================== */


		/* Image change on hover - begin
		========================================================================== */

		.eltd-carousel-first-image-holder.eltd-image-change {
			position: relative;
			opacity: 1;
			z-index: 5;
			@include eltdTransition(opacity 0.15s ease-out);
		}

		&:hover .eltd-carousel-first-image-holder.eltd-has-hover-image.eltd-image-change {
			opacity: 0;
		}

		.eltd-carousel-second-image-holder {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			@include eltdTransition(opacity 0.15s ease-out);
		}

		&:hover .eltd-carousel-second-image-holder {
			opacity: 1;
		}


		/* Image change on hover - end
		========================================================================== */

	}

	/* Carousel navigation - begin
	========================================================================== */

	.eltd-carousel.owl-carousel {

		.owl-controls {

			width: 100%;

			.owl-prev {
				position: absolute;
				top: 50%;
				@include eltdTransform(translateY(-50%));
				left: 2%;
			}

			.owl-next {
				position: absolute;
				top: 50%;
				@include eltdTransform(translateY(-50%));
				right: 2%;
			}

			.eltd-prev-icon,
			.eltd-next-icon {
				display: inline-block;
				width: 42px;
				height: 42px;
				@include eltdBorderRadius(50%);
				border: 2px solid #74797b;
				text-align: center;

				i {
					font-size: 22px;
					line-height: 40px;
					color: #74797b;
				}

			}

		}

		.owl-pagination {
			text-align: center;

			.owl-page {
				display: inline-block;
			}

			.owl-page span {
				display: inline-block;
				width: 12px;
				height: 12px;
				margin: 3px;
				filter: Alpha(Opacity=50);
				opacity: 0.5;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				border-radius: 20px;
				background: #74797b;
			}

			.owl-page.active span {
				opacity: 1;
			}

		}

	}

	/* Carousel navigation - end
	========================================================================== */
	.eltd-carousel-item-outer-holder {
		text-align: center;

		.eltd-carousel-item-holder {
			display: inline-block;
		}

		&.border {
			border-right: 1px solid #e5e5e5;

			.eltd-carousel-item-holder {
				padding: 20px;
				border-bottom: 1px solid #e5e5e5;
				text-align: center;

				&:last-child {
					border-bottom: 0;
				}
			}
		}
	}

	.owl-item:last-child {
		.eltd-carousel-item-outer-holder {

			&.border {
				border-right: 0;
			}
		}
	}

}

/* ==========================================================================
# Carousels style - end
========================================================================== */