@include ipad-landscape {
	.eltd-comparision-pricing-tables-holder {
		&.eltd-three-columns {
			.eltd-cpt-features-holder {
				display: none;
			}

			.eltd-cpt-table {
				width: 100%;
				float: none;
				margin-bottom: 30px;

				.eltd-cpt-table-head-holder,
				.eltd-cpt-table-content {
					border-left: 1px solid #f2f2f2 !important;
				}
			}

			.eltd-cpt-table-item-feature {
				display: inline-block;
				margin-right: 10px;
			}
		}

		&.eltd-four-columns {
			.eltd-cpt-table {
				width: 50%;
				margin-bottom: 30px;
			}

			.eltd-cpt-features-holder {
				display: none;
			}

			.eltd-cpt-table-item-feature {
				display: inline-block;
				margin-right: 10px;
			}

			.eltd-cpt-table-head-holder,
			.eltd-cpt-table-content {
				border-left: 1px solid #f2f2f2 !important;
			}
		}

		.eltd-cpt-table .eltd-cpt-table-content li {
			line-height: 1.7em;
			padding-top: 30px;
		}
	}
}

@include ipad-portrait {
	.eltd-comparision-pricing-tables-holder {
		&.eltd-four-columns,
		&.eltd-two-columns {
			.eltd-cpt-table {
				width: 100%;
				margin-bottom: 30px;
			}
		}

		&.eltd-two-columns {
			.eltd-cpt-features-holder {
				display: none;
			}

			.eltd-cpt-table-item-feature {
				display: inline-block;
				margin-right: 10px;
			}

			.eltd-cpt-table-head-holder,
			.eltd-cpt-table-content {
				border-left: 1px solid #f2f2f2 !important;
			}
		}
	}
}

