/* ==========================================================================
# Countdown style - begin
========================================================================== */
/* jQuery Countdown styles 2.0.0. */
.countdown-rtl {
	direction: rtl;
}

.countdown-row {
	clear: both;
	width: 100%;
	padding: 0 2px;
	text-align: center;
}

.countdown-show1 .countdown-section {
	width: 98%;
}

.countdown-show2 .countdown-section {
	width: 48%;
}

.countdown-show3 .countdown-section {
	width: 32.5%;
}

.countdown-show4 .countdown-section {
	width: 24.5%;
}

.countdown-show5 .countdown-section {
	width: 19.5%;
}

.countdown-show6 .countdown-section {
	width: 16.25%;
}

.countdown-show7 .countdown-section {
	width: 14%;
}

.eltd-countdown {
	font-weight: 700;
}

.countdown-section {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-weight: inherit;
}

.countdown-amount {
	display: block;
	position: relative;
	font-size: 48px;
	line-height: 1em;
	font-weight: 300;
	overflow: hidden;
	color: #414042;
	font-family: $headings-font-family;
	height: 1em;
}

.countdown-period {
	display: block;
	margin: 54px 0 0;
	font-size: 15px;
	font-weight: 300;
	color: #28262b;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	position: relative;

	&:before {
		content: '.................';
	    position: absolute;
	    left: 50%;
	    top: -44px;
	    color: $first-main-color;
	    font-style: italic;
	    font-family: $headings-font-family-2;
	    font-size: 15px;
	    letter-spacing: 0;
	    @include eltdTransform(translateX(-50%));
	}
}

.countdown-descr {
	display: block;
	width: 100%;
}

/* ==========================================================================
# Countdown style - end
========================================================================== */