.eltd-iwt {
	$icon-tiny-content-padding: 40px;
	$icon-small-content-padding: 50px;
	$icon-medium-content-padding: 70px;
	$icon-large-content-padding: 100px;
	$icon-huge-content-padding: 150px;
	$title-margin-bottom: 12px;

	.eltd-iwt-link {
		margin-top: 5px;
		display: inline-block;
		font-weight: 600;
		position: relative;

		&:after {
			content: '\45';
			font-family: 'ElegantIcons';
			position: absolute;
			top: 2px;
			right: -20px;
		}
	}
	.eltd-iwt-custom-icon {
		display: inline-block;
		line-height: 0;
	}

	&.eltd-iwt-icon-top {
		text-align: center;
	}

	&.eltd-iwt-icon-left,
	&.eltd-iwt-icon-left-from-title {
		text-align: left;
	}

	&:not(.eltd-iwt-left-from-title) {

		.eltd-iwt-content-holder p {
			margin: 0;
			font-weight: 300;
			font-size: 14px;
		}

		.eltd-iwt-title-holder {
			text-transform: uppercase;

			h3 {
				margin-bottom: 8px;
				margin-top: 31px;
				color: #28262b;
			}
		}
	}

	&.eltd-iwt-icon-left {
		.eltd-iwt-icon-holder {
			float: left;
		}

		&.eltd-iwt-icon-tiny .eltd-iwt-content-holder {
			padding-left: $icon-tiny-content-padding;
		}

		&.eltd-iwt-icon-small .eltd-iwt-content-holder {
			padding-left: $icon-small-content-padding;
		}

		&.eltd-iwt-icon-medium .eltd-iwt-content-holder {
			padding-left: $icon-medium-content-padding;
		}

		&.eltd-iwt-icon-large .eltd-iwt-content-holder {
			padding-left: $icon-large-content-padding;
		}

		&.eltd-iwt-icon-huge .eltd-iwt-content-holder {
			padding-left: $icon-huge-content-padding;
		}

		.eltd-iwt-title-holder h3 {
			margin-top: 0;
			margin-bottom: 9px;
			line-height: 24px;
		}
	}

	&.eltd-iwt-icon-right {
		text-align: right;

		.eltd-iwt-icon-holder {
			float: right;
		}

		&.eltd-iwt-icon-tiny .eltd-iwt-content-holder {
			padding-right: $icon-tiny-content-padding;
		}

		&.eltd-iwt-icon-small .eltd-iwt-content-holder {
			padding-right: $icon-small-content-padding;
		}

		&.eltd-iwt-icon-medium .eltd-iwt-content-holder {
			padding-right: $icon-medium-content-padding;
		}

		&.eltd-iwt-icon-large .eltd-iwt-content-holder {
			padding-right: $icon-large-content-padding;
		}

		&.eltd-iwt-icon-huge .eltd-iwt-content-holder {
			padding-right: $icon-huge-content-padding;
		}
	}

	&.eltd-iwt-left-from-title {
		.eltd-iwt-icon-title-holder {
			margin-bottom: $title-margin-bottom;
		}

		.eltd-iwt-icon-holder,
		.eltd-iwt-title-holder {
			display: inline-block;
			vertical-align: middle;
		}

		.eltd-iwt-icon-holder {
			margin-right: 10px;
		}

		.eltd-iwt-title-holder {

			& > * {
				margin: 0;
			}
		}
	}

	.eltd-iwt-icon-holder {
		color: $first-main-color;
	}
}