/* ==========================================================================
# Image Gallery - begin
========================================================================== */

/* Image Gallery Grid - begin
========================================================================== */

.eltd-image-gallery {

	.eltd-gallery-image {

		&.eltd-image-galley-circle-overlay span.eltd-image-gallery-hover {
			width: 132%;
			height: 180%;
			top: -40%;
			left: -16%;

			@include eltdTransform(scale(0));
			@include eltdBorderRadius(50%);
			@include eltdTransition(transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s);
		}

		span.eltd-image-gallery-hover {
			position: absolute;
			display: block;
			background-color: rgba(248,248,248,0.9);
			opacity: 0;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;

			@include eltdTransition(opacity 0.2s ease-out);
		}

		.eltd-image-gallery-holder {
			position: relative;
			overflow: hidden;

			&:hover span.eltd-image-gallery-hover {
				opacity: 1;

				@include eltdTransform(scale(1));
			}

			&:hover .eltd-icon-holder {
				opacity: 1;

				@include eltdTransitionDelay(0.15s);
			}

			.eltd-icon-holder {
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 3;
				opacity: 0;
				color: $first-main-color;
				font-size: 30px;

				@include eltdTransform(translate(-50%, -50%) translateZ(0));
				@include eltdTransition(transform 0.2s ease-out, opacity 0.2s ease-out);
				@include eltdTransitionDelay(0);
			}

		}

	}

	.eltd-grayscale .eltd-gallery-image img {
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		filter: gray;
		filter: grayscale(100%);
		filter: url(img/desaturate.svg#grayscale);
	}

	.eltd-grayscale .eltd-gallery-image:hover img {
		-webkit-filter: grayscale(0);
		filter: none;
	}

	.eltd-gallery-image img {
		display: block;
		width: 100%;
	}

	.eltd-image-gallery-grid {
		margin-left: -14px;
		margin-right: -14px;

		&.eltd-small-space {
			margin-left: -7px;
			margin-right: -7px;

			.eltd-gallery-image {
				padding: 0 7px !important;
				margin-bottom: 14px !important;
			}
		}

		&.eltd-no-space {
			margin-left: 0;
			margin-right: 0;

			.eltd-gallery-image {
				padding: 0 0 !important;
				margin-bottom: 0 !important;
			}
		}

	}

	.eltd-image-gallery-grid.eltd-gallery-columns-2 {

		.eltd-gallery-image {
			width: 50%;
			display: inline-block;
			float: left;
			padding: 0 14px;
			margin-bottom: 26px;

			@include eltdBoxSizing(border-box);

			&:nth-child(2n) {
				margin-right: 0;
			}

			&:nth-child(2n+1) {
				clear: both;
			}

		}

	}

	.eltd-image-gallery-grid.eltd-gallery-columns-3 {

		.eltd-gallery-image {
			width: 33.33%;
			display: inline-block;
			float: left;
			padding: 0 14px;
			margin-bottom: 26px;

			@include eltdBoxSizing(border-box);

			&:nth-child(3n) {
				margin-right: 0;
			}

			&:nth-child(3n+1) {
				clear: both;
			}

		}

	}

	.eltd-image-gallery-grid.eltd-gallery-columns-4 {

		.eltd-gallery-image {
			width: 25%;
			display: inline-block;
			float: left;
			padding: 0 14px;
			margin-bottom: 26px;

			@include eltdBoxSizing(border-box);

			&:nth-child(4n) {
				margin-right: 0;
			}

			&:nth-child(4n+1) {
				clear: both;
			}

		}

	}

	.eltd-image-gallery-grid.eltd-gallery-columns-5 {

		.eltd-gallery-image {
			width: 20%;
			display: inline-block;
			float: left;
			padding: 0 14px;
			margin-bottom: 26px;

			@include eltdBoxSizing(border-box);

			&:nth-child(5n) {
				margin-right: 0;
			}

			&:nth-child(5n+1) {
				clear: both;
			}

		}

	}

}

/* Image Gallery Grid - end
========================================================================== */

/* Image Gallery Slider - begin
========================================================================== */

.eltd-image-gallery {

	.owl-controls {

		.owl-prev {
			position: absolute;
			top: 50%;
			@include eltdTransform(translateY(-50%));
			left: 2%;
		}

		.owl-next {
			position: absolute;
			top: 50%;
			@include eltdTransform(translateY(-50%));
			right: 2%;
		}

		.eltd-prev-icon,
		.eltd-next-icon {
			display: inline-block;
			width: 42px;
			height: 42px;
			@include eltdBorderRadius(50%);
			border: 2px solid #74797b;
			text-align: center;

			i {
				font-size: 22px;
				line-height: 40px;
				color: #74797b;
			}

		}

	}

	.owl-pagination {
		text-align: center;

		.owl-page {
			display: inline-block;
		}

		.owl-page span {
			display: inline-block;
			width: 12px;
			height: 12px;
			margin: 3px;
			filter: Alpha(Opacity=50);
			opacity: 0.5;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			background: #74797b;
		}

		.owl-page.active span {
			opacity: 1;
		}

	}

}

/* Image Gallery Slider - end
========================================================================== */

/* ==========================================================================
# Image Gallery - end
========================================================================== */