/* ==========================================================================
# Message responsive style - begin
========================================================================== */
/* Unique style for both types  - begin
========================================================================== */
.eltd-message {
	@media only screen and (max-width: 480px) {
		padding: 20px 22px;
	}
	.eltd-message-text {
		@media screen and (max-width: 320px) {
			line-height: normal;
		}
	}
}

/* Unique style for both types - end
========================================================================== */

/* Type with icon - begin
========================================================================== */
.eltd-message.eltd-with-icon {
	.eltd-message-icon-holder {
		@media only screen and (max-width: 600px) {
			padding: 20px 22px;
		}
	}
}

/* Type with icon - end
========================================================================== 
/* ==========================================================================
# Message responsive style - end
========================================================================== */