/* ==========================================================================
# Pie Chart Basic - begin
========================================================================== */

.eltd-pie-chart-holder {
	position: relative;
	display: block;

	&.eltd-pie-chart-typography-light {
		span.eltd-to-counter,
		.eltd-to-counter:after,
		.eltd-pie-chart-text,
		.eltd-pie-title {
			color: #fff;
		}
	}

	&.eltd-pie-chart-typography-dark {
		span.eltd-to-counter,
		.eltd-pie-title {
			color: #414042;
		}

		.eltd-pie-chart-text {
			color: #808285;
		}
	}

	.eltd-percentage-holder {
		margin: 0 auto;
		padding: 5px;
		vertical-align: middle;
		background-color: #fff;
		@include eltdBorderRadius(50%);
	}

	.eltd-percentage {
		position: relative;
		display: block;
		height: 175px;
		width: 175px;
		line-height: 175px;
		text-align: center;
		margin: 0 auto;
		opacity: 0;
		filter: alpha(opacity=0);
		@include eltdTransition(opacity .3s ease-out);

		.eltd-pie-title {
			line-height: inherit;
			margin: 0;
		}

	}

	.eltd-percentage canvas {
		position: absolute;
		top: 0;
		left: 0;
	}

	.eltd-to-counter {
		position: relative;
		font-weight: 300;
		font-size: 48px;
		font-family: $headings-font-family;

		&:after {
			content: '%';
			margin-left: 0.1em;
			font-size: 0.5em;
			position: relative;
			top: -0.75em;
		}
	}

	.eltd-pie-chart-text {
		text-align: center;
		margin: 31px 0 0;

		.eltd-pie-chart-text {
			font-size: 20px;
		}

		.eltd-pie-title {
			margin: 0;
			font-size: 20px;
		}

	}

}

/* ==========================================================================
# Pie Chart Basic - end
========================================================================== */
