/* ==========================================================================
   Elated slider styles
   ========================================================================== */

/* Bootstrap carousel default styles
   ========================================================================== */
.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.boxed .carousel-inner{
    width: 1150px;
    left: auto !important;
}

.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
    box-sizing: border-box;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
}

.carousel-inner .eltd-video{
    position: static;
    left: 0;
    direction: ltr;
}

.safari_browser .carousel-inner video.video {
    object-fit: inherit;
    width: 100% !important;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
    display: block;
}

.carousel-inner > .active {
    left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-inner > .next {
    left: 100%;
}

.carousel-inner > .prev {
    left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
    left: 0;
}

.carousel-inner > .active.left {
    left: -100%;
}

.carousel-inner > .active.right {
    left: 100%;
}

/* part for fading animation - start */
.carousel.eltd-fade .item {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    filter: alpha(opacity=100);
}

.carousel.eltd-fade .active.left,
.carousel.eltd-fade .active.right {
    opacity: 0;
    filter: alpha(opacity=0);
}

.carousel.eltd-fade .active.item {
    opacity: 1;
    filter: alpha(opacity=100);
}

.carousel.eltd-fade .active.left,
.carousel.eltd-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}

.carousel.eltd-fade .next,
.carousel.eltd-fade .prev {
    left: 0;
    z-index: 1;
}

/* part for fading animation - end */

/* part for vertical up animation - start */

.carousel.eltd-vertical-up:not(.eltd-has-height) .carousel-inner{
    height: 100%;
}

.carousel.eltd-vertical-up .carousel-inner > .item {
    -webkit-transition: -webkit-transform 0.6s ease;
    -moz-transition: -moz-transform 0.6s ease;
    -ms-transition: -ms-transform 0.6s ease;
    -o-transition: -o-transform 0.6s ease;
    transition: transform 0.6s ease;
}

.carousel.eltd-vertical-up .carousel-inner > .active {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

.carousel.eltd-vertical-up .carousel-inner > .next {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    left: 0%;
}

.carousel.eltd-vertical-up .carousel-inner > .prev{
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    left: 0%;
}

.carousel.eltd-vertical-up .carousel-inner > .next.left,
.carousel.eltd-vertical-up .carousel-inner > .prev.right {
    left: 0%;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

.carousel.eltd-vertical-up .carousel-inner > .active.left {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    left: 0%;
}

.carousel.eltd-vertical-up .carousel-inner > .active.right {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    left: 0%;
}

/* part for vertical up animation - end */

/* part for vertical down animation - start */

.carousel.eltd-vertical-down:not(.eltd-has-height) .carousel-inner{
    height: 100%;
}

.carousel.eltd-vertical-down .carousel-inner > .item {
    -webkit-transition: -webkit-transform 0.6s ease;
    -moz-transition: -moz-transform 0.6s ease;
    -ms-transition: -ms-transform 0.6s ease;
    -o-transition: -o-transform 0.6s ease;
    transition: transform 0.6s ease;
}

.carousel.eltd-vertical-down .carousel-inner > .active {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

.carousel.eltd-vertical-down .carousel-inner > .next {
    -webkit-transform: translateY(-99%);
    -moz-transform: translateY(-99%);
    -ms-transform: translateY(-99%);
    -o-transform: translateY(-99%);
    transform: translateY(-99%);
    left: 0%;
}

.carousel.eltd-vertical-down .carousel-inner > .prev{
    -webkit-transform: translateY(99%);
    -moz-transform: translateY(99%);
    -ms-transform: translateY(99%);
    -o-transform: translateY(99%);
    transform: translateY(99%);
    left: 0%;
}

.carousel.eltd-vertical-down .carousel-inner > .next.left,
.carousel.eltd-vertical-down .carousel-inner > .prev.right {
    left: 0%;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

.carousel.eltd-vertical-down .carousel-inner > .active.left {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    left: 0%;
}

.carousel.eltd-vertical-down .carousel-inner > .active.right {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    left: 0%;
}

/* part for vertical down animation - end */

/* part for slide cover animation - start */

.carousel.eltd-slide-cover .carousel-inner > .next {
    z-index: 99;
}

.carousel.eltd-slide-cover .carousel-inner > .prev {
    z-index: 100;
}

.carousel.eltd-slide-cover .carousel-inner > .active.left {
    left: -30%;
}

.carousel.eltd-slide-cover .carousel-inner > .active.right {
    left: 30%;
}

/* part for slide cover animation - end */

.carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 15;
    padding: 0px !important;
    text-align: center;
    list-style: none;
}

.carousel-indicators:not(.thumbnails) li {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 1px;
    text-indent: -999px;
    border-radius: 10px;
    cursor:pointer;
}

.carousel-indicators.thumbnails{
    bottom:55px;
}

.carousel-indicators.thumbnails li{
    display:inline-block;
    cursor: pointer;
    margin-right:5px;
    background-color: rgba(0, 0, 0, 0.8);
    width:160px!important; /* must not to be overwritten by options */
    height:100px!important;
}

.carousel-indicators.thumbnails li:last-child{
    margin-right:0;
}

.carousel-indicators.thumbnails li img{
    width:100%;
    height:100%;
    box-sizing:border-box;
    padding:0;
    vertical-align: middle;
    transition: padding 0.2s ease-out;
    -ms-transition: padding 0.2s ease-out;
    -o-transition: padding 0.2s ease-out;
    -moz-transition: padding 0.2s ease-out;
    -webkit-transition: padding 0.2s ease-out;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 40px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.carousel-caption .btn {
    text-shadow: none;
}

/* ==== Carousel Custom - Start ==== */

.carousel {
    margin-bottom: 0;
}

.carousel.eltd-full-screen {
    height: 1500px;
}

.eltd-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.eltd-slider-preloader{
    width: 100%;
    background-color: #fff;
    position: absolute;
    z-index: 20;
}

.eltd-slider-preloader{
    height: 1500px;
}

.carousel-inner .eltd-slider-content-outer{
    position: relative;
    height: 100%;
    width: 1100px;
    margin: 0px auto;
    z-index: 12;

    .eltd-slide-anchor-holder {
        text-align: center;

        &.eltd-slider-anchor-in-content {
            position: relative;
            margin-top: 80px;
        }

        &.eltd-slider-anchor-on-bottom-of-the-slider {
            bottom: 10%;
            left: 50%;
            position: absolute;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            margin: 0;
            -webkit-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
            -moz-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
            -o-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
            animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
        }

        .eltd-slide-anchor-button {
            font-size: 50px;
            color: #fff;
            display: inline-block;

            .scroll-text {
                margin-top: 10px;
                display: block;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 1px;
            }
        }
    }
}

.carousel-inner .eltd-slide-full-width .eltd-slider-content-outer{
    width: 100% !important;
}

.carousel-inner .eltd-slider-content {
    position: absolute;
    width: 100%;
}

.carousel-inner .item.eltd-content-vertical-middle .eltd-slider-content-outer {
    display: table;
}

.carousel-inner .item.eltd-content-vertical-middle .eltd-slider-content {
    display: table-cell;
    vertical-align: middle;
    position: static;
}

.carousel-inner .item.eltd-content-vertical-middle .eltd-slider-content .eltd-thumb{
    height: auto;
}

.vertical_menu_enabled .carousel-inner .item.eltd-content-vertical-middle{
    padding-top: 0px !important;
}

.carousel-inner .eltd-slider-content .eltd-thumb{
    height: 100%;
    opacity: 1;
    filter: alpha(opacity = 100);
    display: inline-block;
    vertical-align: middle;
}

.carousel-inner .eltd-slider-content.left{
    text-align: left;
}

.carousel-inner .eltd-slider-content.right{
    text-align: right;
}

.carousel-inner .eltd-slider-content.left .eltd-thumb,
.carousel-inner .eltd-slider-content.right .eltd-thumb{
    display: inline-block;
}

.carousel-inner .eltd-slider-content.center .eltd-thumb{
    text-align: center;
}

.carousel-inner .eltd-slider-content.center {
    text-align: center;
}

/*---------------------Graphic animation Flip--------------------------------- */

.carousel-inner .eltd-slider-content .eltd-thumb.flip{
    opacity: 0;
    filter: alpha(opacity = 0);
}

.carousel-inner .active .eltd-slider-content .eltd-thumb.flip{
    -webkit-animation: rotate 0.6s 1 ease-out;
    -moz-animation: rotate 0.6s 1 ease-out;
    -o-animation: rotate 0.6s 1 ease-out;
    animation: rotate 0.6s 1 ease-out;
    opacity: 1;
    filter: alpha(opacity = 100);
}


/*---------------------Graphic animation Fade--------------------------------- */

.carousel-inner .eltd-slider-content .eltd-thumb.fade{
    opacity: 0;
    filter: alpha(opacity = 0);
}

.carousel-inner .active .eltd-slider-content .eltd-thumb.fade{
    -webkit-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    -moz-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    -o-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    opacity: 1;
    filter: alpha(opacity = 100);
}



/*---------------------Graphic animation From right--------------------------------- */

.carousel-inner .eltd-slider-content .eltd-thumb.from_right{
    opacity: 0;
    filter: alpha(opacity = 0);
    position: relative;
    right: -70px;
}

.carousel-inner .active .eltd-slider-content .eltd-thumb.from_right{
    -webkit-animation: text-one-by-one-from-right 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-animation: text-one-by-one-from-right 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-animation: text-one-by-one-from-right 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    animation: text-one-by-one-from-right 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
    filter: alpha(opacity = 100);
    -webkit-transform: translateZ(0px);
}

/*---------------------Graphic animation From left--------------------------------- */

.carousel-inner .eltd-slider-content .eltd-thumb.from_left{
    opacity: 0;
    filter: alpha(opacity = 0);
    position: relative;
    left: -70px;
}

.carousel-inner .active .eltd-slider-content .eltd-thumb.from_left{
    -webkit-animation: text-one-by-one-from-left 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-animation: text-one-by-one-from-left 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-animation: text-one-by-one-from-left 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    animation: text-one-by-one-from-left 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
    filter: alpha(opacity = 100);
    -webkit-transform: translateZ(0px);
}

/*---------------------Graphic animation From top--------------------------------- */

.carousel-inner .eltd-slider-content .eltd-thumb.from_top{
    opacity: 0;
    filter: alpha(opacity = 0);
    position: relative;
    top: -70px;
}

.carousel-inner .active .eltd-slider-content .eltd-thumb.from_top{
    -webkit-animation: text-one-by-one-from-top 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-animation: text-one-by-one-from-top 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-animation: text-one-by-one-from-top 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    animation: text-one-by-one-from-top 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
    filter: alpha(opacity = 100);
    -webkit-transform: translateZ(0px);
}

/*---------------------Graphic animation From bottom--------------------------------- */

.carousel-inner .eltd-slider-content .eltd-thumb.from_bottom{
    opacity: 0;
    filter: alpha(opacity = 0);
    position: relative;
    top: 70px;
}

.carousel-inner .active .eltd-slider-content .eltd-thumb.from_bottom{
    -webkit-animation: text-from-bottom-one-by-one 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-animation: text-from-bottom-one-by-one 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-animation: text-from-bottom-one-by-one 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    animation: text-from-bottom-one-by-one 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
    filter: alpha(opacity = 100);
    -webkit-transform: translateZ(0px);
}


/*---------------------Graphic animation Clip from left, Clip from Top-----------------------------*/

.no-touch .carousel-inner .eltd-slider-content .eltd-thumb.clip_anim_hor,
.no-touch .carousel-inner .eltd-slider-content .eltd-thumb.clip_anim_ver,
.no-touch .carousel-inner .eltd-slider-content .eltd-thumb.clip_anim_puzzle {
    display: inline-block;
    position: relative;
}


.touch .carousel-inner .eltd-slider-content .eltd-thumb.clip_anim_hor,
.touch .carousel-inner .eltd-slider-content .eltd-thumb.clip_anim_ver,
.touch .carousel-inner .eltd-slider-content .eltd-thumb.clip_anim_puzzle {
    opacity: 0;
    filter: alpha(opacity = 0);
}


/*---------------------Clip Animation Horizontal --------------------------------- */

.no-touch .carousel-inner .eltd-slider-content .eltd-thumb.clip_anim_hor img {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation:clip_anim_hor 1.75s cubic-bezier(.165,.84,.44,1);
    animation:clip_anim_hor 1.75s cubic-bezier(.165,.84,.44,1);
}

.touch .carousel-inner .active .eltd-slider-content .eltd-thumb.clip_anim_hor {
    -webkit-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    -moz-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    -o-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    opacity: 1;
    filter: alpha(opacity = 100);
}

@-webkit-keyframes clip_anim_hor {
    0% {
        clip: rect(0px,300px,326px,170px);
        opacity:0;
    }
    20% {
        clip: rect(0px,400px,326px,320px);
        opacity:0.2;
    }
    40% {
        clip: rect(0px,140px,326px,60px);
        opacity:0.4;
    }
    60% {
        clip: rect(0px,400px,326px,300px);
        opacity:0.6;
    }
    80% {
        clip: rect(0px,200px,326px,0px);
        opacity:0.8;
    }
    100% {
        clip: rect(0px,470px,326px,0px);
        opacity:1;
    }
}

@keyframes clip_anim_hor {
    0% {
        clip: rect(0px,300px,326px,170px);
        opacity:0;
    }
    20% {
        clip: rect(0px,400px,326px,320px);
        opacity:0.2;
    }
    40% {
        clip: rect(0px,140px,326px,60px);
        opacity:0.4;
    }
    60% {
        clip: rect(0px,400px,326px,300px);
        opacity:0.6;
    }
    80% {
        clip: rect(0px,200px,326px,0px);
        opacity:0.8;
    }
    100% {
        clip: rect(0px,470px,326px,0px);
        opacity:1;
    }
}


/*---------------------Clip Animation Vertical--------------------------------- */

.no-touch .carousel-inner .eltd-slider-content .eltd-thumb.clip_anim_ver img {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation: clip_anim_ver 1.75s cubic-bezier(.165,.84,.44,1);
    animation: clip_anim_ver 1.75s cubic-bezier(.165,.84,.44,1);
}

.touch .carousel-inner .active .eltd-slider-content .eltd-thumb.clip_anim_ver {
    -webkit-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    -moz-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    -o-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    opacity: 1;
    filter: alpha(opacity = 100);
}


@-webkit-keyframes clip_anim_ver {
    0% {
        clip: rect(0px,470px,90px,0px);
        opacity:0;
    }
    20% {
        clip: rect(200px,470px,280px,0px);
        opacity:0.2;
    }
    40% {
        clip: rect(50px,470px,140px,0px);
        opacity:0.4;
    }
    60% {
        clip: rect(200px,470px,300px,0px);
        opacity:0.6;
    }
    80% {
        clip: rect(0px,470px,120px,0px);
        opacity:0.8;
    }
    100% {
        clip: rect(0px,470px,326px,0px);
        opacity:1;
    }
}
@keyframes clip_anim_ver {
    0% {
        clip: rect(0px,470px,90px,0px);
        opacity:0
    }
    20% {
        clip: rect(250px,470px,300px,0px);
        opacity:0.2
    }
    40% {
        clip: rect(100px,470px,170px,0px);
        opacity:0.4
    }
    60% {
        clip: rect(200px,470px,260px,0px);
        opacity:0.6
    }
    80% {
        clip: rect(50px,470px,120px,0px);
        opacity:0.8
    }
    100% {
        clip: rect(0px,470px,326px,0px);
        opacity:0.8
    }
}

/*---------------------Clip Animation Puzzle--------------------------------- */

.no-touch .carousel-inner .eltd-slider-content .eltd-thumb.clip_anim_puzzle img {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation:clip_anim_puzzle 1.75s ;
    animation:clip_anim_puzzle 1.75s ;
}

.touch .carousel-inner .active .eltd-slider-content .eltd-thumb.clip_anim_puzzle {
    -webkit-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    -moz-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    -o-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    opacity: 1;
    filter: alpha(opacity = 100);
}

@-webkit-keyframes clip_anim_puzzle {

    0% {
        clip: rect(163px,235px,163px,235px);
        opacity:0;
    }
    10% {
        clip: rect(163px,235px,326px,0px);
        opacity:0.2;
    }
    20% {
        clip: rect(163px,470px,326px,235px);
        opacity:0.3;
    }
    30% {
        clip: rect(0px,470px,163px,235px);
        opacity:0.4;
    }
    40% {
        clip: rect(0px,235px,163px,0px);
        opacity:0.5;
    }
    50% {
        clip: rect(163px,235px,326px,0px);
        opacity:0.6;
    }
    60% {
        clip: rect(163px,470px,326px,235px);
        opacity:0.7;
    }
    70% {
        clip: rect(0px,470px,163px,235px);
        opacity:0.8;
    }
    80% {
        clip: rect(0px,235px,163px,0px);
        opacity:0.9;
    }
    100% {
        clip: rect(0px,470px,326px,0px);
        opacity:1;
    }
}

@keyframes clip_anim_puzzle {

    0% {
        clip: rect(163px,235px,163px,235px);
        opacity:0;
    }
    10% {
        clip: rect(163px,235px,326px,0px);
        opacity:0.2;
    }
    20% {
        clip: rect(163px,470px,326px,235px);
        opacity:0.3;
    }
    30% {
        clip: rect(0px,470px,163px,235px);
        opacity:0.4;
    }
    40% {
        clip: rect(0px,235px,163px,0px);
        opacity:0.5;
    }
    50% {
        clip: rect(163px,235px,326px,0px);
        opacity:0.6;
    }
    60% {
        clip: rect(163px,470px,326px,235px);
        opacity:0.7;
    }
    70% {
        clip: rect(0px,470px,163px,235px);
        opacity:0.8;
    }
    80% {
        clip: rect(0px,235px,163px,0px);
        opacity:0.9;
    }
    100% {
        clip: rect(0px,470px,326px,0px);
        opacity:1;
    }
}

/*---------------------Graphic animation end--------------------------------- */

.carousel-inner .eltd-slider-content .eltd-thumb img{
    max-height: 100%;
}

.carousel-inner .eltd-slider-content .eltd-text{
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    -ms-transform: translateZ(0px);
    -o-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
    filter: alpha(opacity = 100);
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 15px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*------------------------------ All at once and one by one animations-------------------------------------------------------------*/

.carousel-inner .eltd-slider-content .eltd-text.all_at_once,
.carousel-inner .eltd-slider-content .eltd-slider-content-inner.all_at_once{
    opacity: 0;
    filter: alpha(opacity = 0);
}

.carousel-inner .eltd-slider-content .eltd-text.one_by_one,
.carousel-inner .eltd-slider-content .eltd-slider-content-inner.one_by_one{
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
    opacity: 1;
}

/*------------------------------ All at once from bottom -------------------------------------------------------------*/

.carousel-inner .active .eltd-slider-content .eltd-text.all_at_once.from_bottom,
.carousel-inner .eltd-slider-content .eltd-slider-content-inner.all_at_once.from_bottom{
    -webkit-animation: text-from-bottom 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-animation: text-from-bottom 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-animation: text-from-bottom 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    animation: text-from-bottom 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    opacity: 1;
    filter: alpha(opacity = 100);
}

@-webkit-keyframes text-from-bottom {
    0% {
        -webkit-transform: translate(0, 15%);
        opacity: 0;
    }
    50% {
        -webkit-transform: translate(0, 15%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0, 0);
        opacity: 1;
    }
}

@-moz-keyframes text-from-bottom {
    0% {
        -moz-transform: translate(0, 15%);
        opacity: 0;
    }
    50% {
        -moz-transform: translate(0, 15%);
        opacity: 0;
    }
    100% {
        -moz-transform: translate(0, 0);
        opacity: 1;
    }
}

@-o-keyframes text-from-bottom {
    0% {
        -o-transform: translate(0, 15%);
        opacity: 0.5;
    }
    50% {
        -o-transform: translate(0, 15%);
        opacity: 0;
    }
    100% {
        -o-transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes text-from-bottom {
    0% {
        transform: translate(0, 15%);
        opacity: 0;
    }
    50% {
        transform: translate(0, 15%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

/*------------------------------ All at once from bottom end-------------------------------------------------------------*/


/*------------------------------ All at once from top -------------------------------------------------------------*/

.carousel-inner .active .eltd-slider-content .eltd-text.all_at_once.from_top,
.carousel-inner .active .eltd-slider-content .eltd-slider-content-inner.all_at_once.from_top{
    -webkit-animation: text-from-top 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-animation: text-from-top 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-animation: text-from-top 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    animation: text-from-top 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    opacity: 1;
    filter: alpha(opacity = 100);
}

@-webkit-keyframes text-from-top {
    0% {
        -webkit-transform: translate(0, -15%);
        opacity: 0;
    }
    50% {
        -webkit-transform: translate(0, -15%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0, 0);
        opacity: 1;
    }
}

@-moz-keyframes text-from-top {
    0% {
        -moz-transform: translate(0, -15%);
        opacity: 0;
    }
    50% {
        -moz-transform: translate(0, -15%);
        opacity: 0;
    }
    100% {
        -moz-transform: translate(0, 0);
        opacity: 1;
    }
}

@-o-keyframes text-from-top {
    0% {
        -o-transform: translate(0, -15%);
        opacity: 0.5;
    }
    50% {
        -o-transform: translate(0, -15%);
        opacity: 0;
    }
    100% {
        -o-transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes text-from-top {
    0% {
        transform: translate(0, -15%);
        opacity: 0;
    }
    50% {
        transform: translate(0, -15%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

/*------------------------------ All at once from top end-------------------------------------------------------------*/


/*------------------------------ All at once from left -------------------------------------------------------------*/

.carousel-inner .active .eltd-slider-content .eltd-text.all_at_once.from_left,
.carousel-inner .active .eltd-slider-content .eltd-slider-content-inner.all_at_once.from_left{
    -webkit-animation: text-from-left 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-animation: text-from-left 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-animation: text-from-left 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    animation: text-from-left 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    opacity: 1;
    filter: alpha(opacity = 100);
}

@-webkit-keyframes text-from-left {
    0% {
        -webkit-transform: translate(-15%, 0);
        opacity: 0;
    }
    50% {
        -webkit-transform: translate(-15%, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0, 0);
        opacity: 1;
    }
}

@-moz-keyframes text-from-left {
    0% {
        -moz-transform: translate(-15%, 0);
        opacity: 0;
    }
    50% {
        -moz-transform: translate(-15%, 0);
        opacity: 0;
    }
    100% {
        -moz-transform: translate(0, 0);
        opacity: 1;
    }
}

@-o-keyframes text-from-left {
    0% {
        -o-transform: translate(-15%, 0);
        opacity: 0.5;
    }
    50% {
        -o-transform: translate(-15%, 0);
        opacity: 0;
    }
    100% {
        -o-transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes text-from-left {
    0% {
        transform: translate(-15%, 0);
        opacity: 0;
    }
    50% {
        transform: translate(-15%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

/*------------------------------ All at once from left end-------------------------------------------------------------*/


/*------------------------------ All at once from right -------------------------------------------------------------*/

.carousel-inner .active .eltd-slider-content .eltd-text.all_at_once.from_right,
.carousel-inner .active .eltd-slider-content .eltd-slider-content-inner.all_at_once.from_right{
    -webkit-animation: text-from-right 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-animation: text-from-right 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-animation: text-from-right 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    animation: text-from-right 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    opacity: 1;
    filter: alpha(opacity = 100);
}

@-webkit-keyframes text-from-right {
    0% {
        -webkit-transform: translate(15%, 0);
        opacity: 0;
    }
    50% {
        -webkit-transform: translate(15%, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0, 0);
        opacity: 1;
    }
}

@-moz-keyframes text-from-right {
    0% {
        -moz-transform: translate(15%, 0);
        opacity: 0;
    }
    50% {
        -moz-transform: translate(15%, 0);
        opacity: 0;
    }
    100% {
        -moz-transform: translate(0, 0);
        opacity: 1;
    }
}

@-o-keyframes text-from-right {
    0% {
        -o-transform: translate(15%, 0);
        opacity: 0.5;
    }
    50% {
        -o-transform: translate(15%, 0);
        opacity: 0;
    }
    100% {
        -o-transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes text-from-right {
    0% {
        transform: translate(15%, 0);
        opacity: 0;
    }
    50% {
        transform: translate(15%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

/*------------------------------ All at once from right end-------------------------------------------------------------*/


/*------------------------------ All at once fade -------------------------------------------------------------*/

.carousel-inner .active .eltd-slider-content .eltd-text.all_at_once.fade,
.carousel-inner .active .eltd-slider-content .eltd-slider-content-inner.all_at_once.fade{
    -webkit-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    -moz-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    -o-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    opacity: 1;
    filter: alpha(opacity = 100);
}


/*------------------------------ All at once fade end-------------------------------------------------------------*/


/*------------------------------ One by one from bottom -------------------------------------------------------------*/

.carousel-inner .eltd-slider-content .eltd-text.one_by_one.from_bottom .eltd-el,
.carousel-inner .eltd-slider-content .eltd-slider-content-inner.one_by_one.from_bottom{
    opacity: 0;
    filter: alpha(opacity = 0);
    position: relative;
    top: 70px;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_bottom .eltd-el,
.carousel-inner .active .eltd-slider-content .eltd-slider-content-inner.one_by_one.from_bottom{
    -webkit-animation: text-from-bottom-one-by-one 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    -moz-animation: text-from-bottom-one-by-one 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    -o-animation: text-from-bottom-one-by-one 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    animation: text-from-bottom-one-by-one 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
    filter: alpha(opacity = 100);
    -webkit-transform: translateZ(0px);
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_bottom .eltd-el:nth-child(2){
    animation-delay:0.3s;
    -webkit-animation-delay:0.3s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_bottom .eltd-el:nth-child(3){
    animation-delay:0.5s;
    -webkit-animation-delay:0.5s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_bottom .eltd-el:nth-child(4){
    animation-delay:0.7s;
    -webkit-animation-delay:0.7s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_bottom .eltd-el:nth-child(5){
    animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_bottom .eltd-el:nth-child(6){
    animation-delay:1.1s;
    -webkit-animation-delay:1.1s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_bottom .eltd-el:nth-child(7){
    animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_bottom .eltd-el:nth-child(8){
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_bottom .eltd-el:nth-child(9){
    animation-delay:1.7s;
    -webkit-animation-delay:1.7s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_bottom .eltd-el:nth-child(10){
    animation-delay:1.8s;
    -webkit-animation-delay:1.8s;
}

/*------------------------------ One by one from bottom end -------------------------------------------------------------*/


/*------------------------------ One by one from top -------------------------------------------------------------*/

.carousel-inner .eltd-slider-content .eltd-text.one_by_one.from_top .eltd-el,
.carousel-inner .eltd-slider-content .eltd-slider-content_inner.one_by_one.from_top{
    opacity: 0;
    filter: alpha(opacity = 0);
    position: relative;
    top: -70px;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_top .eltd-el,
.carousel-inner .active .eltd-slider-content .eltd-slider-content-inner.one_by_one.from_top{
    -webkit-animation: text-one-by-one-from-top 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    -moz-animation: text-one-by-one-from-top 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    -o-animation: text-one-by-one-from-top 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    animation: text-one-by-one-from-top 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
    filter: alpha(opacity = 100);
    -webkit-transform: translateZ(0px);
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_top .eltd-el:nth-child(2){
    animation-delay:0.3s;
    -webkit-animation-delay:0.3s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_top .eltd-el:nth-child(3){
    animation-delay:0.5s;
    -webkit-animation-delay:0.5s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_top .eltd-el:nth-child(4){
    animation-delay:0.7s;
    -webkit-animation-delay:0.7s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_top .eltd-el:nth-child(5){
    animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_top .eltd-el:nth-child(6){
    animation-delay:1.1s;
    -webkit-animation-delay:1.1s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_top .eltd-el:nth-child(7){
    animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_top .eltd-el:nth-child(8){
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_top .eltd-el:nth-child(9){
    animation-delay:1.7s;
    -webkit-animation-delay:1.7s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_top .eltd-el:nth-child(10){
    animation-delay:1.8s;
    -webkit-animation-delay:1.8s;
}



@-webkit-keyframes text-one-by-one-from-top {
    0% {
        top: -70px;
        opacity: 0;
    }
    50% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@-moz-keyframes text-one-by-one-from-top {
    0% {
        top: -70px;
        opacity: 0;
    }
    50% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@-o-keyframes text-one-by-one-from-top {
    0% {
        top: -70px;
        opacity: 0;
    }
    50% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes text-one-by-one-from-top {
    0% {
        top: -70px;
        opacity: 0;
    }
    50% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

/*----------------------------One by one from top end-------------------------------*/

/*------------------------------ One by one from left -------------------------------------------------------------*/

.carousel-inner .eltd-slider-content .eltd-text.one_by_one.from_left .eltd-el,
.carousel-inner .eltd-slider-content .eltd-slider-content-inner.one_by_one.from_left{
    opacity: 0;
    filter: alpha(opacity = 0);
    position: relative;
    left: -70px;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_left .eltd-el,
.carousel-inner .active .eltd-slider-content .eltd-slider-content-inner.one_by_one.from_left{
    -webkit-animation: text-one-by-one-from-left 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    -moz-animation: text-one-by-one-from-left 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    -o-animation: text-one-by-one-from-left 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    animation: text-one-by-one-from-left 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
    filter: alpha(opacity = 100);
    -webkit-transform: translateZ(0px);
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_left .eltd-el:nth-child(2){
    animation-delay:0.3s;
    -webkit-animation-delay:0.3s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_left .eltd-el:nth-child(3){
    animation-delay:0.5s;
    -webkit-animation-delay:0.5s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_left .eltd-el:nth-child(4){
    animation-delay:0.7s;
    -webkit-animation-delay:0.7s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_left .eltd-el:nth-child(5){
    animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_left .eltd-el:nth-child(6){
    animation-delay:1.1s;
    -webkit-animation-delay:1.1s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_left .eltd-el:nth-child(7){
    animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_left .eltd-el:nth-child(8){
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_left .eltd-el:nth-child(9){
    animation-delay:1.7s;
    -webkit-animation-delay:1.7s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_left .eltd-el:nth-child(10){
    animation-delay:1.8s;
    -webkit-animation-delay:1.8s;
}



@-webkit-keyframes text-one-by-one-from-left {
    0% {
        left: -70px;
        opacity: 0;
    }
    50% {
        left: 0px;
        opacity: 1;
    }
    100% {
        left: 0px;
        opacity: 1;
    }
}

@-moz-keyframes text-one-by-one-from-left {
    0% {
        left: -70px;
        opacity: 0;
    }
    50% {
        left: 0px;
        opacity: 1;
    }
    100% {
        left: 0px;
        opacity: 1;
    }
}

@-o-keyframes text-one-by-one-from-left {
    0% {
        left: -70px;
        opacity: 0;
    }
    50% {
        left: 0px;
        opacity: 1;
    }
    100% {
        left: 0px;
        opacity: 1;
    }
}

@keyframes text-one-by-one-from-left {
    0% {
        left: -70px;
        opacity: 0;
    }
    50% {
        left: 0px;
        opacity: 1;
    }
    100% {
        left: 0px;
        opacity: 1;
    }
}

/*----------------------------One by one from left end-------------------------------*/


/*------------------------------ One by one from right -------------------------------------------------------------*/

.carousel-inner .eltd-slider-content .eltd-text.one_by_one.from_right .eltd-el,
.carousel-inner .eltd-slider-content .eltd-slider-content-inner.one_by_one.from_right{
    opacity: 0;
    filter: alpha(opacity = 0);
    position: relative;
    right: -70px;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_right .eltd-el,
.carousel-inner .active .eltd-slider-content .eltd-slider-content-inner.one_by_one.from_right{
    -webkit-animation: text-one-by-one-from-right 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    -moz-animation: text-one-by-one-from-right 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    -o-animation: text-one-by-one-from-right 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    animation: text-one-by-one-from-right 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
    filter: alpha(opacity = 100);
    -webkit-transform: translateZ(0px);
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_right .eltd-el:nth-child(2){
    animation-delay:0.3s;
    -webkit-animation-delay:0.3s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_right .eltd-el:nth-child(3){
    animation-delay:0.5s;
    -webkit-animation-delay:0.5s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_right .eltd-el:nth-child(4){
    animation-delay:0.7s;
    -webkit-animation-delay:0.7s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_right .eltd-el:nth-child(5){
    animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_right .eltd-el:nth-child(6){
    animation-delay:1.1s;
    -webkit-animation-delay:1.1s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_right .eltd-el:nth-child(7){
    animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_right .eltd-el:nth-child(8){
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_right .eltd-el:nth-child(9){
    animation-delay:1.7s;
    -webkit-animation-delay:1.7s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.from_right .eltd-el:nth-child(10){
    animation-delay:1.8s;
    -webkit-animation-delay:1.8s;
}

@-webkit-keyframes text-one-by-one-from-right {
    0% {
        right: -70px;
        opacity: 0;
    }
    50% {
        right: 0px;
        opacity: 1;
    }
    100% {
        right: 0px;
        opacity: 1;
    }
}

@-moz-keyframes text-one-by-one-from-right {
    0% {
        right: -70px;
        opacity: 0;
    }
    50% {
        right: 0px;
        opacity: 1;
    }
    100% {
        right: 0px;
        opacity: 1;
    }
}

@-o-keyframes text-one-by-one-from-right {
    0% {
        right: -70px;
        opacity: 0;
    }
    50% {
        right: 0px;
        opacity: 1;
    }
    100% {
        right: 0px;
        opacity: 1;
    }
}

@keyframes text-one-by-one-from-right {
    0% {
        right: -70px;
        opacity: 0;
    }
    50% {
        right: 0px;
        opacity: 1;
    }
    100% {
        right: 0px;
        opacity: 1;
    }
}

/*----------------------------One by one from right end-------------------------------*/


/*------------------------------ One by one fade -------------------------------------------------------------*/

.carousel-inner .eltd-slider-content .eltd-text.one_by_one.fade .eltd-el,
.carousel-inner .eltd-slider-content .eltd-slider-content-inner.one_by_one.fade{
    opacity: 0;
    filter: alpha(opacity = 0);
    position: relative;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.fade .eltd-el,
.carousel-inner .active .eltd-slider-content .eltd-slider-content-inner.one_by_one.fade{
    -webkit-animation: fade 0.6s cubic-bezier(0.500, 0.110, 0.805, 0.320)  0.1s;
    -moz-animation: fade 0.6s cubic-bezier(0.500, 0.110, 0.805, 0.320)  0.1s;
    -o-animation: fade 0.6s cubic-bezier(0.500, 0.110, 0.805, 0.320)  0.1s;
    animation: fade 0.6s cubic-bezier(0.500, 0.110, 0.805, 0.320) 0.1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
    filter: alpha(opacity = 100);
    -webkit-transform: translateZ(0px);
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.fade .eltd-el:nth-child(2){
    animation-delay:0.3s;
    -webkit-animation-delay:0.3s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.fade .eltd-el:nth-child(3){
    animation-delay:0.5s;
    -webkit-animation-delay:0.5s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.fade .eltd-el:nth-child(4){
    animation-delay:0.7s;
    -webkit-animation-delay:0.7s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.fade .eltd-el:nth-child(5){
    animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.fade .eltd-el:nth-child(6){
    animation-delay:1.1s;
    -webkit-animation-delay:1.1s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.fade .eltd-el:nth-child(7){
    animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.fade .eltd-el:nth-child(8){
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.fade .eltd-el:nth-child(9){
    animation-delay:1.7s;
    -webkit-animation-delay:1.7s;
}

.carousel-inner .active .eltd-slider-content .eltd-text.one_by_one.fade .eltd-el:nth-child(10){
    animation-delay:1.8s;
    -webkit-animation-delay:1.8s;

}


/*----------------------------One by one fade end-------------------------------*/



/* if slide has thumbanail than set new animation delay times - start */

.carousel-inner .eltd-has-thumbnail.active .eltd-slider-content .eltd-text.one_by_one .eltd-el:nth-child(1){
    animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
}

.carousel-inner .eltd-has-thumbnail.active .eltd-slider-content .eltd-text.one_by_one .eltd-el:nth-child(2){
    animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
}

.carousel-inner .eltd-has-thumbnail.active .eltd-slider-content .eltd-text.one_by_one .eltd-el:nth-child(3){
    animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
}

.carousel-inner .eltd-has-thumbnail.active .eltd-slider-content .eltd-text.one_by_one .eltd-el:nth-child(4){
    animation-delay:0.8s;
    -webkit-animation-delay:0.8s;
}

.carousel-inner .eltd-has-thumbnail.active .eltd-slider-content .eltd-text.one_by_one .eltd-el:nth-child(5){
    animation-delay:1s;
    -webkit-animation-delay:1s;
}

.carousel-inner .eltd-has-thumbnail.active .eltd-slider-content .eltd-text.one_by_one .eltd-el:nth-child(6){
    animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
}

.carousel-inner .eltd-has-thumbnail.active .eltd-slider-content .eltd-text.one_by_one .eltd-el:nth-child(7){
    animation-delay:1.4s;
    -webkit-animation-delay:1.4s;
}

.carousel-inner .eltd-has-thumbnail.active .eltd-slider-content .eltd-text.one_by_one .eltd-el:nth-child(8){
    animation-delay:1.6s;
    -webkit-animation-delay:1.6s;
}

.carousel-inner .eltd-has-thumbnail.active .eltd-slider-content .eltd-text.one_by_one .eltd-el:nth-child(9){
    animation-delay:1.8s;
    -webkit-animation-delay:1.8s;
}

.carousel-inner .eltd-has-thumbnail.active .eltd-slider-content .eltd-text.one_by_one .eltd-el:nth-child(10){
    animation-delay:2s;
    -webkit-animation-delay:2s;
}

/* if slide has thumbanail than set new animation delay times - end */

/* one by one element animation - end */

.carousel-inner .eltd-slider-content .eltd-el{
    width: 100%;
}

.carousel-inner .eltd-slider-content .eltd-el > div{
    display: inline-block;
    vertical-align: middle;
    width: inherit;
}

.carousel-inner .eltd-slider-content .eltd-slide-buttons-holder {
    display: inline-block;
    width:100%;
}

.carousel-inner .eltd-slider-content .eltd-slide-buttons-holder .eltd-btn {
    margin: 30px 10px 0;
}

.carousel-inner .eltd-slider-content .eltd-slide-buttons-holder .eltd-btn:first-child {
    margin-left: 0;
}

.carousel-inner .eltd-slider-content .eltd-slide-buttons-holder .eltd-btn:last-child {
    margin-right: 0;
}

.carousel-inner h2 {
    clear: both;
    font-size: 64px;
    line-height: 1.3125em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 14px;
}

.carousel-inner h2 a{
    font-family: inherit !important;
    font-size: inherit !important;
    font-style: inherit !important;
    font-weight: inherit !important;
    letter-spacing: inherit !important;
    line-height: inherit !important;
    text-transform: inherit !important;
}

.carousel-inner h3 {
    color: #fff;
    margin: 0 0 14px;
    line-height: 1.3125em;
}

.carousel-inner h2 span,
.carousel-inner h3 span{
    display: inline-block;
}


.carousel-inner h3.eltd-slide-text{
    margin: 0;
    clear:both;
}

.carousel-inner .left .eltd-text,
.carousel-inner .left h2,
.carousel-inner .left h3{
    text-align: left;
}

.carousel-inner .center .eltd-text,
.carousel-inner .center h2,
.carousel-inner .center h3{
    text-align: center;
}

.carousel-inner .right .eltd-text,
.carousel-inner .right h2,
.carousel-inner .right h3{
    text-align: right;
}

.carousel-inner {
    left: 0 !important;
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -webkit-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -moz-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -o-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -ms-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}

.carousel-inner.eltd-relative-position,
.touch .carousel-inner{
    position: relative;
}

.carousel-inner .item img {
    display: inline-block !important;
}

.touch .carousel-inner .item {
    background-position: center 0px !important;
}

.carousel-inner .item .eltd-image{
    position: absolute;
    top: 0px;
    left: 0px;
    background-position: center 0px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 110%;

}

/* animate image - start */
@include ipad-landscape-min {
    .carousel-inner .item.eltd-animate-image.zoom_center .eltd-image{
        position: absolute;
        top: 0%;
        left: 0%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 110%;
        -webkit-backface-visibility: hidden; /* to prevent glittering on slide change */
        backface-visibility: hidden;
    }

    .carousel-inner .item.eltd-animate-image.zoom_top_left .eltd-image,
    .carousel-inner .item.eltd-animate-image.zoom_top_right .eltd-image,
    .carousel-inner .item.eltd-animate-image.zoom_bottom_left .eltd-image,
    .carousel-inner .item.eltd-animate-image.zoom_bottom_right .eltd-image{
        position: absolute;
        top: -12%;
        left: -12%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 125%;
        height: 125%;
        -webkit-backface-visibility: hidden; /* to prevent glittering on slide change */
        backface-visibility: hidden;
    }
}

/* animate image - end */

.carousel-inner .item .eltd-image img{
    display: none !important;
    width: 0px;
    height: 0px;
}

.carousel-inner .item .eltd-image-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.carousel-control {
    top: 0px;
    width: 8%;
    height: 100%;
    text-shadow: none;
    position: absolute;
    z-index: 2 !important;
    margin: 0px;
    outline: none;
    cursor: pointer;
    -webkit-transition: opacity 0.15s ease-out;
    -moz-transition: opacity 0.15s ease-out;
    -o-transition: opacity 0.15s ease-out;
    -ms-transform: opacity 0.15s ease-out;
    transition: opacity 0.15s ease-out;
    -webkit-backface-visibility: hidden; /* because navigation is not visible during animation on chrome */
    -moz-backface-visibility: hidden; /* because navigation glitters in ff */
}

.carousel-control.right {
    right: 0;
    left: auto;
}

.carousel-control:hover{
    opacity: 1 !important;
}

.carousel-control .eltd-prev-nav,
.carousel-control .eltd-next-nav {
    position: absolute;
    top: 50%;
    margin-top: -27px;
    height: 54px;
    width: 54px;
    line-height: 54px;
    font-size: 32px;
    color: #fff;
    background-color: rgba(54, 54, 54, 0.6);
    border-radius: 100px;
    border: 1px solid transparent;
    text-align: center;
    z-index: 10;

    -webkit-transition: background-color 0.15s ease-out, color 0.15s ease-out, border-color 0.15s ease-out, left .6s ease-in-out .3s, right .6s ease-in-out .3s;
    -moz-transition: background-color 0.15s ease-out, color 0.15s ease-out, border-color 0.15s ease-out, left .6s ease-in-out .3s, right .6s ease-in-out .3s;
    -o-transition: background-color 0.15s ease-out, color 0.15s ease-out, border-color 0.15s ease-out, left .6s ease-in-out .3s, right .6s ease-in-out .3s;
    -ms-transform: background-color 0.15s ease-out, color 0.15s ease-out, border-color 0.15s ease-out, left .6s ease-in-out .3s, right .6s ease-in-out .3s;
    transition: background-color 0.15s ease-out, color 0.15s ease-out, border-color 0.15s ease-out, left .6s ease-in-out .3s, right .6s ease-in-out .3s;
}

.carousel-control .eltd-prev-nav:hover,
.carousel-control .eltd-next-nav:hover{
    background-color: rgba(54, 54, 54, 1);
}

.carousel-control span span{
    display: block;
    line-height: inherit;
}

.carousel-control .eltd-prev-nav{
    left: 20px;
}

.carousel-control .eltd-next-nav{
    right: 20px;
}

/* thumb css - start */

.carousel-control .eltd-thumb-holder{
    width: 150px;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
}

/*left arrow*/
.carousel-control.left .eltd-thumb-holder{
    left: -200px;
    -webkit-transition: left .6s ease-in-out .3s;
    -moz-transition: left .6s ease-in-out .3s;
    -o-transition: left .6s ease-in-out .3s;
    -ms-transform: left .6s ease-in-out .3s;
    transition: left .6s ease-in-out .3s;
}

.eltd-in-progress .carousel-control.left .eltd-thumb-holder{
    left: -200px !important;
}

/*right arrow*/
.carousel-control.right .eltd-thumb-holder{
    right: -200px;
    -webkit-transition: right .6s ease-in-out .3s;
    -moz-transition: right .6s ease-in-out .3s;
    -o-transition: right .6s ease-in-out .3s;
    -ms-transform: right .6s ease-in-out .3s;
    transition: right .6s ease-in-out .3s;
}

.eltd-in-progress .carousel-control.right .eltd-thumb-holder{
    right: -200px !important;
}

.carousel-control .eltd-thumb-arrow{
    height: 50px;
    line-height: 50px;
    font-size: 25px;
}

/* effect on hover enabled in responsive above 1000px */

.carousel-control .eltd-numbers{
    height: 50px;
    line-height: 50px;
    font-size: 15px;
}

.carousel-control .eltd-numbers span{
    display: inline;
}

.carousel-control.left .eltd-thumb-arrow{
    float: left;
    padding: 0px 0px 0px 20px;
}

.carousel-control.left .eltd-numbers{
    float: right;
    padding: 0px 20px 0px 0px;
}

.carousel-control.right .eltd-thumb-arrow{
    float: right;
    padding: 0px 20px 0px 0px;
}

.carousel-control.right .eltd-numbers{
    float: left;
    padding: 0px 0px 0px 20px;
}

.carousel-control .eltd-prev-nav .eltd-numbers,
.carousel-control .eltd-next-nav .eltd-numbers {
    float: none;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    line-height: 50px;
    height: 50px;
    -ms-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}

.carousel-control .img{
    clear: both;
    width: 150px;
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0px 0px -2px 0px;
}

.eltd-thumb-holder .img img {
    vertical-align: middle;
}

/* thumb css - end */

.carousel-indicators:not(.thumbnails) li{
    vertical-align: middle;
    background-color: #fff;
    opacity: 0.4;
    margin: 0px 3px;
    -webkit-transition: background-color 0.15s ease-out, border-color 0.15s ease-out, opacity 0.15s ease-out;
    -moz-transition: background-color 0.15s ease-out, border-color 0.15s ease-out, opacity 0.15s ease-out;
    -o-transition: background-color 0.15s ease-out, border-color 0.15s ease-out, opacity 0.15s ease-out;
    -ms-transform: background-color 0.15s ease-out, border-color 0.15s ease-out, opacity 0.15s ease-out;
    transition: background-color 0.15s ease-out, border-color 0.15s ease-out, opacity 0.15s ease-out;
}

.carousel-indicators:not(.thumbnails) .active{
    opacity: 1;
    margin: 0px 3px;
}

.carousel-indicators.thumbnails .active img{
    padding:5px;
    transition: padding 0.2s ease-out;
    -o-transition: padding 0.2s ease-out;
    -ms-transition: padding 0.2s ease-out;
    -moz-transition: padding 0.2s ease-out;
    -webkit-transition: padding 0.2s ease-out;
}


@-webkit-keyframes rotate {
    0% {
        -webkit-transform: perspective(600px) rotateX(90deg) scale(.5);
        opacity: 0;
    }
    50% {
        -webkit-transform: perspective(600px) rotateX(90deg) scale(.5);
        opacity: 0;
    }
    100% {
        -webkit-transform: perspective(600px) rotateX(0deg) scale(1);
        opacity: 1;
    }
}

@-moz-keyframes rotate {
    0% {
        -moz-transform: perspective(600px) rotateX(90deg) scale(.5);
        opacity: 0;
    }
    50% {
        -moz-transform: perspective(600px) rotateX(90deg) scale(.5);
        opacity: 0;
    }
    100% {
        -moz-transform: perspective(600px) rotateX(0deg) scale(1);
        opacity: 1;
    }
}

@-o-keyframes rotate {
    0% {
        -o-transform: perspective(600px) rotateX(90deg) scale(.5);
        opacity: 0.2;
    }
    50% {
        -o-transform: perspective(600px) rotateX(90deg) scale(.5);
        opacity: 0.2;
    }
    100% {
        -o-transform: perspective(600px) rotateX(0deg) scale(1);
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: perspective(600px) rotateX(90deg) scale(.5);
        opacity: 0;
    }
    50% {
        transform: perspective(600px) rotateX(90deg) scale(.5);
        opacity: 0;
    }
    100% {
        transform: perspective(600px) rotateX(0deg) scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes text-from-bottom-one-by-one {
    0% {
        top: 70px;
        opacity: 0;
    }
    50% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@-moz-keyframes text-from-bottom-one-by-one {
    0% {
        top: 70px;
        opacity: 0;
    }
    50% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@-o-keyframes text-from-bottom-one-by-one {
    0% {
        top: 70px;
        opacity: 0;
    }
    50% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes text-from-bottom-one-by-one {
    0% {
        top: 70px;
        opacity: 0;
    }
    50% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

.carousel .eltd-video .eltd-mobile-video-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.carousel .eltd-video .eltd-video-overlay {
	height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 11;
}

.carousel .eltd-video .eltd-video-overlay.active {
    background-image: url("img/pixel-video.png");
    background-position: 0px 0px;
    background-repeat: repeat;
    opacity: 1;
}

.carousel .eltd-video .eltd-video-overlay img{
    display: none !important;
}

.carousel .eltd-video .eltd-video-wrap {
    top: 0px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.carousel .eltd-video .eltd-video-wrap .mejs-poster {
    background-size: cover !important;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
    -o-background-size: cover !important;
}

.carousel .eltd-video .eltd-video-wrap .mejs-container .mejs-controls {
    display: none !important;
}

.carousel .eltd-video .eltd-video-wrap .mejs-controls .mejs-button button:focus {
    outline: none !important;
}

.carousel .eltd-video .eltd-video-wrap .mejs-controls .mejs-time-rail .mejs-time-loaded {
    background-color: rgba(255, 255, 255, 0.18) !important;
}

.carousel .eltd-video .eltd-video-wrap .mejs-container {
    background-color: transparent !important;
    background-image: none !important;
    height: auto !important;
}

.carousel .eltd-video .eltd-video-wrap .mejs-mediaelement{
    background: none !important;
    border: 0px !important;
}

.carousel .eltd-video .eltd-video-wrap .mejs-container .mejs-poster img {
    max-width: none !important;
    width: 100% !important;
}

.carousel .eltd-video .eltd-video-wrap .mejs-controls button { opacity: 0.8; }
.carousel .eltd-video .eltd-video-wrap .mejs-controls button:hover, .mejs-controls .mejs-fullscreen-button:hover button { opacity: 1!important;}

.carousel .eltd-video .eltd-video-wrap .mejs-controls .mejs-time-rail .mejs-time-total {
    background: #1f1f1f none repeat scroll 0 0 !important;
}

.carousel .eltd-video .eltd-video-wrap .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: transparent !important;
}

.eltd-dark-header .carousel-indicators li{
  background-color: #000;
}

.eltd-dark-header .carousel-control .eltd-prev-nav,
.eltd-dark-header .carousel-control .eltd-next-nav{
  color: #000;
}

.eltd-light-header .carousel-indicators li{
  background-color: #fff;
}

.eltd-light-header .carousel-control .eltd-prev-nav,
.eltd-light-header .carousel-control .eltd-next-nav{
  color: #fff;
}

/* ==== Carousel Custom - End ==== */


/* ==========================================================================
   End of Elated slider styles
   ========================================================================== */