@include ipad-landscape {
    .carousel-inner{
        position: relative;
    }

    .carousel-inner > .item,
    .eltd-slider .carousel-control{
        padding-top: 0px !important;
    }

    .carousel .carousel-inner .eltd-slider-content-outer {
        display: table;
        box-sizing: border-box;
        display: table;
        padding: 0 5px;
    }

    .carousel .carousel-inner .eltd-slider-content .eltd-thumb {
        height: auto;
    }

    .carousel .carousel-inner .eltd-slider-content {
        display: table-cell;
        vertical-align: middle;
        position: static;
        top: 0 !important;
        left: 0 !important;
    }

    .carousel .carousel-inner .eltd-graphic-content{
        text-align: center;
    }

    .eltd-slider-thumbs .carousel-control.left:hover .eltd-thumb-holder{
        left: 0;
    }

    .carousel:not(.in_progress).eltd-slider-thumbs .carousel-control.left:hover .prev_nav{
        left: -200px;
    }

    .eltd-slider-thumbs .carousel-control.right:hover .eltd-thumb-holder{
        right: 0;
    }

    .carousel:not(.in_progress).eltd-slider-thumbs .carousel-control.right:hover .next_nav{
        right: -200px;
    }

    .carousel-inner .item.eltd-animate-image.zoom_center .eltd-image,
    .carousel-inner .item.eltd-animate-image.zoom_top_left .eltd-image,
    .carousel-inner .item.eltd-animate-image.zoom_top_right .eltd-image,
    .carousel-inner .item.eltd-animate-image.zoom_bottom_left .eltd-image,
    .carousel-inner .item.eltd-animate-image.zoom_bottom_right .eltd-image{
        transform: none !important;
        -webkit-transform: none !important;
    }
}

@include ipad-portrait {
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        margin-left: -15px;
        font-size: 30px;
    }

    .carousel-caption {
        right: 20%;
        left: 20%;
        padding-bottom: 30px;
    }
}

@include phone-landscape {
    .carousel-control {
        display: none;
    }
}

@include phone-portrait {
    .carousel .carousel-inner .eltd-slider-content-outer {
        width: 100% !important;
    }
}