/* ==========================================================================
# Social Share style - begin
========================================================================== */

.eltd-social-share-holder {
	
	ul {
		list-style: none;
		display: inline-block;
		margin: 0;
	}
	
}

.eltd-share-label {
	font-size: 14px;
	font-family: $headings-font-family-2;
	font-style: italic;
	margin-right: 8px;
}

/* List type - begin
========================================================================== */


.eltd-social-share-holder.eltd-list {
	font-size: 11px;

	li {
		display: inline-block;

		a {
			color: #545454;
			padding: 0 7px;

			&:hover {
				color: $first-main-color;
			}
		}

		&:last-child a {
			padding-right: 0;
		}
	}

}

/* List type - end
========================================================================== */

/* Dropdown type - begin
========================================================================== */

.eltd-social-share-holder.eltd-dropdown {
	position: relative;
	display: inline-block;

	.eltd-social-share-dropdown-opener {
		display: block;
	}

	.eltd-social-share-title {
		display: inline-block;
		margin-left: 5px;
	}

	.eltd-social-share-dropdown {
		visibility: hidden;
		z-index: 950;
		font-size: 11px;
		position: absolute;
		top: 2px;
		left: 100%;

		ul {
			position: relative;
			display: block;
			z-index: 990;
			padding: 0 !important;
			min-width: 50px;
			font-weight: 400;
		}

		ul li {
			visibility: hidden;
			position: absolute;
			text-align: center;
			min-width: 50px;
			float:left;
			opacity: 0.2;
			@include eltdTransition(all 0.2s ease-out);
		}

		img {
			width: 8px;
			margin-right: 10px;
		}
	}

	a {
		color: inherit;

		&:hover {
			color: $first-main-color;
		}
	}
}

.eltd-social-share-holder.eltd-dropdown:hover {

	.eltd-social-share-dropdown ul li {
		opacity: 1;
		visibility: visible;
		cursor: pointer;
	}

	.eltd-social-share-dropdown ul li {

		&:nth-child(2) {
			left: 30px;
			transition-delay: .1s;
		}

		&:nth-child(3){
			left: 60px;
			transition-delay: .2s;
		}

		&:nth-child(4){
			left: 90px;
			transition-delay: .3s;
		}

		&:nth-child(5){
			left: 120px;
			transition-delay: .4s;
		}

		&:nth-child(6){
			left: 150px;
			transition-delay: 0.5s;
		}

		&:nth-child(7){
			left: 180px;
			transition-delay: 0.6s;
		}

	}

}

/* Dropdown type - end
========================================================================== */

/* ==========================================================================
# Social Share style - end
========================================================================== */








