@media only screen and (max-width: map-get($breakpoints, ipad-landscape)) {
	.eltd-tabs.eltd-vertical .eltd-tabs-nav, .eltd-tabs.eltd-vertical .eltd-tab-container {
		width: 100% !important;
	}

	.eltd-tabs .eltd-tabs-nav li,
	.eltd-tabs.eltd-horizontal .eltd-tabs-nav li {
		float: none;
		display: block;
	}

	.eltd-tabs.eltd-horizontal .eltd-tab-container {
		border-top: 0;
	}

	.eltd-tabs.eltd-horizontal .eltd-tabs-nav li:last-child a {
		border-bottom: 1px solid #f2f2f2;
	}

	.eltd-tabs.eltd-vertical .eltd-tab-container {
		border: 1px solid #f2f2f2;
	}

	.eltd-tabs.eltd-vertical .eltd-tabs-nav li.ui-state-active a:after {
		content: none;
	}
}

@media only screen and (max-width: map-get($breakpoints, large-laptop)) {
	.eltd-tabs.eltd-horizontal .eltd-tabs-nav li:first-child {
		border-left: 0;
		border-bottom: 0;
	}

	.eltd-tabs.eltd-horizontal .eltd-tabs-nav li:first-child a {
		border-top: 1px solid #f2f2f2;
	}

	.eltd-tabs.eltd-horizontal .eltd-tabs-nav li a {
		border-left: 1px solid #f2f2f2;
		border-top: 0;
	}
}
