/* ==========================================================================
# Testimonial style - begin
========================================================================== */
.eltd-testimonials {
	z-index: 15;

	.eltd-testimonial-text-holder {
		position: relative;
		display: block;

		.eltd-testimonial-text-inner {
			display: block;
			text-align: center;
		}
	}

	.eltd-testimonial-title {
		font-size: 30px;
		line-height: 36px;
		font-weight: 700;
		margin: 20px 0;
		font-family: $headings-font-family;
		text-transform: uppercase;
	}

	.eltd-testimonial-author {
		margin-top: 50px;
	}

	.eltd-testimonial-author-text {
		margin-bottom: 4px;
	}

	.eltd-testimonials-job {
		font-weight: 400;
	}
	/* Testimonials image  styles */

	.eltd-testimonial-image-holder {
		text-align: center;

		img {
			display:inline-block;
			max-width: 100%;
			width: 85px;
			vertical-align: middle;
			@include eltdBorderRadius(50%);
		}
	}

}

.eltd-testimonials.owl-carousel {

	.owl-controls {

		width: 100%;

		.owl-prev {
			position: absolute;
			top: 50%;
			left: -90px;
			@include eltdTransform(translate(50%, -50%));
		}

		.owl-next {
			position: absolute;
			top: 50%;
			right: -90px;
			@include eltdTransform(translate(-50%, -50%));
		}

		.eltd-prev-icon,
		.eltd-next-icon {
			display: inline-block;
			text-align: center;
			font-size: 30px;
			line-height: 40px;
			color: #6d6e71;
			@include eltdTransition(all 0.2s ease-out);

			&:hover {
				@include eltdTransform(scale(1.1, 0.8));
			}
		}

	}

	.owl-dots {
		text-align: center;
		margin-top: 3px;

		.owl-dot {
			display: inline-block;
		    height: 8px;
		    border: 1px solid #363636;
		    margin: 0 3px;
		    border-radius: 50%;
		    width: 8px;
		    position: relative;
		    overflow: hidden;
		}

		.owl-dot span {
			display: inline-block;
			width: 10px;
			height: 10px;
    		position: absolute;
    		top:11px;
    		left: -1px;
			margin: 0;

			@include eltdTransition(0.15s all ease-out);
			@include eltdBorderRadius(50%);
			@include eltdBoxSizing(border-box);
		}

		.owl-dot.active span {
			background-color: #363636;
			top:-1px;
		}

	}

}

.eltd-testimonials {

	&.testimonials-slider {
		padding-top: 190px;
		margin-top: -190px;
	}

	&.testimonials-slider,
	&.testimonials-grid {

		.eltd-testimonials-holder-inner {
			margin: 0 -48px;

			.eltd-testimonial-content {
				padding: 0 48px;
			}
		}
	}

	&.testimonials-blocks {

		.eltd-testimonials-holder-inner {
			margin: 0 -13px;

			.eltd-testimonial-content {
				padding: 0 13px;

				.eltd-testimonial-text-inner {
					padding: 40px 55px 60px;
					box-sizing: border-box;
				}
			}
		}

		&.sliding-blocks {

			.eltd-testimonials-holder-inner {
				margin: 0;
			}
		}
	}
}

.eltd-testimonials-holder-inner {

	.eltd-testimonial-content {
		float: left;
		box-sizing: border-box;

		&.eltd-two-columns {
			width: 50%;
		}

		&.eltd-three-columns {
			width: 33.33%;
		}

		&.eltd-four-columns {
			width: 25%;
		}

		.eltd-testimonial-text {
			text-align: left;

			&.light {
				color: #fff;
			}
		}

		.eltd-testimonial-text-inner {
			width: 100%;
			height: 100%;
		}

		.eltd-testimonial-image-holder {
			vertical-align: middle;
			text-align: left;
			width: 110px;
		}

		.eltd-testimonial-text {
			font-weight: 300;
		}

		.eltd-testimonial-author {
			margin-top: 0;
		}

		.eltd-testimonial-author-text {

			&.light {
				color: #fff;
			}

			.eltd-testimonial-author-name {
				font-style: normal;
				font-family: $headings-font-family;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				color: #28262b;
				display: inline-block;
			}

			.eltd-testimonials-job {
				display: block;

				&:before {
					content: "/ ";
					font-style: normal;
					font-family: $headings-font-family;
					letter-spacing: 0.1em;
					text-transform: uppercase;
					color: #28262b;
				}
			}
		}

		.eltd-testimonial-text-inner.light {
			color: #fff;
		}

		&.testimonials-grid {
			margin-bottom: 37px;

			.eltd-testimonial-text {
				text-align: left;

				&.light {
					color: #fff;
				}
			}

			.eltd-testimonial-image-holder {
				margin-bottom: 25px;
			}

			.eltd-testimonial-author-text {

				&.light {
					color: #fff;
				}
			}

			.eltd-testimonials-job.light {
				color: #808285;

				&:before {
					color: #808285;
				}
			}

			.eltd-testimonial-text-inner.light {
				color: #fff;
			}
		}

		&.testimonials-blocks {
			margin-bottom: 26px;

			.eltd-testimonial-text {
				text-align: left;

				&.light {
					color: #fff;
				}
			}

			.eltd-testimonial-image-author {
				position: relative;
				margin-top: 32px;
			}

			.eltd-testimonial-image-holder {
				float: left;
			}

			.eltd-testimonial-text-inner {
				background-color: #fff;
			}

			.eltd-testimonial-author {
				padding-left: 110px;
			}

			.eltd-testimonial-author-text {

				font-weight: 400;

				&.light {
					color: #fff;
				}

				.eltd-testimonials-job {

					&:before {
						content: none;
					}
				}
			}

			.eltd-testimonial-text-inner.light {
				color: #fff;
			}
		}
	}
}

.eltd-testimonial-content.testimonials-slider {

	.eltd-testimonial-image-holder {
		margin-bottom: 30px;
	}

	.eltd-testimonial-author-text {

		&.light {
			color: #fff;
		}

		.eltd-testimonial-author-name {
			font-style: normal;
			font-family: $headings-font-family;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #28262b;
			display: inline-block;
		}

		.eltd-testimonials-job {
			display: inline-block;

			&:before {
				content: "/ ";
				font-style: normal;
				font-family: $headings-font-family;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				color: #28262b;
			}

			&.light:before {
				color: #808285;
			}
		}
	}

	.eltd-testimonial-title {
		margin-bottom: 50px;
	}

	.eltd-testimonial-author-name.light {
		color: #fff;
	}

	.eltd-testimonial-text-inner.light,
	.eltd-testimonials-job.light {
		color: #808285;
	}

	.eltd-testimonial-text {
		font-style: italic;
		font-family: $headings-font-family-2;
	}
}

.eltd-testimonials-holder.light .owl-carousel .owl-pagination .owl-page span {
	background: #fff;
}

/* ==========================================================================
# Testimonial style - end
========================================================================== */

