/* ==========================================================================
# Unordered List Style - begin
========================================================================== */

.eltd-unordered-list ul {
	display: block;
	margin: 0;
	padding: 0;

	> li {
		position: relative;
		font-family: inherit;
		font-size: 14px;
		font-weight: 500;
		margin-bottom: 12px;
		font-family: $headings-font-family;
	}
}

.eltd-unordered-list.eltd-line ul {
	list-style-type: none;

	> li {
		padding-left: 9px;
		margin-bottom: 11px;

		&:before {
			height: 20px;
			width: auto;
			line-height: 20px;
			display: inline-block;
			position: absolute;
			left: 0;
			top: 1px;
			padding: 0;
			color: #959595;
			text-align: center;
			content: '-';
		}
	}

}

.eltd-unordered-list.eltd-animate-list ul li {
	opacity: 0;
	top: -40px;
}

.touch .no_animation_on_touch .eltd-unordered-list.eltd-animate-list ul li {
	opacity: 1;
	top: 0;
}

/* ==========================================================================
# Unordered List Style - end
========================================================================== */
