@include ipad-landscape {
	.eltd-variable-width-slider {

		ul.slick-dots {
			bottom: 20px;
		}
	}
}

@include ipad-portrait {
	.eltd-variable-width-slider {

		ul.slick-dots {
			bottom: 0px;
		}
	}
}

@include phone-portrait {
	.eltd-variable-width-slider .slick-arrow.eltd-prev-icon {
		left: 10px;
	}

	.eltd-variable-width-slider .slick-arrow.eltd-next-icon {
		right: 10px;
	}
}