.eltd-content .wpb_widgetised_column ul,
.eltd-content .wpb_widgetised_column ol {
	margin: 0;
}

.wpb_widgetised_column {

	p {
		font-weight: 500;
	}

	.widget {

		margin-bottom: 40px;

		&.widget_search input[type=text]::-webkit-input-placeholder {
			color: #808285;
			font-size: 13px;
			font-weight: 400;
			font-style: italic;
		}

		&.widget_search input[type=text]:-moz-placeholder {
			color: #808285;
			font-size: 13px;
			font-weight: 400;
			font-style: italic;
		}

		&.widget_search input[type=text]::-moz-placeholder {
			color: #808285;
			font-size: 13px;
			font-weight: 400;
			font-style: italic;
		}

		&.widget_search input[type=text]:-ms-input-placeholder {
			color: #808285;
			font-size: 13px;
			font-weight: 400;
			font-style: italic;
		}

		&.widget_search input[type=text]:-ms-input-placeholder {
			color: #808285;
			font-size: 13px;
			font-weight: 400;
			font-style: italic;
		}

		ul li {
			color: #808285;
			font-weight: 300;
		}

		h3 {
			color: #414042;
			text-transform: uppercase;

			span.eltd-sidearea-title {
				display: table-cell;
				width: 1%;
				white-space: nowrap;
				line-height: inherit;
				letter-spacing: 0.1em;
			}
		}

		&.eltd-latest-posts-widget {
			margin-bottom: 20px;

			h3 {
				margin-bottom: 19px;
			}

			.eltd-image-in-box,
			.eltd-minimal {
				.eltd-item-title {
					text-transform: uppercase;

					&:hover a {
						color: $first-main-color;
					}

					a {
						color: #383838;
						font-size: 15px;
						font-style: normal;

						@include eltdTransition(color 0.2s ease-out);
					}
				}

				.eltd-excerpt {
					font-weight: 300;
				}
			}

		}

		&.widget_text {
			margin-bottom: 10px;

			h5 {
				margin-top: 9px;
			}

			h6 {
				margin-top: 0;
			}
		}

		ul li {

			a {
				font-size: 15px;
				line-height: 20px;
				font-weight: 300;
				font-family: $headings-font-family;
				color: #808285;
				letter-spacing: 0;

				@include eltdTransition(color .15s ease-out);

				&:hover {
					color: $first-main-color;
				}
			}
		}

		ul {
			list-style: none;
		}

		&.widget_archive select,
		&.widget_categories select,
		&.widget_text select {
			border: 1px solid #808285 !important;
		}

		&.widget_price_filter,
		&.widget_product_categories {
			margin-bottom: 45px;
		}

		&.widget_products {
			margin-bottom: 40px;
		}

		&.widget_top_rated_products {
			margin-bottom: 38px;
		}

		.searchform {
			position: relative;
			padding-right: 50px;
			overflow: hidden;

			input[type=text] {
				width: 100%;
			}

			input[type=submit] {
				position: absolute;
				right: 0;
			}
		}

		.searchform input[type=submit] {
			border: none;
			outline: 0;
			font-family: 'ElegantIcons';
			width: 60px;
			height: 50px;
			cursor: pointer;
			color: #909090;
			background-color: #fff;
			font-size: 13px;
			border: 1px solid #d7d7d7;
			border-left: 0;

			@include eltdBorderRadius(0);
		}

		&.widget_archive select,
		&.widget_categories select,
		.searchform input[type=text],
		&.widget_text select {
			width: 100%;
			overflow: hidden;
			background-color: #fff;
			padding: 0 21px;
			height: 50px;
			outline: none;
			color: #7f8385;
			font-family: inherit;
			border: 1px solid #d7d7d7;
			float: left;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;

			@include eltdBoxSizing(border-box);
		}

		&.widget_categories {
			margin-bottom: 37px;

			li {
				font-size: 15px;
				font-family: $headings-font-family;
				color: #808285;
				font-weight: 300;
			}

			h3 {
				margin-bottom: 40px;
			}

			h4 {
				margin-bottom: 15px;
			}

			ul li {
				position: relative;

				a {
					padding-bottom: 7px;
					padding-top: 7px;
				}
			}

			ul {
				margin-top: 0;
			}

		}

		&.widget_recent_comments li.recentcomments {
			padding-top: 7px;
			padding-bottom: 7px;
		}

		&.widget_rss ul li {
			padding-bottom: 7px;
			padding-top: 7px;
		}

		&.widget_nav_menu {

			ul.menu li a {
				padding-top: 7px;
				padding-bottom: 7px;
				display: block;
			}

			ul.sub-menu {

				> li {

					&:first-child {
						border-top: 0;
					}
				}
			}

			.current-menu-item > a {
				color: $first-main-color;
			}

			.menu-item-has-children > a {
				position: relative;

				&:after {
					content: '\35';

					position: absolute;
					right: 0;

					font-family: 'ElegantIcons';
					font-size: 12px;
					color: #cacaca;

					@include eltdTransition(0.2s ease-out);
				}

				&.eltd-custom-menu-active {
					&:after {
						@include eltdTransform(rotate(90deg));
					}
				}
			}

			li:last-child {
				a {
					padding-bottom: 7px !important;
				}
			}

			.sub-menu {
				display: none;
			}

			.current-menu-ancestor > .sub-menu,
			.current-menu-parent > .sub-menu {
				display: block;
			}
		}

		&.widget_calendar,
		&.widget_pages {
			margin-top: 80px;
			font-weight: 300;
		}

		&.widget_eltd_instagram_widget {
			margin-bottom: 37px;

			h3 {
				margin-bottom: 32px;
			}
		}

		&.widget_meta ul li {

			a {
				padding-bottom: 7px;
				padding-top: 7px;
			}
		}

		&.widget_eltd_instagram_widget {
			margin-bottom: 16px;

			h3 {
				margin-bottom: 32px;
			}
		}

		&.widget_pages ul li {

			ul.children {

				li:last-child {
					border-bottom: 0;
				}
			}

			a {
				padding-bottom: 7px;
				padding-top: 7px;
			}

		}

		&.widget_product_tag_cloud .tagcloud a,
		&.widget_tag_cloud .tagcloud a {
			font-size: 12px !important;
			display: inline-block;
			font-family: $headings-font-family;
			text-transform: uppercase;
			font-weight: 700;
			color: #363636;
			padding: 4px 28px;
			margin-bottom: 3px;
			border: 1px solid #e1e1e1;
			background-color: #fff;

			@include eltdTransition(background-color .2s ease-out, border .2s ease-out, color .2s ease-out);

			&:hover {
				background-color: $first-main-color;
				border: 1px solid $first-main-color;
				color: #fff;
			}
		}

		&.widget_tag_cloud {

			margin-bottom: 6px;

			h3 {
				margin-bottom: 30px;
				margin-top: 15px;
			}
		}

		&.widget_archive ul li {

			a {
				padding-bottom: 7px;
				padding-top: 7px;
			}
		}

		&.widget_eltd_twitter_widget {
			margin-bottom: 27px;

			h3 {
				margin-bottom: 20px;
			}

			.eltd-tweet-holder,
			.eltd_tweet_time {
				line-height: 24px;
				font-weight: 300;

				a:hover {
					color: $first-main-color;
				}
			}

			ul.eltd_twitter_widget {
				position: relative;

				&:before {
					content: "\e094";
					font-family: 'ElegantIcons';
					color: #f7f7f7;
					font-size: 102px;
					position: absolute;
					top: 15px;
					right: 50%;

					@include eltdTransform(translateX(50%));
				}

				li {
					padding-bottom: 8px;

					&:after {
						content: '....................';
						color: $first-main-color;
						font-weight: 300;
						font-style: italic;
						font-family: $headings-font-family-2
					}

				}
			}

			.eltd_tweet_text {
				font-size: 15px;
				color: #707070;
				z-index: 10;
				position: relative;
				margin-bottom: 2px;
			}
		}

	}

}