/* Woocommerce Product List Main and VC Shortcode - begin
========================================================================== */

.eltd-pl-main-holder,
.related.products,
.upsells.products,
.cross-sells,
.eltd-content .woocommerce {
	@include eltdRelativeHolderLayout();
}

.eltd-pl-main-holder {
	margin: 0 0 14px;
}

ul.products {
	list-style: none;
	margin: 0 -13px;
	clear: both;

	> .product {
		position: relative;
		float: left;
		display: inline-block;
		vertical-align: middle;
		padding: 0 13px;
		margin: 0 0 10px;
		@include eltdBoxSizing(border-box);

		.touch & {
			cursor: pointer;
		}

		a.button {
			@include eltdTransition(transform 0.2s ease-out);
			@include eltdTransition(-webkit-transform 0.2s ease-out);
			@include eltdTransform(translate3d(0,15px,0));
		}

		&:hover {

			.eltd-pl-inner .eltd-pl-text {
				opacity: 1;
				background:rgba(0,0,0,0.1);
			}

			a.button {
				@include eltdTransform(translate3d(0,0,0));
			}
		}

		.eltd-pl-inner {
			@include eltdRelativeHolderLayout();
			overflow: hidden;

			.eltd-pl-image {
				@include eltdRelativeHolderLayout();

				img {
					display: block;
					width: 100%;
				}
			}

			.eltd-pl-text {
				position: absolute;
				top: 0;
				left: 0;
				display: inline-block;
				width: 100%;
				height: 100%;
				padding: 10px;
				opacity: 0;
				@include eltdBoxSizing(border-box);
				@include eltdTransition(opacity .2s ease-out, background-color .2s ease-out);
			}

			.eltd-pl-text-outer {
				position: relative;
				display: table;
				width: 100%;
				height: 100%;
				text-align: center;
			}

			.eltd-pl-text-inner {
				position: relative;
				display: table-cell;
				width: 100%;
				height: 100%;
				vertical-align: middle;

				.button,
				.added_to_cart {
					color: $headings-text-color;
					background-color: #fff;
					z-index: 2;

					&:hover {
						color: #fff;
						background-color: #383838;
					}
				}
			}

			> a {
				position: absolute;
				top: 0;
				left: 0;
				display: inline-block;
				width: 100%;
				height: 100%;
			}
		}

		.eltd-pl-text-wrapper {
			@include eltdRelativeHolderLayout();
			margin: 0 0 42px;
			text-align: center;

			h3.eltd-product-list-title {
				line-height: 26px;
				margin-top: 19px;
				margin-bottom: 2px;
			}

			.eltd-product-list-title {
				margin: 14px 0 0;
				color: #444;
				text-transform: uppercase;
			}

			.eltd-pl-rating-holder {
				@include eltdRelativeHolderLayout();
				line-height: 1;
			}

			.price {
				position: relative;
				display: block;
				color: #000;
				font-size: 24px;
				font-weight: 300;
				line-height: 1;
				margin: 27px 0 7px;

				.woocommerce-Price-currencySymbol {
					vertical-align: super;
					font-size: 15px;
				}

				//&:before {
				//	content: '....................';
				//	color: $first-main-color;
				//	position: absolute;
				//	top: -21px;
				//	left: 50%;
				//	line-height: 3px;
				//	font-weight: 300;
				//	font-style: italic;
				//	font-family: $headings-font-family-2;
				//	font-size: 15px;
				//
				//	@include eltdTransform(translateX(-50%));
				//}

				* {
					font-size: inherit;
					line-height: inherit;
				}

				del {
					color: #999;
				}

				ins {
					text-decoration: none;
				}
			}

			a.eltd-category-shop-link {
				color: #808285;
				font-style: italic;
				font-family: $headings-font-family-2;

				@include eltdTransition(color 0.2s ease-out);

				&:hover {
					color: $first-main-color;
				}
			}
		}
	}
}

.eltd-pl-main-holder,
.related.products,
.upsells.products,
.cross-sells {

	$product_list_columns: ('columns-3', 'columns-4');

	@for $i from 0 to length($product_list_columns) {
		$column_width: 100%/($i+3);

		> .products {

			> .product {

				@media only screen and (min-width: map-get($breakpoints, ipad-landscape-plus-pixel)) {

					.eltd-woocommerce-#{nth($product_list_columns,$i+1)} & {
						width: $column_width;

						&:nth-child(#{$i+3}n+1) {
							clear: both;
						}
					}
				}

				@media only screen and (min-width: map-get($breakpoints, ipad-landscape-plus-pixel)) {

					.eltd-woocommerce-#{nth($product_list_columns,$i+1)} .eltd-woocommerce-with-sidebar & {
						$column_width: 100%/($i+3-1);
						width: $column_width;

						&:nth-child(#{$i+3}n+1) {
							clear: none;
						}

						&:nth-child(#{$i+3-1}n+1) {
							clear: both;
						}
					}
				}
			}
		}
	}
}

.woocommerce {

	&.columns-1 {

		> .products {

			> .product {
				float: none;
				width: 100%;
			}
		}
	}

	$product_list_vc_columns: ('columns-2', 'columns-3', 'columns-4', 'columns-5', 'columns-6');

	@for $i from 0 to length($product_list_vc_columns) {
		&.#{nth($product_list_vc_columns,$i+1)} {
			$column_vc_width: 100%/($i+2);

			> .products {

				> .product {
					width: $column_vc_width;
					$product_list_vc_columns_label: #{nth($product_list_vc_columns,$i+1)};

					@if $product_list_vc_columns_label == 'columns-5' {
						@media only screen and (min-width: map-get($breakpoints, laptop-landscape-plus-pixel)) {

							&:nth-child(#{$i+2}n+1) {
								clear: both;
							}
						}
					} @else if $product_list_vc_columns_label == 'columns-6' {
						@media only screen and (min-width: map-get($breakpoints, laptop-landscape-large-plus-pixel)) {

							&:nth-child(#{$i+2}n+1) {
								clear: both;
							}
						}
					} @else if $product_list_vc_columns_label == 'columns-3' {
						@media only screen and (min-width: map-get($breakpoints, ipad-portrait-plus-pixel)) {

							&:nth-child(#{$i+2}n+1) {
								clear: both;
							}
						}
					} @else if $product_list_vc_columns_label == 'columns-2' {
						@media only screen and (min-width: map-get($breakpoints, phone-landscape-plus-pixel)) {

							&:nth-child(#{$i+2}n+1) {
								clear: both;
							}
						}
					} @else {
						@media only screen and (min-width: map-get($breakpoints, ipad-landscape-plus-pixel)) {

							&:nth-child(#{$i+2}n+1) {
								clear: both;
							}
						}
					}
				}
			}
		}
	}
}

.woocommerce-page .eltd-content .widget.widget_search input[type=submit] {
	min-width: inherit;
}

.woocommerce-page .eltd-content .eltd-content-inner > .eltd-container > .eltd-container-inner,
.woocommerce-page .eltd-content .eltd-content-inner > .eltd-full-width > .eltd-full-width-inner {
	padding: 77px 0;
}

.woocommerce-page.eltd-woo-single-page .eltd-content .eltd-content-inner > .eltd-container > .eltd-container-inner,
.woocommerce-page.eltd-woo-single-page .eltd-content .eltd-content-inner > .eltd-full-width > .eltd-full-width-inner {
	padding: 100px 0;
}

.woocommerce-page.eltd-woo-single-page .eltd-title .eltd-title-holder .eltd-subtitle span,
.woocommerce-page .eltd-title .eltd-title-holder .eltd-subtitle span {
	display: none;
}

ul.products > .product .eltd-pl-text-wrapper .price:before,
.related.products ul.products > .product .eltd-pl-text-wrapper .price:before {
	content: '....................';
	color: $first-main-color;
	position: absolute;
	top: -21px;
	left: 50%;
	line-height: 3px;
	font-weight: 300;
	font-style: italic;
	font-family: $headings-font-family-2;
	font-size: 15px;

	@include eltdTransform(translateX(-50%));
}

/* Woocommerce Product List VC Shortcode - end
========================================================================== */