@include laptop-landscape {
	.eltd-blog-holder.eltd-masonry-full-width {
		article,
		.eltd-blog-masonry-grid-sizer {
			width: 23.5%;
		}
	}

	.eltd-blog-holder.eltd-blog-type-masonry .eltd-author-desc .eltd-image-name {
		width: 100% !important;
	}

	.eltd-blog-holder.eltd-blog-type-split-column article:not(.format-quote):not(.format-link) .eltd-post-image-wrapper,
	.eltd-blog-holder.eltd-blog-type-split-column article:not(.format-quote):not(.format-link) .eltd-post-text {
		display: inline-block;
		width: 100%;
	}
}

@include ipad-landscape {

	.eltd-grid-row {

		.eltd-grid-col-9,
		.eltd-grid-col-8 {

			.eltd-blog-holder {
				padding-right: 0;
			}

			&.eltd-grid-col-push-4,
			&.eltd-grid-col-push-3 {

				.eltd-blog-holder {
					padding-left: 0;
				}
			}
		}
	}

	.eltd-blog-holder.eltd-blog-type-split-column {

		article:not(.format-quote):not(.format-link) {

			.eltd-post-content {

				.eltd-post-image,
				.eltd-post-text {
					display: inline-block;
					width: 100%;
				}

				.eltd-post-text-inner {
					padding-left: 0px;
				}
			}
		}
	}

	.eltd-blog-holder.eltd-masonry-full-width {
		article,
		.eltd-blog-masonry-grid-sizer {
			width: 32%;
		}
	}
}

@include ipad-portrait {
	.eltd-blog-holder.eltd-blog-type-masonry {
		article,
		.eltd-blog-masonry-grid-sizer {
			width: 49%;
		}
	}

	.eltd-blog-holder.eltd-masonry-full-width {
		article,
		.eltd-blog-masonry-grid-sizer {
			width: 49%;
		}
	}

	.eltd-column1 .eltd-related-posts-holder .eltd-related-post,
	.eltd-column2 .eltd-related-posts-holder .eltd-related-post,
	.eltd-related-posts-holder .eltd-related-post {
		width: 49.875%;
		&:nth-child(2n) {
			margin-right: 0;
		}
		&:nth-child(2n+1) {
			clear: both;
		}
	}

}

@include phone-landscape {
	.eltd-blog-holder.eltd-blog-type-masonry {
		article,
		.eltd-blog-masonry-grid-sizer {
			width: 100%;
		}
	}

	.eltd-blog-holder.eltd-masonry-full-width {
		article,
		.eltd-blog-masonry-grid-sizer {
			width: 100%;
		}
	}

	.eltd-blog-holder .eltd-post-content .eltd-image-name {
		width: 100%;
	}

	.eltd-post-content .eltd-share-icons {
		width: 100%;
		text-align: left;
		margin-top: 10px;
	}

	.eltd-blog-single article.post .eltd-category-holder {
		width: 100%;
	}

	.single .eltd-single-tags-holder {
		width: 100%;
		padding-right: 0;
	}

	.eltd-blog-holder article.post .eltd-share-icons-single {
		width: 100%;
		text-align: left;
		padding-left: 0;
	}

	.eltd-blog-date-on-side .eltd-post-text-inner {
		margin-left: 55px !important;
	}

	.eltd-blog-date-on-side .eltd-post-content .eltd-author-desc {
		padding-left: 55px !important;
	}

	.eltd-blog-date-on-side .eltd-date-format {
		padding: 5px 10px 5px 10px !important;
	}

	.eltd-blog-date-on-side span.eltd-day {
		font-size: 17px !important;
	}

	.eltd-blog-date-on-side span.eltd-month {
		font-size: 12px !important;
	}
}

@include phone-portrait {

	.eltd-related-posts-holder .eltd-related-post {
		width: 100% !important;
		margin-right: 0 !important;
	}

	.eltd-related-posts-holder .eltd-related-posts-title h3:before,
	.eltd-related-posts-holder .eltd-related-posts-title h3:after {
		display: none !important;
	}

	.eltd-post-link-link h6 a {
		word-wrap: break-word;
	}

	.single-post .eltd-comment-holder .eltd-comment-text {
		padding: 0;
	}

	.single-post .eltd-comment-holder .eltd-comment-image img {
		margin-left: 0;
	}

	.single-post .eltd-comment-holder .eltd-comment-text .eltd-comment-info span.eltd-comment-date {
		margin-left: 0;
		float: left;
	}

	.eltd-comment-holder .eltd-comment-text .eltd-comment-name {
		margin-right: 10px;
	}

}
