@charset "UTF-8";

@font-face {
font-family: "dripicons";
src:url(//cthcenterprises.com/wp-content/themes/malmo/assets/css/dripicons/fonts/dripicons.eot);
src:url(//cthcenterprises.com/wp-content/themes/malmo/assets/css/dripicons/fonts/dripicons.eot?#iefix) format("embedded-opentype"),
url(//cthcenterprises.com/wp-content/themes/malmo/assets/css/dripicons/fonts/dripicons.ttf) format("truetype"),
url(//cthcenterprises.com/wp-content/themes/malmo/assets/css/dripicons/fonts/dripicons.svg#dripicons) format("svg"),
url(//cthcenterprises.com/wp-content/themes/malmo/assets/css/dripicons/fonts/dripicons.woff) format("woff");
font-weight: normal;
font-style: normal;
}
[data-dripicon]:before {
font-family: "dripicons";
content: attr(data-dripicon);
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none !important;
speak: none;
display: inline-block;
text-decoration: none;
width: 1em;
line-height: 1em;
-webkit-font-smoothing: antialiased;
}
[class^="dripicon-"]:before,
[class*=" dripicon-"]:before {
font-family: "dripicons";
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none !important;
speak: none;
display: inline-block;
text-decoration: none;
width: 1em;
line-height: 1em;
-webkit-font-smoothing: antialiased;
}
.dripicon-align-center:before {
content: "\e000";
}
.dripicon-align-justify:before {
content: "\e001";
}
.dripicon-align-left:before {
content: "\e002";
}
.dripicon-align-right:before {
content: "\e003";
}
.dripicon-arrow-down:before {
content: "\e004";
}
.dripicon-arrow-left:before {
content: "\e005";
}
.dripicon-arrow-thin-down:before {
content: "\e006";
}
.dripicon-arrow-right:before {
content: "\e007";
}
.dripicon-arrow-thin-left:before {
content: "\e008";
}
.dripicon-arrow-thin-up:before {
content: "\e009";
}
.dripicon-arrow-up:before {
content: "\e010";
}
.dripicon-attachment:before {
content: "\e011";
}
.dripicon-arrow-thin-right:before {
content: "\e012";
}
.dripicon-code:before {
content: "\e013";
}
.dripicon-cloud:before {
content: "\e014";
}
.dripicon-chevron-right:before {
content: "\e015";
}
.dripicon-chevron-up:before {
content: "\e016";
}
.dripicon-chevron-down:before {
content: "\e017";
}
.dripicon-chevron-left:before {
content: "\e018";
}
.dripicon-camera:before {
content: "\e019";
}
.dripicon-checkmark:before {
content: "\e020";
}
.dripicon-calendar:before {
content: "\e021";
}
.dripicon-clockwise:before {
content: "\e022";
}
.dripicon-conversation:before {
content: "\e023";
}
.dripicon-direction:before {
content: "\e024";
}
.dripicon-cross:before {
content: "\e025";
}
.dripicon-graph-line:before {
content: "\e026";
}
.dripicon-gear:before {
content: "\e027";
}
.dripicon-graph-bar:before {
content: "\e028";
}
.dripicon-export:before {
content: "\e029";
}
.dripicon-feed:before {
content: "\e030";
}
.dripicon-folder:before {
content: "\e031";
}
.dripicon-forward:before {
content: "\e032";
}
.dripicon-folder-open:before {
content: "\e033";
}
.dripicon-download:before {
content: "\e034";
}
.dripicon-document-new:before {
content: "\e035";
}
.dripicon-document-edit:before {
content: "\e036";
}
.dripicon-document:before {
content: "\e037";
}
.dripicon-gaming:before {
content: "\e038";
}
.dripicon-graph-pie:before {
content: "\e039";
}
.dripicon-heart:before {
content: "\e040";
}
.dripicon-headset:before {
content: "\e041";
}
.dripicon-help:before {
content: "\e042";
}
.dripicon-information:before {
content: "\e043";
}
.dripicon-loading:before {
content: "\e044";
}
.dripicon-lock:before {
content: "\e045";
}
.dripicon-location:before {
content: "\e046";
}
.dripicon-lock-open:before {
content: "\e047";
}
.dripicon-mail:before {
content: "\e048";
}
.dripicon-map:before {
content: "\e049";
}
.dripicon-media-loop:before {
content: "\e050";
}
.dripicon-mobile-portrait:before {
content: "\e051";
}
.dripicon-mobile-landscape:before {
content: "\e052";
}
.dripicon-microphone:before {
content: "\e053";
}
.dripicon-minus:before {
content: "\e054";
}
.dripicon-message:before {
content: "\e055";
}
.dripicon-menu:before {
content: "\e056";
}
.dripicon-media-stop:before {
content: "\e057";
}
.dripicon-media-shuffle:before {
content: "\e058";
}
.dripicon-media-previous:before {
content: "\e059";
}
.dripicon-media-play:before {
content: "\e060";
}
.dripicon-media-next:before {
content: "\e061";
}
.dripicon-media-pause:before {
content: "\e062";
}
.dripicon-monitor:before {
content: "\e063";
}
.dripicon-move:before {
content: "\e064";
}
.dripicon-plus:before {
content: "\e065";
}
.dripicon-phone:before {
content: "\e066";
}
.dripicon-preview:before {
content: "\e067";
}
.dripicon-print:before {
content: "\e068";
}
.dripicon-media-record:before {
content: "\e069";
}
.dripicon-music:before {
content: "\e070";
}
.dripicon-home:before {
content: "\e071";
}
.dripicon-question:before {
content: "\e072";
}
.dripicon-reply:before {
content: "\e073";
}
.dripicon-reply-all:before {
content: "\e074";
}
.dripicon-return:before {
content: "\e075";
}
.dripicon-retweet:before {
content: "\e076";
}
.dripicon-search:before {
content: "\e077";
}
.dripicon-view-thumb:before {
content: "\e078";
}
.dripicon-view-list-large:before {
content: "\e079";
}
.dripicon-view-list:before {
content: "\e080";
}
.dripicon-upload:before {
content: "\e081";
}
.dripicon-user-group:before {
content: "\e082";
}
.dripicon-trash:before {
content: "\e083";
}
.dripicon-user:before {
content: "\e084";
}
.dripicon-thumbs-up:before {
content: "\e085";
}
.dripicon-thumbs-down:before {
content: "\e086";
}
.dripicon-tablet-portrait:before {
content: "\e087";
}
.dripicon-tablet-landscape:before {
content: "\e088";
}
.dripicon-tag:before {
content: "\e089";
}
.dripicon-star:before {
content: "\e090";
}
.dripicon-volume-full:before {
content: "\e091";
}
.dripicon-volume-off:before {
content: "\e092";
}
.dripicon-warning:before {
content: "\e093";
}
.dripicon-window:before {
content: "\e094";
}