.eltd-meta-box {
  margin: -6px -12px -12px; }
  .eltd-meta-box .eltd-meta-box-holder {
    width: 100%; }
  .eltd-meta-box .eltd-meta-box-holder .eltd-page-form-section th {
    width: 250px; }
  .eltd-meta-box .eltd-meta-box-holder .eltd-page-form-section th p {
    font-weight: 400;
    color: #9e9e9e; }
  .eltd-meta-box .eltd-portfolio-media, .eltd-meta-box .eltd-portfolio-additional-item {
    background: #fff;
    margin-bottom: 5px; }
  .eltd-meta-box .eltd-portfolio-media .eltd-page-form-section {
    border-top: none; }
  .eltd-meta-box .eltd-meta-box-holder .eltd-portfolio-media .eltd-page-form-section,
  .eltd-meta-box .eltd-meta-box-holder .eltd-portfolio-additional-item .eltd-page-form-section {
    border-bottom: none;
    display: table;
    width: 100%; }
  .eltd-meta-box .eltd-portfolio-toggle-holder {
    display: table;
    width: 100%;
    border: 1px solid #dae0e8;
    position: relative;
    cursor: pointer; }
  .eltd-meta-box .eltd-portfolio-toggle {
    display: table-cell;
    vertical-align: middle;
    background: #ebeef2;
    color: #6F858D;
    height: 40px;
    padding: 0 10px; }
  .eltd-meta-box .eltd-portfolio-media .eltd-portfolio-toggle-content,
  .eltd-meta-box .eltd-portfolio-additional-item .eltd-portfolio-toggle-content {
    border: 1px solid #dbdee0;
    border-top: none; }
  .eltd-meta-box .eltd-portfolio-toggle .number {
    display: inline-block;
    background-color: #ABB7C7;
    color: #fff;
    width: 35px;
    text-align: center;
    border-radius: 5px;
    margin-right: 20px;
    padding: 1px 5px; }
  .eltd-meta-box .eltd-portfolio-toggle.eltd-portfolio-control {
    text-align: right;
    padding-right: 40px;
    color: #ABB7C7;
    font-size: 14px; }
  .eltd-meta-box .eltd-portfolio-toggle.eltd-portfolio-control a {
    color: #ABB7C7; }
  .eltd-meta-box .eltd-portfolio-toggle.eltd-portfolio-control a.remove-portfolio-media,
  .eltd-meta-box .eltd-portfolio-toggle.eltd-portfolio-control a.remove-portfolio-item {
    position: absolute;
    right: 0;
    top: 0;
    padding: 13px 11px 14px 5px;
    line-height: 0; }
  .eltd-meta-box .eltd-portfolio-add {
    padding: 20px; }
  .eltd-meta-box .eltd-portfolio-add a:first-child {
    margin-right: 3px; }
  .eltd-meta-box .eltd-portfolio-add a:last-child {
    margin-right: 10px; }
  .eltd-meta-box .eltd-portfolio-add i {
    margin-right: 5px; }
  .eltd-meta-box .eltd-meta-box-hidden {
    display: none; }
  .eltd-meta-box .eltd-meta-box-holder .eltd-page-form-container-holder .eltd-page-form-container-holder {
    border-left: none;
    margin-left: 0; }
  .eltd-meta-box .eltd-page.btn-default {
    margin-right: 0; }

div.inside > div > div > div.eltd-page-form-section:first-child {
  border-top: none; }

/*# sourceMappingURL=eltd-meta-boxes.css.map */

/* Gutenberg page CSS fix */

.block-editor-page .postbox {
  margin: 20px !important;
}

.block-editor-page .edit-post-layout__metaboxes {
  background: #f2f2f2 !important;
}

.edit-post-layout__metaboxes:not(:empty) {
  margin-top: 0 !important;
}

/* Color picker fix */

.eltd-meta-box .iris-picker,
.eltd-meta-box .iris-picker * {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
