/* ==========================================================================
   WooCommerce Quantity Inputs responsive styles - begin
   ========================================================================== */

@include ipad-portrait {

    .woocommerce-page,
    div.woocommerce {

        .eltd-quantity-buttons {

            .eltd-quantity-input,
            .eltd-quantity-minus,
            .eltd-quantity-plus {
                font-size: 13px;
            }

            .eltd-quantity-input {
                height: 38px;
                width: 38px;
                margin: 0 19px 0 0;
                line-height: 36px;
            }

            .eltd-quantity-minus,
            .eltd-quantity-plus {
                width: 19px;
                height: 19px;
                line-height: 17px;
            }
        }
    }
}   
/* ==========================================================================
   WooCommerce Quantity Inputs responsive styles - end
   ========================================================================== */