/* Portfolio standard styles - begin
   ========================================================================== */
.eltd-portfolio-list-holder-outer.eltd-ptf-standard {

	.eltd-ptf-item-text-holder {
		padding: 15px 0;
	}

	.eltd-ptf-item-title {
		margin-bottom: 0;
		text-transform: uppercase;
		color: #1b1b1b;
	}

	.eltd-ptf-item-excerpt p {
		margin-bottom: 0;
		margin-top: 15px;
		font-weight: 300;
	}

	.eltd-ptf-item-category {

		h5 {
			margin: 0;
		}
	}

	.eltd-portfolio-item {

		.eltd-ptf-item-image-holder {
			overflow:hidden;

			a {
				@include eltdTransition(all 0.15s ease-in-out);
			}
		}

		&:hover {

			.eltd-ptf-item-image-holder a {
				@include eltdTransform(scale(1.03,1.03));
			}

		}

	}


	&.eltd-ptf-with-spaces { 
		.eltd-portfolio-list-holder {
			article,
			.eltd-ptf-gap {
				margin: 0 0 2.3%;
			}
		}

		&.eltd-ptf-two-columns {
			.eltd-portfolio-list-holder {
				article,
				.eltd-ptf-gap {
					width: 48.85%;
				}
			}
		}

		&.eltd-ptf-three-columns {
			article,
			.eltd-ptf-gap {
				width: 31.8%;
			}
		}

		&.eltd-ptf-four-columns {
			article,
			.eltd-ptf-gap {
				width: 23.25%;
			}
		}

		&.eltd-ptf-five-columns {

			article,
			.eltd-ptf-gap {
				width: 18%;
			}
		}

		&.eltd-ptf-six-columns {

			article,
			.eltd-ptf-gap {
				width: 14.5%;
			}
		}


	}
}

/* Portfolio standard styles - end
   ========================================================================== */