@media only screen and (max-width: 1200px) {
  .eltd-grid,
  .eltd-container-inner,
  .eltd-grid-section .eltd-section-inner,
  .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-grid,
  .eltd-container-inner,
  .eltd-grid-section .eltd-section-inner,
  .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-grid,
  .eltd-container-inner,
  .eltd-grid-section .eltd-section-inner,
  .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-grid,
  .eltd-container-inner,
  .eltd-grid-section .eltd-section-inner,
  .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-grid,
  .eltd-container-inner,
  .eltd-grid-section .eltd-section-inner,
  .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .eltd-grid,
  .eltd-container-inner,
  .eltd-grid-section .eltd-section-inner,
  .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 95%;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-boxed .eltd-wrapper .eltd-wrapper-inner,
  .eltd-boxed .eltd-wrapper .eltd-footer-inner {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-boxed .eltd-wrapper .eltd-wrapper-inner,
  .eltd-boxed .eltd-wrapper .eltd-footer-inner {
    width: 818px;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-boxed .eltd-wrapper .eltd-wrapper-inner,
  .eltd-boxed .eltd-wrapper .eltd-footer-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-boxed .eltd-wrapper .eltd-wrapper-inner,
  .eltd-boxed .eltd-wrapper .eltd-footer-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-boxed .eltd-wrapper .eltd-wrapper-inner,
  .eltd-boxed .eltd-wrapper .eltd-footer-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .eltd-boxed .eltd-wrapper .eltd-wrapper-inner,
  .eltd-boxed .eltd-wrapper .eltd-footer-inner {
    width: 96%;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-content {
    margin-top: 0px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-two-columns-50-50 .eltd-column,
  .eltd-two-columns-66-33 .eltd-column1,
  .eltd-two-columns-66-33 .eltd-column2,
  .eltd-two-columns-33-66 .eltd-column1,
  .eltd-two-columns-33-66 .eltd-column2,
  .eltd-two-columns-25-75 .eltd-column1,
  .eltd-two-columns-25-75 .eltd-column2,
  .eltd-two-columns-75-25 .eltd-column1,
  .eltd-two-columns-75-25 .eltd-column2,
  .eltd-three-columns .eltd-column,
  .eltd-four-columns .eltd-column {
    width: 100%;
  }
  .eltd-two-columns-66-33 .eltd-column1 .eltd-column-inner,
  .eltd-two-columns-66-33 .eltd-column2 .eltd-column-inner,
  .eltd-two-columns-33-66 .eltd-column1 .eltd-column-inner,
  .eltd-two-columns-33-66 .eltd-column2 .eltd-column-inner,
  .eltd-two-columns-75-25 .eltd-column1 .eltd-column-inner,
  .eltd-two-columns-75-25 .eltd-column2 .eltd-column-inner,
  .eltd-two-columns-25-75 .eltd-column1 .eltd-column-inner,
  .eltd-two-columns-25-75 .eltd-column2 .eltd-column-inner {
    padding: 0 0 0 0;
  }
}

@media only screen and (max-width: 1280px) {
  .eltd-section.eltd-row-with-scroll-icon .eltd-row-scroll-icon {
    bottom: 30px;
  }
}

@media only screen and (max-width: 320px) {
  .eltd-section-inner-margin {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-section.eltd-row-with-scroll-icon .eltd-row-scroll-icon {
    display: none;
  }
}

@media only screen and (max-width: 1025px) {
  aside.eltd-sidebar {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 480px) {
  .error404 .eltd-page-not-found {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-page-header {
    display: none;
  }
  .eltd-mobile-header {
    display: block;
  }
  .eltd-header-vertical .eltd-vertical-menu-area {
    display: none;
  }
  .eltd-header-vertical .eltd-content, .eltd-header-vertical footer {
    padding-left: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-drop-down .wide .second > .inner > ul {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-drop-down .wide .second > .inner > ul {
    width: 768px;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-boxed .eltd-page-header .eltd-sticky-header,
  .eltd-boxed .eltd-page-header .eltd-fixed-wrapper.fixed {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-boxed.eltd-sticky-up-mobile-header .mobile-header-appear .eltd-mobile-header-inner {
    width: 818px;
    left: auto;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-boxed.eltd-sticky-up-mobile-header .mobile-header-appear .eltd-mobile-header-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-boxed.eltd-sticky-up-mobile-header .mobile-header-appear .eltd-mobile-header-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-boxed.eltd-sticky-up-mobile-header .mobile-header-appear .eltd-mobile-header-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .eltd-boxed.eltd-sticky-up-mobile-header .mobile-header-appear .eltd-mobile-header-inner {
    width: 96%;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-top-bar {
    background-color: #323232 !important;
    height: auto;
    display: none;
  }
  .eltd-top-bar .eltd-vertical-align-containers {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .eltd-top-bar .eltd-vertical-align-containers .eltd-position-left,
  .eltd-top-bar .eltd-vertical-align-containers .eltd-position-right {
    float: none;
    text-align: center;
    width: 100%;
  }
  .eltd-top-bar .eltd-vertical-align-containers .eltd-position-left {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 768px) {
  footer .eltd-footer-top:not(.eltd-footer-top-full) .eltd-container-inner {
    padding: 50px 0 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-title.eltd-has-background {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    height: auto !important;
    padding: 0 !important;
  }
  .eltd-title.eltd-title-image-not-responsive .eltd-title-image {
    display: block;
  }
  .eltd-title .eltd-title-holder {
    height: 100% !important;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 !important;
  }
  .eltd-title .eltd-title-holder .eltd-container {
    display: block;
    height: 100%;
  }
  .eltd-title .eltd-title-holder .eltd-container-inner {
    display: table;
    height: 100%;
  }
  .eltd-title .eltd-title-holder .eltd-title-subtitle-holder {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
  .eltd-title .eltd-title-subtitle-holder {
    padding: 0px !important;
  }
  .eltd-title.eltd-standard-type .eltd-breadcrumbs-holder {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-large-title-text .eltd-title .eltd-title-holder h1 {
    font-size: 40px;
  }
  .eltd-large-title-text.eltd-title-with-subtitle .eltd-title .eltd-title-holder h1 {
    margin-bottom: 15px;
  }
  .eltd-title .eltd-title-holder .eltd-subtitle {
    width: 100%;
  }
  .eltd-large-title-text .eltd-title .eltd-title-holder .eltd-subtitle {
    font-size: 15px;
  }
  .eltd-title-separator-with-icon {
    display: none;
  }
  .eltd-title.eltd-standard-type.eltd-content-center-alignment .eltd-breadcrumbs-holder {
    margin: 10px 0 0 0;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-large-title-text .eltd-title .eltd-title-holder h1 {
    font-size: 30px;
  }
  .eltd-large-title-text.eltd-title-with-subtitle .eltd-title .eltd-title-holder h1 {
    margin-bottom: 10px;
  }
  .eltd-medium-title-text .eltd-title .eltd-title-holder h1 {
    font-size: 20px;
  }
  .eltd-medium-title-text.eltd-title-with-subtitle .eltd-title .eltd-title-holder h1 {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-medium-title-text .eltd-title .eltd-title-holder h1 {
    font-size: 18px;
  }
  .eltd-title .eltd-title-holder .eltd-breadcrumbs a, .eltd-title .eltd-title-holder .eltd-breadcrumbs span {
    font-size: 12px;
  }
  .eltd-title .eltd-title-holder .eltd-subtitle {
    font-size: 13px;
  }
  .eltd-title .eltd-title-holder h1 {
    font-size: 28px;
  }
  .eltd-breadcrumbs-holder {
    display: none !important;
  }
}

/* ==========================================================================
   Elements Holder Responsive start style
   ========================================================================== */
@media only screen and (max-width: 1440px) {
  .eltd-elements-holder.eltd-responsive-mode-1440.eltd-two-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1440.eltd-three-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1440.eltd-four-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1440.eltd-five-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1440.eltd-six-columns .eltd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 1280px) {
  .eltd-elements-holder.eltd-responsive-mode-1280.eltd-two-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1280.eltd-three-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1280.eltd-four-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1280.eltd-five-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1280.eltd-six-columns .eltd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-elements-holder.eltd-responsive-mode-1024.eltd-two-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1024.eltd-three-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1024.eltd-four-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1024.eltd-five-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1024.eltd-six-columns .eltd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-elements-holder.eltd-responsive-mode-768.eltd-two-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-768.eltd-three-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-768.eltd-four-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-768.eltd-five-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-768.eltd-six-columns .eltd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-elements-holder.eltd-responsive-mode-600.eltd-two-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-600.eltd-three-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-600.eltd-four-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-600.eltd-five-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-600.eltd-six-columns .eltd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-elements-holder.eltd-responsive-mode-480.eltd-two-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-480.eltd-three-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-480.eltd-four-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-480.eltd-five-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-480.eltd-six-columns .eltd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-elements-holder .eltd-elements-holder-item-content {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1440px) {
  .eltd-elements-holder.eltd-responsive-mode-1440.eltd-one-column-alignment-left .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: left;
  }
  .eltd-elements-holder.eltd-responsive-mode-1440.eltd-one-column-alignment-right .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: right;
  }
  .eltd-elements-holder.eltd-responsive-mode-1440.eltd-one-column-alignment-center .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 1280px) {
  .eltd-elements-holder.eltd-responsive-mode-1280.eltd-one-column-alignment-left .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: left;
  }
  .eltd-elements-holder.eltd-responsive-mode-1280.eltd-one-column-alignment-right .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: right;
  }
  .eltd-elements-holder.eltd-responsive-mode-1280.eltd-one-column-alignment-center .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-elements-holder.eltd-responsive-mode-1024.eltd-one-column-alignment-left .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: left;
  }
  .eltd-elements-holder.eltd-responsive-mode-1024.eltd-one-column-alignment-right .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: right;
  }
  .eltd-elements-holder.eltd-responsive-mode-1024.eltd-one-column-alignment-center .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-elements-holder.eltd-responsive-mode-768.eltd-one-column-alignment-left .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: left;
  }
  .eltd-elements-holder.eltd-responsive-mode-768.eltd-one-column-alignment-right .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: right;
  }
  .eltd-elements-holder.eltd-responsive-mode-768.eltd-one-column-alignment-center .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-elements-holder.eltd-responsive-mode-600.eltd-one-column-alignment-left .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: left;
  }
  .eltd-elements-holder.eltd-responsive-mode-600.eltd-one-column-alignment-right .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: right;
  }
  .eltd-elements-holder.eltd-responsive-mode-600.eltd-one-column-alignment-center .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-elements-holder.eltd-responsive-mode-480.eltd-one-column-alignment-left .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: left;
  }
  .eltd-elements-holder.eltd-responsive-mode-480.eltd-one-column-alignment-right .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: right;
  }
  .eltd-elements-holder.eltd-responsive-mode-480.eltd-one-column-alignment-center .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: center;
  }
}

/* ==========================================================================
   End of Elements Holder Responsive style
   ========================================================================== */
/* ==========================================================================
   Google Map start style
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-google-map-overlay {
    display: block;
  }
}

/* ==========================================================================
   End of Google Map style
   ========================================================================== */
/* ==========================================================================
# Team responsive style - begin
========================================================================== */
@media only screen and (max-width: 1280px) {
  .eltd-team-list.eltd-team-list-six-columns .eltd-team {
    width: 33.33%;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-team-list.eltd-team-list-four-columns .eltd-team, .eltd-team-list.eltd-team-list-six-columns .eltd-team {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-team-list.eltd-team-list-three-columns .eltd-team {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-team-list.eltd-team-list-four-columns .eltd-team, .eltd-team-list.eltd-team-list-six-columns .eltd-team {
    width: 100%;
  }
}

/* ==========================================================================
# Team responsive style - end
========================================================================== */
/* ==========================================================================
# Call to action responsive style - begin
========================================================================== */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .eltd-call-to-action .eltd-call-to-action-row-75-25 .eltd-call-to-action-column1 {
    width: 65%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .eltd-call-to-action .eltd-call-to-action-row-75-25 .eltd-call-to-action-column2 {
    width: 35%;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-call-to-action .eltd-call-to-action-cell {
    display: block;
    text-align: center !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-call-to-action .eltd-text-wrapper .eltd-call-to-action-icon-holder {
    position: relative;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-call-to-action .eltd-text-wrapper .eltd-call-to-action-icon {
    display: inline-block;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-call-to-action .eltd-text-wrapper .eltd-call-to-action-text {
    text-align: center;
    margin-bottom: 10px;
    padding: 0 !important;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-call-to-action .eltd-button-wrapper {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-call-to-action.with-icon {
    padding: 0;
  }
}

/* ==========================================================================
# Call to action responsive style - end
========================================================================== */
/* ==========================================================================
# Counter responsive style - begin
========================================================================== */
/* ==========================================================================
# Counter responsive style - end
========================================================================== */
/* ==========================================================================
# Countdown responsive style - begin
========================================================================== */
@media only screen and (max-width: 1024px) {
  .countdown-amount {
    font-size: 50px !important;
    line-height: 50px !important;
  }
}

@media only screen and (max-width: 600px) {
  .countdown-amount {
    font-size: 35px !important;
    line-height: 35px !important;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .countdown-period {
    font-size: 15px !important;
    margin-top: 36px;
  }
  .countdown-period:before {
    content: '..........';
    top: -34px;
  }
}

@media only screen and (max-width: 600px) {
  .countdown-period {
    font-size: 10px !important;
    margin-top: 16px;
  }
  .countdown-period:before {
    content: '.......';
    top: -20px;
    font-size: 12px;
  }
}

/* ==========================================================================
# Countdown responsive style - end
========================================================================== */
/* ==========================================================================
# Message responsive style - begin
========================================================================== */
/* Unique style for both types  - begin
========================================================================== */
@media only screen and (max-width: 480px) {
  .eltd-message {
    padding: 20px 22px;
  }
}

@media screen and (max-width: 320px) {
  .eltd-message .eltd-message-text {
    line-height: normal;
  }
}

/* Unique style for both types - end
========================================================================== */
/* Type with icon - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .eltd-message.eltd-with-icon .eltd-message-icon-holder {
    padding: 20px 22px;
  }
}

/* Type with icon - end
========================================================================== 
/* ==========================================================================
# Message responsive style - end
========================================================================== */
@media only screen and (max-width: 1200px) {
  .eltd-pricing-tables.eltd-four-columns .eltd-price-table {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1025px) {
  .eltd-pricing-tables.eltd-two-columns .eltd-price-table,
  .eltd-pricing-tables.eltd-three-columns .eltd-price-table,
  .eltd-pricing-tables.eltd-four-columns .eltd-price-table {
    width: 100%;
    margin-bottom: 30px;
  }
  .eltd-pricing-tables.eltd-two-columns .eltd-price-table:last-child,
  .eltd-pricing-tables.eltd-three-columns .eltd-price-table:last-child,
  .eltd-pricing-tables.eltd-four-columns .eltd-price-table:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-tabs.eltd-vertical .eltd-tabs-nav, .eltd-tabs.eltd-vertical .eltd-tab-container {
    width: 100% !important;
  }
  .eltd-tabs .eltd-tabs-nav li,
  .eltd-tabs.eltd-horizontal .eltd-tabs-nav li {
    float: none;
    display: block;
  }
  .eltd-tabs.eltd-horizontal .eltd-tab-container {
    border-top: 0;
  }
  .eltd-tabs.eltd-horizontal .eltd-tabs-nav li:last-child a {
    border-bottom: 1px solid #f2f2f2;
  }
  .eltd-tabs.eltd-vertical .eltd-tab-container {
    border: 1px solid #f2f2f2;
  }
  .eltd-tabs.eltd-vertical .eltd-tabs-nav li.ui-state-active a:after {
    content: none;
  }
}

@media only screen and (max-width: 1400px) {
  .eltd-tabs.eltd-horizontal .eltd-tabs-nav li:first-child {
    border-left: 0;
    border-bottom: 0;
  }
  .eltd-tabs.eltd-horizontal .eltd-tabs-nav li:first-child a {
    border-top: 1px solid #f2f2f2;
  }
  .eltd-tabs.eltd-horizontal .eltd-tabs-nav li a {
    border-left: 1px solid #f2f2f2;
    border-top: 0;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-accordion-holder:not(.eltd-boxed) div.eltd-accordion-content {
    padding: 10px;
  }
  .eltd-accordion-holder .eltd-title-holder .eltd-accordion-mark {
    right: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-blog-list-holder.eltd-four-columns > ul > li {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-blog-list-holder.eltd-two-columns > ul > li,
  .eltd-blog-list-holder.eltd-three-columns > ul > li,
  .eltd-blog-list-holder.eltd-four-columns > ul > li {
    width: 100%;
  }
  .eltd-blog-list-holder.eltd-minimal .eltd-blog-list-item {
    padding: 10px 0 10px;
  }
}

@media only screen and (max-width: 480px) {
  .single .eltd-blog-holder article.format-quote .eltd-post-quote-holder,
  .single .eltd-blog-holder article.format-link .eltd-post-link-holder {
    padding: 40px 20px 38px;
  }
  .eltd-blog-holder article.format-quote .eltd-post-quote-holder,
  .eltd-blog-holder article.format-link .eltd-post-link-holder {
    padding: 40px 20px 40px;
  }
}

/* ==========================================================================
# Image Gallery - begin
========================================================================== */
/* Image Gallery Grid - begin
========================================================================== */
@media only screen and (max-width: 480px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-2 .eltd-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-3 .eltd-gallery-image {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-3 .eltd-gallery-image:nth-child(2n) {
    margin-right: 0;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-3 .eltd-gallery-image:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-3 .eltd-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-3 .eltd-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image {
    width: 50%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image:nth-child(3n) {
    margin-right: 0;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image:nth-child(3n+1) {
    margin-right: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image:nth-child(2n) {
    margin-right: 0;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image {
    width: 24%;
    margin-right: 1.33333%;
    margin-bottom: 1.33333%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(4n) {
    margin-right: 0;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(4n+1) {
    clear: both;
    margin-right: 1.33333%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(5n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(3n) {
    margin-right: 0;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(3n+1) {
    clear: both;
    margin-right: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(2n) {
    margin-right: 0;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-no-space .eltd-gallery-image:nth-child(3n+1),
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-no-space .eltd-gallery-image:nth-child(2n+1) {
    margin-right: 0 !important;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-no-space .eltd-gallery-image {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
  }
}

/* Image Gallery Grid - end
========================================================================== */
/* Image Gallery Slider - begin
========================================================================== */
/* Image Gallery Slider - end
========================================================================== */
/* ==========================================================================
# Image Gallery - end
========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-portfolio-list-holder-outer.eltd-ptf-five-columns article,
  .eltd-portfolio-list-holder-outer.eltd-ptf-six-columns article {
    width: 33%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-four-columns article {
    width: 50%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-with-spaces.eltd-ptf-five-columns article,
  .eltd-portfolio-list-holder-outer.eltd-ptf-with-spaces.eltd-ptf-six-columns article {
    width: 32.53%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-with-spaces.eltd-ptf-four-columns article {
    width: 49.4%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-pinterest-five-columns .eltd-ptf-pinterest-four-columns article,
  .eltd-portfolio-list-holder-outer.eltd-ptf-pinterest-five-columns .eltd-ptf-pinterest-four-columns .eltd-portfolio-list-masonry-grid-sizer, .eltd-portfolio-list-holder-outer.eltd-ptf-pinterest-five-columns .eltd-ptf-pinterest-four-columns article,
  .eltd-portfolio-list-holder-outer.eltd-ptf-pinterest-five-columns .eltd-ptf-pinterest-four-columns .eltd-portfolio-list-masonry-grid-sizer {
    width: 33.33%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry .eltd-portfolio-list-masonry-grid-sizer,
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry article.eltd-default-masonry-item,
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry article.eltd-large-height-masonry-item {
    width: 50%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry .eltd-large-width-masonry-item,
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry .eltd-large-width-height-masonry-item {
    width: 100%;
  }
  .eltd-portfolio-single-holder .eltd-portfolio-single-nav {
    margin-top: 50px;
  }
  .eltd-portfolio-single-holder.small-images .eltd-portfolio-single-media, .eltd-portfolio-single-holder.big-images .eltd-portfolio-single-media {
    margin-bottom: 25px;
  }
  .eltd-portfolio-single-holder .eltd-portfolio-info-holder {
    margin-top: 25px;
  }
  .gallery.eltd-portfolio-gallery-four-columns .eltd-portfolio-single-media {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-portfolio-single-holder .eltd-portfolio-single-nav .eltd-single-nav-image-holder {
    display: none;
  }
  .eltd-portfolio-single-holder .eltd-portfolio-single-nav .eltd-single-nav-content-holder {
    padding: 0 !important;
  }
  .gallery.eltd-portfolio-gallery-four-columns .eltd-portfolio-single-media,
  .gallery.eltd-portfolio-gallery-three-columns .eltd-portfolio-single-media,
  .gallery.eltd-portfolio-gallery-two-columns .eltd-portfolio-single-media {
    width: 100%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry.eltd-ptf-masonry-four-columns .eltd-portfolio-list-masonry-grid-sizer,
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry.eltd-ptf-masonry-four-columns article.eltd-default-masonry-item,
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry.eltd-ptf-masonry-four-columns article.eltd-large-height-masonry-item {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-portfolio-list-holder-outer article,
  .eltd-portfolio-list-holder-outer .eltd-portfolio-list-masonry-grid-sizer {
    width: 100% !important;
  }
  .eltd-portfolio-filter-holder .eltd-portfolio-filter-holder-inner ul li {
    float: none;
    text-align: center;
    padding: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .carousel-inner {
    position: relative;
  }
  .carousel-inner > .item,
  .eltd-slider .carousel-control {
    padding-top: 0px !important;
  }
  .carousel .carousel-inner .eltd-slider-content-outer {
    display: table;
    box-sizing: border-box;
    display: table;
    padding: 0 5px;
  }
  .carousel .carousel-inner .eltd-slider-content .eltd-thumb {
    height: auto;
  }
  .carousel .carousel-inner .eltd-slider-content {
    display: table-cell;
    vertical-align: middle;
    position: static;
    top: 0 !important;
    left: 0 !important;
  }
  .carousel .carousel-inner .eltd-graphic-content {
    text-align: center;
  }
  .eltd-slider-thumbs .carousel-control.left:hover .eltd-thumb-holder {
    left: 0;
  }
  .carousel:not(.in_progress).eltd-slider-thumbs .carousel-control.left:hover .prev_nav {
    left: -200px;
  }
  .eltd-slider-thumbs .carousel-control.right:hover .eltd-thumb-holder {
    right: 0;
  }
  .carousel:not(.in_progress).eltd-slider-thumbs .carousel-control.right:hover .next_nav {
    right: -200px;
  }
  .carousel-inner .item.eltd-animate-image.zoom_center .eltd-image,
  .carousel-inner .item.eltd-animate-image.zoom_top_left .eltd-image,
  .carousel-inner .item.eltd-animate-image.zoom_top_right .eltd-image,
  .carousel-inner .item.eltd-animate-image.zoom_bottom_left .eltd-image,
  .carousel-inner .item.eltd-animate-image.zoom_bottom_right .eltd-image {
    transform: none !important;
    -webkit-transform: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .carousel-control {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .carousel .carousel-inner .eltd-slider-content-outer {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1440px) {
  .eltd-testimonials.owl-carousel .owl-controls .owl-prev {
    left: -55px;
  }
  .eltd-testimonials.owl-carousel .owl-controls .owl-next {
    right: -55px;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-testimonials-holder-inner .testimonials-grid.eltd-four-columns {
    width: 50%;
  }
  .eltd-testimonials-holder-inner .testimonials-blocks.eltd-four-columns {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-testimonials-holder-inner .testimonials-blocks.eltd-three-columns {
    width: 50%;
  }
  .eltd-testimonials.testimonials-blocks .eltd-testimonials-holder-inner .eltd-testimonial-content .eltd-testimonial-text-inner {
    padding: 40px 35px 60px;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-testimonials-holder-inner .testimonials-grid.eltd-three-columns {
    width: 50%;
  }
  .eltd-testimonials-holder-inner .testimonials-blocks.eltd-two-columns,
  .eltd-testimonials-holder-inner .testimonials-blocks.eltd-four-columns {
    width: 100%;
  }
  .eltd-testimonials.testimonials-blocks .eltd-testimonials-holder-inner .eltd-testimonial-content .eltd-testimonial-text-inner {
    padding: 40px 55px 60px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-testimonials-holder-inner .testimonials-grid.eltd-two-columns {
    width: 100%;
  }
  .eltd-testimonials-holder-inner .testimonials-grid.eltd-three-columns {
    width: 100%;
  }
  .eltd-testimonials-holder-inner .testimonials-grid.eltd-four-columns {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-testimonials.owl-carousel .owl-controls {
    display: none;
  }
  .eltd-testimonials.owl-carousel .owl-pagination {
    display: none;
  }
}

@media only screen and (max-width: 1400px) {
  .eltd-info-box-holder {
    padding: 70px 0;
  }
}

@media only screen and (max-width: 1280px) {
  .eltd-info-box-holder {
    padding: 40px 0;
  }
  .eltd-elements-holder.eltd-six-columns .eltd-info-box-holder {
    display: inline-block;
    height: auto;
    width: 33%;
  }
  .eltd-info-box-holder .eltd-ib-front-holder .eltd-ib-bottom-holder .eltd-ib-text-holder {
    font-size: 16px;
  }
  .eltd-info-box-holder .eltd-ib-front-holder .eltd-ib-title {
    margin-bottom: 10px;
  }
  .eltd-info-box-holder .eltd-ib-front-holder .eltd-ib-icon-holder {
    margin-bottom: 10px;
  }
  .eltd-info-box-holder .eltd-ib-front-holder .eltd-ib-button-holder {
    margin-top: 23px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-elements-holder.eltd-four-columns .eltd-info-box-holder {
    width: 50%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-elements-holder.eltd-two-columns .eltd-info-box-holder,
  .eltd-elements-holder.eltd-three-columns .eltd-info-box-holder,
  .eltd-elements-holder.eltd-four-columns .eltd-info-box-holder,
  .eltd-elements-holder.eltd-five-columns .eltd-info-box-holder,
  .eltd-elements-holder.eltd-six-columns .eltd-info-box-holder {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 1400px) {
  .eltd-process-holder.eltd-process-horizontal .eltd-process-item-holder {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  .eltd-process-holder.eltd-process-horizontal .eltd-process-bg-holder img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-process-holder.eltd-process-horizontal .eltd-process-item-holder {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@media only screen and (max-width: 768px) {
  .eltd-process-holder .eltd-process-bg-holder {
    display: none;
  }
  .eltd-process-holder.eltd-process-holder-items-four .eltd-process-item-holder {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  .eltd-process-holder.eltd-process-holder-items-four .eltd-process-item-holder:nth-child(odd), .eltd-process-holder.eltd-process-holder-items-four .eltd-process-item-holder:nth-child(even) {
    width: 45%;
    margin: 0 0 50px;
  }
  .eltd-process-holder.eltd-process-holder-items-four .eltd-process-item-holder:nth-child(odd) {
    margin-right: 10%;
  }
  .eltd-process-holder.eltd-process-holder-items-four .eltd-process-item-holder .eltd-pi-holder-inner {
    width: 100%;
  }
  .eltd-process-holder.eltd-process-holder-items-four .eltd-process-item-holder .eltd-pi-holder-inner .eltd-pi-content-holder {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-process-holder .eltd-process-bg-holder {
    display: none;
  }
  .eltd-process-holder.eltd-process-horizontal .eltd-process-item-holder {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  .eltd-process-holder.eltd-process-holder-items-four .eltd-process-item-holder:nth-child(odd), .eltd-process-holder.eltd-process-holder-items-four .eltd-process-item-holder:nth-child(even) {
    width: 100%;
    margin: 0;
  }
  .eltd-process-holder.eltd-process-holder-items-four .eltd-process-item-holder:nth-child(odd) {
    margin-right: 0;
  }
  .eltd-process-holder.eltd-process-holder-items-four .eltd-process-item-holder:after {
    content: '';
    display: block;
    width: 0;
    height: 60px;
    border: 1px dashed #ebebeb;
    margin: 20px auto;
  }
  .eltd-process-holder.eltd-process-holder-items-four .eltd-process-item-holder:nth-child(4):after {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-section-title-holder .eltd-section-title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-section-subtitle-holder {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-variable-width-slider ul.slick-dots {
    bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-variable-width-slider ul.slick-dots {
    bottom: 0px;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-variable-width-slider .slick-arrow.eltd-prev-icon {
    left: 10px;
  }
  .eltd-variable-width-slider .slick-arrow.eltd-next-icon {
    right: 10px;
  }
}

/* ==========================================================================
   Start of Vertical Split Slider Responsive
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  body.eltd-vertical-split-screen-initialized {
    overflow-y: visible !important;
    height: auto !important;
  }
  .eltd-vertical-split-slider,
  #multiscroll-nav {
    display: none;
  }
  .eltd-vertical-split-slider-responsive {
    display: block;
  }
  .eltd-vss-ms-section {
    background-position: center center;
    background-size: cover;
  }
}

/* ==========================================================================
   End of Vertical Split Slider Responsive
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-comparision-pricing-tables-holder.eltd-three-columns .eltd-cpt-features-holder {
    display: none;
  }
  .eltd-comparision-pricing-tables-holder.eltd-three-columns .eltd-cpt-table {
    width: 100%;
    float: none;
    margin-bottom: 30px;
  }
  .eltd-comparision-pricing-tables-holder.eltd-three-columns .eltd-cpt-table .eltd-cpt-table-head-holder,
  .eltd-comparision-pricing-tables-holder.eltd-three-columns .eltd-cpt-table .eltd-cpt-table-content {
    border-left: 1px solid #f2f2f2 !important;
  }
  .eltd-comparision-pricing-tables-holder.eltd-three-columns .eltd-cpt-table-item-feature {
    display: inline-block;
    margin-right: 10px;
  }
  .eltd-comparision-pricing-tables-holder.eltd-four-columns .eltd-cpt-table {
    width: 50%;
    margin-bottom: 30px;
  }
  .eltd-comparision-pricing-tables-holder.eltd-four-columns .eltd-cpt-features-holder {
    display: none;
  }
  .eltd-comparision-pricing-tables-holder.eltd-four-columns .eltd-cpt-table-item-feature {
    display: inline-block;
    margin-right: 10px;
  }
  .eltd-comparision-pricing-tables-holder.eltd-four-columns .eltd-cpt-table-head-holder,
  .eltd-comparision-pricing-tables-holder.eltd-four-columns .eltd-cpt-table-content {
    border-left: 1px solid #f2f2f2 !important;
  }
  .eltd-comparision-pricing-tables-holder .eltd-cpt-table .eltd-cpt-table-content li {
    line-height: 1.7em;
    padding-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-comparision-pricing-tables-holder.eltd-four-columns .eltd-cpt-table, .eltd-comparision-pricing-tables-holder.eltd-two-columns .eltd-cpt-table {
    width: 100%;
    margin-bottom: 30px;
  }
  .eltd-comparision-pricing-tables-holder.eltd-two-columns .eltd-cpt-features-holder {
    display: none;
  }
  .eltd-comparision-pricing-tables-holder.eltd-two-columns .eltd-cpt-table-item-feature {
    display: inline-block;
    margin-right: 10px;
  }
  .eltd-comparision-pricing-tables-holder.eltd-two-columns .eltd-cpt-table-head-holder,
  .eltd-comparision-pricing-tables-holder.eltd-two-columns .eltd-cpt-table-content {
    border-left: 1px solid #f2f2f2 !important;
  }
}

@media only screen and (max-width: 768px) and (min-width: 500px) {
  .owl-item:nth-child(3n) .eltd-carousel-item-outer-holder {
    border-right: 0 !important;
  }
}

@media only screen and (max-width: 668px) and (min-width: 500px) {
  .owl-item:nth-child(2n) .eltd-carousel-item-outer-holder {
    border-right: 0 !important;
  }
}

@media only screen and (max-width: 499px) {
  .owl-item:nth-child(n) .eltd-carousel-item-outer-holder {
    border-right: 0 !important;
  }
}

@media only screen and (max-width: 1440px) {
  .eltd-blog-slider-holder .slick-arrow.eltd-prev-icon {
    left: -30px;
  }
  .eltd-blog-slider-holder .slick-arrow.eltd-next-icon {
    right: -30px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-blog-slider-holder .eltd-bs-item-image-holder {
    padding-bottom: 60%;
  }
  .eltd-blog-slider-holder .eltd-bs-item-excerpt {
    display: none;
  }
  .eltd-blog-slider-holder .eltd-bs-item-content {
    width: 55%;
    top: 50%;
    left: 50%;
    background: #fff;
    text-align: center;
    padding: 46px 60px 62px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .eltd-blog-slider-holder h2.eltd-bs-item-title {
    font-size: 30px;
  }
  .eltd-blog-slider-holder .owl-prev {
    left: 20px;
  }
  .eltd-blog-slider-holder .owl-next {
    right: 20px;
  }
  .eltd-blog-slider-holder .owl-prev,
  .eltd-blog-slider-holder .owl-next {
    font-size: 40px;
  }
  .eltd-blog-slider-holder ul.slick-dots {
    bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-blog-slider-holder .eltd-bs-item-image-holder {
    padding-bottom: 70%;
  }
  .eltd-blog-slider-holder ul.slick-dots {
    bottom: 0;
    display: none !important;
  }
  .eltd-blog-slider-holder .eltd-bs-item-text {
    padding: 15px 0px 25px;
  }
  .eltd-blog-slider-holder .eltd-bs-item-button {
    display: none;
  }
  .eltd-blog-slider-holder .eltd-bs-item-button.small {
    display: block;
  }
  .eltd-blog-slider-holder .eltd-bs-item-content {
    width: 75%;
  }
}

@media only screen and (max-width: 1280px) {
  .eltd-blog-slider-holder .eltd-bs-item-content {
    padding: 41px 35px 52px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-blog-slider-holder .eltd-bs-item-content {
    padding: 17px;
  }
  .eltd-blog-slider-holder .eltd-post-info {
    display: none;
  }
  .eltd-blog-slider-holder .eltd-post-info.small {
    display: block;
  }
  .eltd-blog-slider-holder h2.eltd-bs-item-title {
    font-size: 24px;
    line-height: 30px;
  }
  .eltd-blog-slider-holder .eltd-bs-item-bottom-section {
    display: none;
  }
  .eltd-blog-slider-holder .owl-prev,
  .eltd-blog-slider-holder .owl-next {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-blog-slider-holder .eltd-bs-item-image-holder {
    padding-bottom: 100%;
  }
  .eltd-blog-slider-holder .eltd-bs-item-content {
    width: 82%;
  }
  .eltd-blog-slider-holder .slick-arrow.eltd-prev-icon {
    left: -15px;
    font-size: 20px;
  }
  .eltd-blog-slider-holder .slick-arrow.eltd-next-icon {
    right: -15px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 1025px) {
  .eltd-clients.eltd-clients-two-columns .eltd-client {
    width: 50%;
  }
  .eltd-clients.eltd-clients-two-columns .eltd-client:nth-child(1) .eltd-cl-ver-helper, .eltd-clients.eltd-clients-two-columns .eltd-client:nth-child(2) .eltd-cl-ver-helper {
    border-top: none;
  }
  .eltd-clients.eltd-clients-two-columns .eltd-client:nth-child(2n+1) .eltd-cl-hor-helper {
    border-left: none;
  }
  .eltd-clients.eltd-clients-three-columns .eltd-client {
    width: 33.33%;
  }
  .eltd-clients.eltd-clients-three-columns .eltd-client:nth-child(1) .eltd-cl-ver-helper, .eltd-clients.eltd-clients-three-columns .eltd-client:nth-child(2) .eltd-cl-ver-helper, .eltd-clients.eltd-clients-three-columns .eltd-client:nth-child(3) .eltd-cl-ver-helper {
    border-top: none;
  }
  .eltd-clients.eltd-clients-three-columns .eltd-client:nth-child(3n+1) .eltd-cl-hor-helper {
    border-left: none;
  }
  .eltd-clients.eltd-clients-four-columns .eltd-client {
    width: 25%;
  }
  .eltd-clients.eltd-clients-four-columns .eltd-client:nth-child(1) .eltd-cl-ver-helper, .eltd-clients.eltd-clients-four-columns .eltd-client:nth-child(2) .eltd-cl-ver-helper, .eltd-clients.eltd-clients-four-columns .eltd-client:nth-child(3) .eltd-cl-ver-helper, .eltd-clients.eltd-clients-four-columns .eltd-client:nth-child(4) .eltd-cl-ver-helper {
    border-top: none;
  }
  .eltd-clients.eltd-clients-four-columns .eltd-client:nth-child(4n+1) .eltd-cl-hor-helper {
    border-left: none;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .eltd-clients.eltd-clients-two-columns .eltd-client {
    width: 50%;
  }
  .eltd-clients.eltd-clients-two-columns .eltd-client:nth-child(1) .eltd-cl-ver-helper, .eltd-clients.eltd-clients-two-columns .eltd-client:nth-child(2) .eltd-cl-ver-helper {
    border-top: none;
  }
  .eltd-clients.eltd-clients-two-columns .eltd-client:nth-child(2n+1) .eltd-cl-hor-helper {
    border-left: none;
  }
  .eltd-clients.eltd-clients-three-columns .eltd-client, .eltd-clients.eltd-clients-four-columns .eltd-client {
    width: 33.33%;
  }
  .eltd-clients.eltd-clients-three-columns .eltd-client:nth-child(1) .eltd-cl-ver-helper, .eltd-clients.eltd-clients-three-columns .eltd-client:nth-child(2) .eltd-cl-ver-helper, .eltd-clients.eltd-clients-three-columns .eltd-client:nth-child(3) .eltd-cl-ver-helper, .eltd-clients.eltd-clients-four-columns .eltd-client:nth-child(1) .eltd-cl-ver-helper, .eltd-clients.eltd-clients-four-columns .eltd-client:nth-child(2) .eltd-cl-ver-helper, .eltd-clients.eltd-clients-four-columns .eltd-client:nth-child(3) .eltd-cl-ver-helper {
    border-top: none;
  }
  .eltd-clients.eltd-clients-three-columns .eltd-client:nth-child(3n+1) .eltd-cl-hor-helper, .eltd-clients.eltd-clients-four-columns .eltd-client:nth-child(3n+1) .eltd-cl-hor-helper {
    border-left: none;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .eltd-clients.eltd-clients-two-columns .eltd-client, .eltd-clients.eltd-clients-three-columns .eltd-client, .eltd-clients.eltd-clients-four-columns .eltd-client {
    width: 50%;
  }
  .eltd-clients.eltd-clients-two-columns .eltd-client:nth-child(1) .eltd-cl-ver-helper, .eltd-clients.eltd-clients-two-columns .eltd-client:nth-child(2) .eltd-cl-ver-helper, .eltd-clients.eltd-clients-three-columns .eltd-client:nth-child(1) .eltd-cl-ver-helper, .eltd-clients.eltd-clients-three-columns .eltd-client:nth-child(2) .eltd-cl-ver-helper, .eltd-clients.eltd-clients-four-columns .eltd-client:nth-child(1) .eltd-cl-ver-helper, .eltd-clients.eltd-clients-four-columns .eltd-client:nth-child(2) .eltd-cl-ver-helper {
    border-top: none;
  }
  .eltd-clients.eltd-clients-two-columns .eltd-client:nth-child(2n+1) .eltd-cl-hor-helper, .eltd-clients.eltd-clients-three-columns .eltd-client:nth-child(2n+1) .eltd-cl-hor-helper, .eltd-clients.eltd-clients-four-columns .eltd-client:nth-child(2n+1) .eltd-cl-hor-helper {
    border-left: none;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-clients.eltd-clients-two-columns .eltd-client, .eltd-clients.eltd-clients-three-columns .eltd-client, .eltd-clients.eltd-clients-four-columns .eltd-client {
    width: 100%;
  }
  .eltd-clients.eltd-clients-two-columns .eltd-client .eltd-cl-hor-helper, .eltd-clients.eltd-clients-three-columns .eltd-client .eltd-cl-hor-helper, .eltd-clients.eltd-clients-four-columns .eltd-client .eltd-cl-hor-helper {
    border-left: none;
  }
  .eltd-clients.eltd-clients-two-columns .eltd-client:nth-child(1) .eltd-cl-ver-helper, .eltd-clients.eltd-clients-three-columns .eltd-client:nth-child(1) .eltd-cl-ver-helper, .eltd-clients.eltd-clients-four-columns .eltd-client:nth-child(1) .eltd-cl-ver-helper {
    border-top: none;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-instagram-feed.eltd-col-9 li {
    width: 33.33%;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-instagram-feed.eltd-col-4 li {
    width: 50%;
  }
  .eltd-instagram-feed.eltd-col-6 li {
    width: 33.33%;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-instagram-feed.eltd-col-4 li,
  .eltd-instagram-feed.eltd-col-3 li,
  .eltd-instagram-feed.eltd-col-6 li,
  .eltd-instagram-feed.eltd-col-9 li {
    width: 50%;
  }
}

/*# sourceMappingURL=modules-responsive.css.map */