/* generated in /home/cthcenterprisesb/public_html/wp-content/themes/malmo/assets/custom-styles/general-custom-styles.php malmo_elated_design_styles function */
.eltd-preload-background { background-image: url(http://cthcenterprises.blazewebtech.com/wp-content/themes/malmo/assets/img/preload_pattern.png) !important;}

/* generated in /home/cthcenterprisesb/public_html/wp-content/themes/malmo/assets/custom-styles/general-custom-styles.php malmo_elated_design_styles function */
body { font-family: Montserrat;}

/* generated in /home/cthcenterprisesb/public_html/wp-content/themes/malmo/assets/custom-styles/general-custom-styles.php malmo_elated_design_styles function */
.eltd-boxed.eltd-wrapper { background-attachment: fixed;}

/* generated in /home/cthcenterprisesb/public_html/wp-content/themes/malmo/assets/custom-styles/general-custom-styles.php malmo_elated_h1_styles function */
h1 { font-family: Montserrat;}

/* generated in /home/cthcenterprisesb/public_html/wp-content/themes/malmo/assets/custom-styles/general-custom-styles.php malmo_elated_h2_styles function */
h2 { font-family: Montserrat;}

/* generated in /home/cthcenterprisesb/public_html/wp-content/themes/malmo/assets/custom-styles/general-custom-styles.php malmo_elated_h3_styles function */
h3 { font-family: Montserrat;}

/* generated in /home/cthcenterprisesb/public_html/wp-content/themes/malmo/assets/custom-styles/general-custom-styles.php malmo_elated_h4_styles function */
h4 { font-family: Montserrat;}

/* generated in /home/cthcenterprisesb/public_html/wp-content/themes/malmo/assets/custom-styles/general-custom-styles.php malmo_elated_h5_styles function */
h5 { font-family: Montserrat;}

/* generated in /home/cthcenterprisesb/public_html/wp-content/themes/malmo/assets/custom-styles/general-custom-styles.php malmo_elated_h6_styles function */
h6 { font-family: Montserrat;}

/* generated in /home/cthcenterprisesb/public_html/wp-content/themes/malmo/assets/custom-styles/general-custom-styles.php malmo_elated_text_styles function */
p { font-family: Montserrat;}

/* generated in /home/cthcenterprisesb/public_html/wp-content/themes/malmo/framework/modules/shortcodes/button/custom-styles/custom-styles.php malmo_elated_button_solid_styles function */
.eltd-btn.eltd-btn-solid:not(.eltd-btn-custom-hover-color):hover { color: #1e4c15!important;}

/* generated in /home/cthcenterprisesb/public_html/wp-content/themes/malmo/framework/modules/contactform7/custom-styles/contact-form.php malmo_elated_contact_form7_button_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit { background-color: rgba(54, 54, 54, 1);border-color: rgba(54, 54, 54, 1);}

/* generated in /home/cthcenterprisesb/public_html/wp-content/themes/malmo/framework/modules/contactform7/custom-styles/contact-form.php malmo_elated_contact_form7_button_hover_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover { background-color: rgba(255, 115, 72, 1) !important;border-color: rgba(255, 115, 72, 1) !important;}

/* generated in /home/cthcenterprisesb/public_html/wp-content/themes/malmo/framework/modules/header/custom-styles/header.php malmo_elated_header_standard_menu_area_styles function */
.eltd-header-standard .eltd-page-header .eltd-menu-area { background-color: rgba(255, 255, 255, 0);}

/* generated in /home/cthcenterprisesb/public_html/wp-content/themes/malmo/framework/modules/header/custom-styles/header.php malmo_elated_header_centered_logo_area_styles function */
.eltd-header-centered .eltd-page-header .eltd-logo-area .eltd-grid .eltd-vertical-align-containers { border: 0;}


		
		
		
		
		
		

		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
				
		
				
		/* generated in /home/cthcenterprisesb/public_html/wp-content/themes/malmo/framework/modules/sidearea/custom-styles/sidearea.php malmo_elated_side_area_alignment function */
.eltd-side-menu-slide-from-right .eltd-side-menu, .eltd-side-menu-slide-with-content .eltd-side-menu, .eltd-side-area-uncovered-from-content .eltd-side-menu { text-align: left;}

