.eltd-search-slides-from-header-bottom {

	.eltd-top-bar {
		z-index: 120;
	}
}

.eltd-search-slide-header-bottom {
	background: none repeat scroll 0 0 #f1f1f1;
	color: #fff;
	margin: 0;
	overflow: hidden;
	width: 100%;
	height: 100px;
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	@include eltdTransform(translateY(-100%));
	@include eltdTransition(all 0.35s cubic-bezier(0.55, 0.085, 0.68, 0.53));

	.eltd-container {
		z-index: auto;
	}

	.eltd-form-holder-outer {
		display: table;
		height: 100px;
		width: 100%;
	}

	.eltd-form-holder {
		display: table-cell;
		vertical-align: middle;
		position: relative;
		padding: 0 45px;
	}

	input,
	input:focus {
		background-color: transparent;
		border: medium none;
		box-shadow: none;
		color: #696969;
		font-size: 15px;
		font-weight: 700;
		display: inline-block;
		vertical-align: middle;
		width: 90%;
		padding: 0;
		font-family: inherit;
		outline: none;
		outline-offset: 0;
		-webkit-appearance: none;
		border-radius: 0;
		text-transform: uppercase;
	}

	input:focus {
		outline-offset: 0 !important;
	}

	.eltd-search-submit {
		width: auto;
		cursor: pointer;
		font-size: 50px;
		position: absolute;
		right: 45px;
		top: 50%;
		margin-top: -25px;
		@include eltdTransition(color 0.4s ease);
		color: #696969;
		padding: 0 0 0 1px;
	}

	.eltd-search-submit:hover {
		color: $first-main-color
	}

	.eltd-container-inner {

		.eltd-search-submit {
			right: 0;
		}

		.eltd-form-holder {
			padding: 0;
		}

	}

}

.eltd-search-slide-header-bottom.eltd-animated {
	left: 0;
	@include eltdTransform(translateY(0));
	top: 100%;

	.eltd-form-holder-outer {
		height: 100px;
	}

}

.eltd-search-slide-header-bottom.eltd-disabled {

	input,
	input:focus {
		font-weight: normal;
	}

	.eltd-search-submit,
	.eltd-search-submit:hover {
		cursor: default;
		color: #959595;
	}

}

/* Search slides from header bottom - end
========================================================================== */