/* ==========================================================================
   WooCommerce Dropdown Cart styles - begin
   ========================================================================== */

.eltd-shopping-cart-holder {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	float: left;
	padding: 0 16px;

	.touch & {
		cursor: pointer;
	}

	&.eltd-cart-info-is-disabled {

		.eltd-header-cart {

			.eltd-cart-info {
				display: none;
			}
		}
	}

	.eltd-shopping-cart-inner {
		position: relative;
		display: table;
		height: 100%;
		vertical-align: middle;
	}

	.eltd-header-cart {
		position: relative;
		display: table-cell;
		vertical-align: middle;
		color: $default-text-color;

		.eltd-cart-icon {
			position: relative;
			display: inline-block;
			vertical-align: top;
			font-size: 19px;
			line-height: 1em;
			color: #1b1b1b;

			&:before {
				display: block;
				line-height: inherit;
			}
		}

		.eltd-cart-number {
			position: absolute;
			display: inline-block;
			vertical-align: middle;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			margin: 3px 0 0;
			font-size: 11px;
			font-weight: 400;
			line-height: inherit;
			text-align: center;
		}

		.eltd-cart-info {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			padding: 0 0 0 5px;
			font-size: 14px;
			line-height: 1;
			font-weight: 400;
			clear: both;

			.eltd-cart-info-number {
				position: relative;
				display: inline-block;
				vertical-align: top;
				float: left;
				padding: 0 8px 0 0;
				margin: 0 5px 0 0;

				&:after {
					position: absolute;
					right: -1px;
					content: '-';
				}
			}

			.eltd-cart-info-total {
				position: relative;
				display: inline-block;
				vertical-align: top;
				float: left;
			}
		}

		&:hover {
			color: $headings-text-color;
		}
	}

	&:hover {

		.eltd-shopping-cart-dropdown {
			opacity:1;
			visibility:visible;
			@include eltdTransform(translate3d(0,0,0));
		}
	}

	.eltd-cart-count {
		position: absolute;
		display: inline-block;
		top: -4px;
		margin-left: -6px;
		width: 16px;
		height: 16px;
		line-height: 15px;
		font-weight: 400;
		font-size: 9px;
		color: #fff;
		background-color: #363636;
		text-align: center;

		@include eltdBorderRadius(50%);
	}

}

.eltd-dark-header .eltd-page-header > div:not(.eltd-sticky-header):not(.fixed) .eltd-shopping-cart-holder .eltd-header-cart {
	color: $header-dark-color;
}

.eltd-light-header .eltd-page-header > div:not(.eltd-sticky-header):not(.fixed) .eltd-shopping-cart-holder .eltd-header-cart {
	color: $header-light-color;
}

.eltd-sticky-header .eltd-shopping-cart-holder .eltd-header-cart {

	.eltd-cart-icon {
		color: #fff;
	}
}

.eltd-sticky-header .eltd-shopping-cart-holder .eltd-cart-count {
	color: $header-dark-color;
	background-color: #fff;
}

.eltd-shopping-cart-dropdown {
	position: absolute;
	top: 100%;
	left: auto;
	right: 0;
	width: 280px;
	opacity:0;
	visibility:hidden;
	background-color: #f8f8f8;
	text-align: left;
	z-index: 1000;
	@include eltdTransform(translate3d(0,20px,0));
	@include eltdTransition(all .25s cubic-bezier(0,.57,.58,1));
	@include eltdBoxSizing(border-box);

	ul {
		margin: 25px;
		padding: 0;

		li {
			@include eltdTableLayout;
			padding: 20px 0;
			@include eltdBoxSizing(border-box);

			&.eltd-empty-cart {
				border: 0;
			}

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				padding-bottom: 0;
			}
		}
	}

	.eltd-item-image-holder {
		position: relative;
		display: table-cell;
		height: 78px;
		width: 78px;
		vertical-align: top;

		img {
			display: block;
			@include eltdBorderRadius(50%);
		}

		.eltd-item-image-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 78px;
			height: 78px;
			opacity: 1;
			background-color: rgba(21, 21, 21, 0.1);
			color: #fff;
			text-align: center;
			@include eltdBorderRadius(50%);
			@include eltdTransition(all 0.15s ease-out);
		}

		.eltd-item-image-overlay-inner {
			display: table;
			width: 100%;
			height: 100%;
		}
	}

	.eltd-item-info-holder {
		@include eltdTableCellLayout;
		padding-left: 20px;
		vertical-align: top;

		.eltd-product-title {
			display: block;
			margin: 0;
			text-transform: uppercase;
			font-family: $headings-font-family;
			padding: 0 20px 0 0;
			font-style: normal;
			color: #000;

			@include eltdBoxSizing(border-box);
		}

		.remove {
			position: absolute;
			top: 0;
			right: 3px;
			width: 24px;
			height: 24px;
			color: #808285;
			font-size: 18px;
			line-height: 24px;
			text-align: center;

			span {
				display: block;
				line-height: inherit;

				&:before {
					display: block;
					line-height: inherit;
				}
			}

			&:hover {
				color: $first-main-color;
			}
		}

		.eltd-quantity {
			display: inline-block;
			margin: 0 0 10px;
		}

		.eltd-quantity-price {
			color: #363636;
			font-weight: 400;
			font-size: 15px;
		}

		.amount {
			display: inline-block;
			color: #363636;
			line-height: 1;
			font-weight: 400;
			font-size: 15px;
		}
	}

	.eltd-cart-bottom {
		padding: 12px 0 0;
		border-top: 2px dotted #e4e4e4;

		.eltd-btn.eltd-btn-small {
			font-size: 9px;
			padding: 9px 26px;
			min-width: 95px;
			font-weight: 700;
			color: #f8f8f8;

			&.checkout {
				margin-right: 9px;
				background-color: #363636;
				border: 2px solid #363636;

				&:hover {
					background-color: #565656 !important;
					border: 2px solid #565656 !important;
				}
			}

			&.view-cart {
				background-color: #565656;
				border: 2px solid #565656;
			}
		}

		.eltd-total {
			color: #808285;
			font-weight: 400;
			font-style: italic;
			font-family: $headings-font-family-2;
		}

		.eltd-subtotal-holder {
			position: relative;
			display: table;
			width: 100%;
			margin: 0 0 23px;

			> * {
				display: table-cell;
				vertical-align: top;
			}

			.eltd-total-amount {
				text-align: right;
				font-size: 24px;
				font-weight: 300;
				color: #000;

			}
		}

		.eltd-cart-description {
			@include eltdRelativeHolderLayout();
			margin: 0 0 10px;

			.eltd-cart-description-inner {
				position: relative;
				display: table;
				width: 100%;
				height: 100%;
				padding: 17px 30px;
				background-color: #f4f4f4;
				text-align: center;
				@include eltdBoxSizing(border-box);

				span {
					position: relative;
					display: table-cell;
					width: 100%;
					height: 100%;
					vertical-align: middle;
					color: $headings-text-color;
					font-size: 12px;
					line-height: 18px;
					font-weight: 400;
				}
			}
		}

		.eltd-view-cart {
			@include eltdRelativeHolderLayout();
			height: 44px;
			line-height: 44px;
			padding: 0 26px;
			font-size: 10px;
			font-weight: 700;
			letter-spacing: 2px;
			color: #fff;
			background-color: $first-main-color;
			border: 0;
			outline: none;
			cursor: pointer;
			text-align: center;
			-webkit-appearance: none;
			@include eltdBoxSizing(border-box);
			@include eltdTransition(color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out);

			span {
				display: block;
			}

			&:hover {
				color: #fff;
				background-color: $headings-text-color;
			}
		}
	}
}

/* ==========================================================================
   WooCommerce Dropdown Cart styles - end
   ========================================================================== */