/* ==========================================================================
   WooCommerce Dropdown Cart Responsive styles - begin
   ========================================================================== */

@media only screen and (max-width: map-get($breakpoints, ipad-portrait)) {

    .eltd-shopping-cart-dropdown {

        ul {
            margin: 20px;
        }
    }
}
/* ==========================================================================
   WooCommerce Dropdown Cart Responsive styles - end
   ========================================================================== */


/* ==========================================================================
   WooCommerce Widget Responsive styles - start
   ========================================================================== */
@media only screen and (max-width: map-get($breakpoints, ipad-landscape-plus-pixel)) {
    .widget.woocommerce.widget_price_filter .price_slider_amount .button {
        margin-left: 30px;
    }
}
/* ==========================================================================
   WooCommerce Widget Responsive styles - end
   ========================================================================== */