/* ==========================================================================
   WooCommerce Widgets styles - begin
   ========================================================================== */
.woocommerce aside.eltd-sidebar .widget {
	&.widget_search {
		margin-bottom: 20px;
	}

	&.widget_price_filter {
		margin-bottom: 38px;
	}

	&.widget_product_categories {
		margin-bottom: 45px;

		> h3 {
			margin: 0 0 26px;
		}
	}

	&.widget_products {
		margin-bottom: 32px;

		> h3 {
			margin-bottom: 32px;
		}

		ul.product_list_widget li {
			margin-bottom: 9px;
		}
	}

	&.widget_text {
		margin-bottom: 15px;
	}

	&.widget_product_tag_cloud {

		> h3 {
			margin-bottom: 32px;
		}
	}
}

.widget.woocommerce {
	clear: both;

	&.widget_rating_filter,
	&.widget_shopping_cart,
	&.widget_layered_nav,
	&.widget_price_filter,
	&.widget_layered_nav_filters,
	&.widget_product_categories,
	&.widget_products,
	&.widget_product_search,
	&.widget_product_tag_cloud,
	&.widget_recently_viewed_products,
	&.widget_recent_reviews,
	&.widget_top_rated_products {
		margin: 0 0 20px;
	}

	&.widget_rating_filter,
	&.widget_shopping_cart,
	&.widget_layered_nav,
	&.widget_layered_nav_filters,
	&.widget_product_categories,
	&.widget_products,
	&.widget_recently_viewed_products,
	&.widget_recent_reviews,
	&.widget_top_rated_products {

		ul {
			padding: 0;
			margin: 0;
			list-style: none;

			li {
				@include eltdRelativeHolderLayout();
				padding: 0;
				margin: 0 0 10px;
				clear: both;

				&:last-child {
					margin: 0;
				}

				ul {
					margin: 10px 0 0 10px;
				}
			}
		}
	}

	&.widget_products ul li ins,
	&.widget_products ul li del {
		display: inline-block;
		float: left;
	}

	&.widget_products ul.product_list_widget li ins {
		margin-left: 10px;
	}

	&.widget_rating_filter {

		> h3 {
			margin: 0 0 21px;
		}

		ul {

			li {

				a {
					color: $headings-text-color;
				}
			}
		}
	}

	&.widget_shopping_cart {

		> h3 {
			margin: 0 0 23px;
		}

		.widget_shopping_cart_content {
			@include eltdRelativeHolderLayout();

			ul {

				li {

					img {
						display: block;
						max-width: 84px;
						margin: 0 70% 13px 0;
					}

					a:not(.remove) {
						display: block;
						color: $headings-text-color;
						font-weight: 500;
						letter-spacing: 1px;
						text-transform: uppercase;

						&:hover {
							color: $first-main-color;
						}
					}

					.remove {
						position: absolute;
						top: 0;
						right: 0;
						font-size: 0;
						line-height: 1;
						color: $headings-text-color;

						&:after {
							position: relative;
							display: block;
							padding: 0 3px;
							font-family: 'Ionicons';
							content: "\f404";
							font-size: 30px;
							line-height: 20px;
						}

						&:hover {
							color: $first-main-color;
						}
					}
				}
			}

			.variation {
				@include eltdRelativeHolderLayout();

				> * {
					display: inline-block;
					vertical-align: middle;
					margin: 0;

					p {
						margin: 0;
					}
				}

				dt {
					color: $headings-text-color;
					font-size: inherit;
					font-weight: 500;
				}
			}

			.total {
				margin: 17px 0 13px;

				strong {
					color: $headings-text-color;
					font-weight: 800;
					letter-spacing: 1px;
				}
			}

			.buttons {
				margin: 10px 0 0;

				a {
					padding: 0 23px;

					&:first-child {
						margin: 0 5px 0 0;
					}

					@media only screen and (min-width: map-get($breakpoints, ipad-landscape-plus-pixel)) and (max-width: map-get($breakpoints, laptop-landscape)) {
						padding: 0 15px;
						letter-spacing: 1.5px;
					}
				}
			}
		}
	}

	&.widget_layered_nav {

		> h3 {
			margin: 0 0 21px;
		}

		li.chosen {

			a {
				color: $headings-text-color;
			}
		}

		a {
			color: $default-text-color;

			&:hover {
				color: $headings-text-color;
			}
		}
	}

	&.widget_layered_nav_filters {

		> h3 {
			margin: 0 0 21px;
		}

		a {
			color: $headings-text-color;
			font-weight: 800;
			letter-spacing: 1px;

			&:hover {
				color: $first-main-color;
			}
		}
	}

	&.widget_price_filter {

		> h3 {
			margin: 0 0 29px;
		}

		.price_slider_wrapper {

			.ui-widget-content {
				position: relative;
				height: 5px;
				background-color: #ebebeb;

				.ui-slider-handle {
					position: absolute;
					top: -3px;
					height: 9px;
					width: 9px;
					background-color: #fff;
					border: 1px solid #d8d8d8;
					border-radius: 4em;
					margin: 0 0 0 -2px;
					cursor: pointer;
					outline: medium none;
					z-index: 2;

					&:last-child {
						@include eltdTransform(translateX(-50%));
					}
				}

				.ui-slider-range {
					position: absolute;
					display: block;
					height: 100%;
					background-color: $first-main-color;
					z-index: 1;
				}
			}
		}

		.price_slider_amount {
			margin: 38px 0 0;

			.button {
				margin-bottom: 24px;
				border: 2px solid #363636;
			}

			.price_label {
				float: left;
				line-height: 38px;
				letter-spacing: 1px;
				font-family: $headings-font-family-2;
				font-style: italic;
			}
		}
	}

	&.widget_product_categories {

		> h3 {
			margin: 0 0 23px;
		}

		a {
			color: $default-text-color;

			&:hover {
				color: $headings-text-color;
			}
		}
	}

	&.widget_products,
	&.widget_recently_viewed_products,
	&.widget_recent_reviews,
	&.widget_top_rated_products {

		> h3 {
			margin: 0 0 28px;
		}

		ul {

			li {
				min-height: 93px;

				a {

					img {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						max-width: 83px;

						@include eltdBorderRadius(50%);
					}

					span {
						position: relative;
						display: block;
						padding: 21px 0 0 106px;
						line-height: 20px;
						@include eltdBoxSizing(border-box);
					}
				}

				> *:not(a) {
					margin: 0 0 0 106px;
					line-height: 20px;
				}

				.star-rating {
					position: relative;

					span {
						max-width: 100px;
					}
				}

				del,
				ins {
					display: block;

					span {
						color: inherit;
					}
				}

				ins {
					text-decoration: none;
				}
			}
		}
	}

	&.widget_products,
	&.widget_recently_viewed_products,
	&.widget_top_rated_products {

		ul {

			li {

				.product-title {
					color: #858585;
					font-size: 15px;
					font-weight: 300;
					letter-spacing: 1px;
					margin-bottom: 6px;

					@include eltdTransition(color 0.2s ease-out);

					&:hover {
						color: $first-main-color;
					}
				}

				.amount {
					color: $headings-text-color;
					font-size: 12px;
					letter-spacing: 1px;
					color: #808285;
				}
			}
		}
	}

	&.widget_recently_viewed_products {

		ul {

			li {

				del,
				> .amount {
					display: block;
					margin-top: 13px;
				}
			}
		}
	}

	&.widget_recent_reviews {

		ul {

			li {

				.star-rating {
					margin-top: 4px;
					margin-bottom: 6px;
				}
			}
		}

		a {
			padding: 0 0 0 120px;
			color: $headings-text-color;
			font-size: 12px;
			line-height: 20px;
			font-weight: 500;
			letter-spacing: 1px;
			text-transform: uppercase;

			&:hover {
				color: $first-main-color;
			}
		}

		.reviewer {
			display: inline-block;
			vertical-align: middle;
			width: auto;
			clear: both;
		}
	}

	&.widget_top_rated_products {

		ul {

			li {

				.star-rating {
					margin-top: 10px;
					margin-bottom: 12px;
				}

				.amount {
					display: block;
				}
			}
		}
	}

	&.widget_product_tag_cloud {

		.tagcloud {

			a {
				position: relative;
				display: inline-block;
				vertical-align: middle;
				font-family: inherit;
				color: $default-text-color;
				background-color: transparent;
				font-size: 12px !important;
				font-weight: 500;
				letter-spacing: 1px;

				&:hover {
					color: $headings-text-color;
				}

				&:after {
					color: $default-text-color;
					margin: 0 0 0 4px;
				}

				&:last-child {

					&:after {
						display: none;
					}
				}
			}
		}
	}

	&.widget_product_search {

		> h3 {
			margin: 0 0 23px;
		}

		.woocommerce-product-search {
			@include eltdRelativeHolderLayout();
			clear: both;

			> div {
				@include eltdRelativeHolderLayout();
				border: 1px solid $default-border-color;
				@include eltdBoxSizing(border-box);
			}

			input,
			button {
				position: relative;
				display: inline-block;
				vertical-align: top;
				float: left;
				margin: 0;
				height: 44px;
				line-height: 42px;
				color: $default-text-color;
				background-color: transparent;
				border: 0;
				border-radius: 0;
				outline: 0;
				-webkit-appearance: none;
				@include eltdBoxSizing(border-box);
				@include eltdTransition(color .2s ease-out);
			}

			input {
				width: calc(100% - 40px);
				padding: 0 10px 0 21px;
				font-family: inherit;
				font-size: 12px;
				font-weight: 500;
				letter-spacing: 1px;

				&::-webkit-input-placeholder {
					color: $default-text-color;
				}
				&:-moz-placeholder {
					color: $default-text-color;
				}
				&::-moz-placeholder {
					color: $default-text-color;
				}
				&:-ms-input-placeholder {
					color: $default-text-color;
				}
			}

			button {
				width: 40px;
				padding: 0 18px 0 4px;
				font-size: 20px;
				cursor: pointer;

				&:hover {
					color: $headings-text-color;
				}

				span {
					display: block;
					line-height: inherit;

					&:before {
						display: block;
						line-height: inherit;
					}
				}
			}
		}
	}
}

footer,
.eltd-side-menu {

	.widget.woocommerce {

		&.widget_rating_filter {

			ul {

				li {

					a {
						color: #999;

						.star-rating {
							color: #999;
						}
					}
				}
			}
		}

		&.widget_shopping_cart {

			.widget_shopping_cart_content {

				ul {

					li {

						a:not(.remove) {
							color: #999;

							&:hover {
								color: #fff;
							}
						}

						.remove {
							color: #999;

							&:hover {
								color: #fff;
							}
						}
					}
				}

				.variation {

					dt {
						color: #999;
					}
				}

				.total {

					strong {
						color: #fff;
					}
				}
			}
		}

		&.widget_layered_nav {

			a {
				color: #999;

				&:hover {
					color: #fff;
				}
			}
		}

		&.widget_layered_nav_filters {

			a {
				color: #999;

				&:hover {
					color: #fff;
				}
			}
		}

		&.widget_price_filter {

			.price_slider_wrapper {

				.ui-widget-content {

					.ui-slider-range {
						background-color: #fff;
					}
				}
			}
		}

		&.widget_product_categories {

			a {
				color: #999;

				&:hover {
					color: #fff;
				}
			}
		}

		&.widget_products,
		&.widget_recently_viewed_products,
		&.widget_top_rated_products {

			ul {

				li {

					.product-title {
						color: #999;

						&:hover {
							color: #fff;
						}
					}

					.amount {
						color: #fff;
					}
				}
			}
		}

		&.widget_recent_reviews {

			a {
				color: #999;

				&:hover {
					color: #fff;
				}
			}
		}

		&.widget_product_tag_cloud {

			.tagcloud {

				a {
					color: #999;

					&:hover {
						color: #fff;
					}

					&:after {
						color: #999;
					}
				}
			}
		}

		&.widget_product_search {

			.woocommerce-product-search {

				.search-field {
					color: #fff;

					&:focus {
						border-color: #fff;
					}

					&::-webkit-input-placeholder {
						color: #fff;
					}
					&:-moz-placeholder {
						color: #fff;
					}
					&::-moz-placeholder {
						color: #fff;
					}
					&:-ms-input-placeholder {
						color: #fff;
					}
				}

				input[type="submit"] {
					background-color: transparent;
				}
			}
		}
	}
}

/* ==========================================================================
   WooCommerce Widgets styles - end
   ========================================================================== */