$portfolio-gallery-layers: (
		background-overlay: 1,
		item-link: 2,
		item-content: 3
);

@import 'portfolio-types/standard';
@import 'portfolio-types/gallery';
@import 'portfolio-types/pinterest';
@import 'portfolio-types/masonry';
@import 'portfolio-types/justified-gallery';
@import 'portfolio-slider';

/* ==========================================================================
   Portfolio shortcode styles - begin
   ========================================================================== */

/* #General portfolio list styles - start
  ========================================================================== */
.eltd-portfolio-list-holder {
	height: 100%;

	article {
		position: relative;
		vertical-align: top;

		@include eltdBoxSizing(border-box);

		.eltd-ptf-item-title {
			margin: 0;
		}

		.eltd-ptf-item-image-holder {
			position: relative;

			a {
				display: block;
			}

			img {
				vertical-align: top;
				height: auto;
				max-width: 100%;
			}
		}

		.eltd-like {
			color: #808080;

			&:after {
				content: '\e030';
				font-family: 'ElegantIcons';
				color: inherit;
			}

			&.liked:after {
				content: '\e089';
			}

		}
	}

	article.mix {
		display: none;
		visibility: hidden;
		float: left;
	}
}

.eltd-portfolio-list-holder-outer.eltd-ptf-with-spaces {
	.eltd-portfolio-list-holder {
		font-size: 0.1px;
		line-height: 0;  
		text-align: justify; 

		article {
			//reset portfolio item's typography
			font-size: $default-text-size; 
			line-height: $default-text-line-height;
			text-align: left;

            margin: 0 0 2.2%;
        }

		article.mix {
			float: none;
		}

		.eltd-ptf-gap {
			display: inline-block; 
		}
	}
}

/* General portfolio list styles - end
   ========================================================================== */

/* #Portfolio grid styles - start
  ========================================================================== */
.eltd-portfolio-list-holder-outer {

	height:auto !important;

	&.eltd-ptf-two-columns {
		article {
			width: 50%;
		}
	}

	&.eltd-ptf-three-columns {
		article {
			width: 33.33%;
		}
	}

	&.eltd-ptf-four-columns {
		article {
			width: 25%;
		}
	}

	&.eltd-ptf-five-columns {
		article {
			width: 20%;
		}
	}

	&.eltd-ptf-six-columns {
		article {
			width: 16.66%;
		}
	}

	//portfolio with spaces widths
	&.eltd-ptf-with-spaces {
		&.eltd-ptf-two-columns {
			article,
			.eltd-ptf-gap {
				width: 49.4%;
			}
		}

		&.eltd-ptf-three-columns {
			article,
			.eltd-ptf-gap {
				width: 31.8%;
			}
		}

		&.eltd-ptf-four-columns {
			article,
			.eltd-ptf-gap {
				width: 23.3%;
			}
		}

		&.eltd-ptf-five-columns {

			article,
			.eltd-ptf-gap {
				width: 18.2%;
			}
		}

		&.eltd-ptf-six-columns {

			article,
			.eltd-ptf-gap {
				width: 14.8%;
			}
		}

	}
}

/* Portfolio grid styles - end
   ========================================================================== */

/* #Portfolio filters styles - start
  ========================================================================== */
.eltd-portfolio-filter-holder {
	margin: 0 0 50px;

	.eltd-portfolio-filter-holder-inner {
		text-align: center;

		ul {
			display: inline-block;
			list-style: none;
			vertical-align: middle;
			padding: 0;
			margin: 0;
		}

		ul li {
			cursor: pointer;
			display: block;
			margin: 0;
			float: left;
			padding: 0 15px;

			font-family: $headings-font-family;
			text-transform: uppercase;
			font-weight: 700;
			color: #808080;
			font-size: 11px;
			letter-spacing: 1px;

			@include eltdTransition(color 0.3s ease-in-out);

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}

		ul li.active,
		ul li.current,
		ul li:hover {
			color: $first-main-color;
		}
	}
}

/* Portfolio filters styles - end
   ========================================================================== */

/* #Portfolio Load More Button - start
  ========================================================================== */
.eltd-portfolio-list-holder-outer .eltd-ptf-list-paging {
	text-align: center;
	margin: 20px 0 0 0;
}

.eltd-ptf-list-paging span.eltd-ptf-list-load-more a {
	border-color: #383838 !important;
	background-color: #383838 !important;
}

/* Portfolio Load More Button - end
   ========================================================================== */

/* ==========================================================================
   Portfolio styles - end
   ========================================================================== */