@import "mixins";
@import "variables";

.eltd-meta-box {
	margin: -6px -12px -12px;

	.eltd-meta-box-holder {
		width: 100%;
	}

	.eltd-meta-box-holder .eltd-page-form-section th {
		width: 250px;
	}

	.eltd-meta-box-holder .eltd-page-form-section th p {
		font-weight: 400;
		color: #9e9e9e;
	}

	.eltd-portfolio-media, .eltd-portfolio-additional-item {
		background:#fff;
		margin-bottom: 5px;
	}

	.eltd-portfolio-media  .eltd-page-form-section {
		border-top:none
	}

	.eltd-meta-box-holder .eltd-portfolio-media .eltd-page-form-section,
	.eltd-meta-box-holder .eltd-portfolio-additional-item .eltd-page-form-section {
		border-bottom: none;
		display: table;
		width: 100%;
	}

	.eltd-portfolio-toggle-holder {
		display: table;
		width: 100%;
		border:1px solid #dae0e8;
		position: relative;
		cursor:pointer;
	}

	.eltd-portfolio-toggle {
		display: table-cell;
		vertical-align: middle;
		background: #ebeef2;
		color: #6F858D;
		height: 40px;
		padding: 0 10px;
	}

	.eltd-portfolio-media .eltd-portfolio-toggle-content,
	.eltd-portfolio-additional-item .eltd-portfolio-toggle-content {
		border: 1px solid #dbdee0;
		border-top: none;
	}

	.eltd-portfolio-toggle .number {
		display: inline-block;
		background-color:#ABB7C7;
		color:#fff;
		width: 35px;
		text-align: center;
		border-radius: 5px;
		margin-right: 20px;
		padding:1px 5px
	}

	.eltd-portfolio-toggle.eltd-portfolio-control {
		text-align: right;
		padding-right: 40px;
		color:#ABB7C7;
		font-size:14px
	}

	.eltd-portfolio-toggle.eltd-portfolio-control a {
		color:#ABB7C7;
	}

	.eltd-portfolio-toggle.eltd-portfolio-control a.remove-portfolio-media,
	.eltd-portfolio-toggle.eltd-portfolio-control a.remove-portfolio-item {
		position: absolute;
		right: 0;
		top: 0;
		padding: 13px 11px 14px 5px;
		line-height:0;
	}

	.eltd-portfolio-add {
		padding: 20px;
	}

	.eltd-portfolio-add a:first-child {
		margin-right: 3px;
	}

	.eltd-portfolio-add a:last-child {
		margin-right: 10px;
	}

	.eltd-portfolio-add i {
		margin-right:5px;
	}

	.eltd-meta-box-hidden {
		display: none;
	}

	.eltd-meta-box-holder .eltd-page-form-container-holder .eltd-page-form-container-holder {
		border-left: none;
		margin-left: 0;
	}

	.eltd-page.btn-default {
		margin-right:0
	}
}

div.inside > div > div > div.eltd-page-form-section:first-child {
	border-top: none;
}