/* ==========================================================================
# Portfolio Single Gallery - begin
========================================================================== */
$eltd-gutter-width: 25px;

.eltd-portfolio-single-holder.gallery {
	padding-top: 15px;
	
	.eltd-portfolio-single-media a {
		position: relative;
		overflow: hidden;
		display: block;

		.eltd-portfolio-gallery-text-holder {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 100%;
			height: 100%;
			opacity: 0;
			background-color: rgba(0, 0, 0, 0.50);
			@include eltdTransition(opacity 0.3s ease-out);
		}

		.eltd-portfolio-gallery-text-holder-inner {
			position: relative;
			display: table;
			width: 100%;
			height: 100%;
		}

		.eltd-portfolio-gallery-text-holder-inner h4 {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			color: #fff;
			width: 100%;
			height: 100%;
		}

		img {
			display: block;
		}

		&:hover {

			.eltd-portfolio-gallery-text-holder {
				opacity: 1;
			}

		}

	}

	.eltd-portfolio-media {
		margin-left: -($eltd-gutter-width / 2);
		margin-right: -($eltd-gutter-width / 2);

		@include eltdClearfix();
	}

	.eltd-portfolio-single-media {
		float: left;
		padding: 0 $eltd-gutter-width / 2;
		margin-bottom: $eltd-gutter-width;

		@include eltdBoxSizing(border-box);
	}

	.eltd-portfolio-info-holder {
		margin-top: 15px;
		padding: 50px;
		background-color: #363636;

		.eltd-portfolio-info-label {
			color: #fff;
		}
	}

	.eltd-portfolio-info-content-holder {
		margin-top: 20px;
	}

	.eltd-portfolio-item-social {

		.eltd-portfolio-single-share-holder {

			.social_share {
				color: #fff;
				@include eltdTransition(inherit);
			}

			&:hover {

				.social_share {
					color: $first-main-color;
				}
			}
		}
	}

	.eltd-portfolio-single-likes {

		.eltd-like {

			.lnr-heart {
				color: #fff;
			}

			&.liked {

				.lnr-heart {
					color: $first-main-color;
				}
			}
		}
	}
}

.gallery {

	&.eltd-portfolio-gallery-three-columns {
		.eltd-portfolio-single-media {
			width: 33.33%;
		}

		&.prominent-image {

			.eltd-portfolio-single-media:first-child {
				width: 100%;
			}
		}
	}

	&.eltd-portfolio-gallery-two-columns {
		.eltd-portfolio-single-media {
			width: 50%;
		}

		&.prominent-image {

			.eltd-portfolio-single-media:first-child {
				width: 100%;
			}
		}
	}

	&.eltd-portfolio-gallery-four-columns {
		.eltd-portfolio-single-media {
			width: 25%;
		}

		&.prominent-image {

			.eltd-portfolio-single-media:first-child {
				width: 100%;
			}
		}
	}
}

/* ==========================================================================
# Portfolio Single Gallery - end
========================================================================== */