.eltd-anchor-holder {
	.eltd-selectpicker {
		display: none;
	}

	& > span {
		color: #bdc6cb;
		font-size: 13px;
		margin-right: 25px;
	}

	.dropdown-toggle {
		display: block;
		width: 100%;
		color: #fff;
		border: 1px solid #abb7c7;
		background-color: #fff;
		padding-left: 17px;
		padding-right: 14px;
	}

	.dropdown-toggle:active,
	.btn-group.open .dropdown-toggle {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.btn-group.open .btn-info.selectpicker,
	.btn-group .btn-info.selectpicker {
		background-color: #2e414d;
		border-color: #324753;
		color: #fff;
	}

	.caret {
		position: absolute;
		top: 50%;
		right: 15px;

		@include eltd-transform(translateY(-50%));
	}

	.dropdown-menu {
		margin: 0;
		border: 1px solid #dbdee0;
		box-shadow: none;

		@include eltd-border-radius(2px);
	}

	.dropdown-menu:not(.inner) {
		margin-top: 7px;
		width: 315px;
		border-color: #f3f5f6;
		padding-top: 10px;
	}

	.dropdown-menu.inner {
		position: relative;
		z-index: 100;
		border: none;
		width: 100%;
	}

	.dropdown-menu.inner li {
		margin-bottom: 0;
	}

	.dropdown-menu.inner li a {
		cursor: pointer;
		margin-bottom: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 13px;
		color: #8d9ca6;
	}

	.dropdown-menu.inner li span {
		color:  #6F858D;
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;;
	}

	.dropdown-menu.inner li.active a span,
	.dropdown-menu.inner li a:hover span {
		color: #fff;
	}

	.dropdown-menu.inner li.active a,
	.dropdown-menu.inner li a:hover {
		background-color: $eltd-first-color;
	}

	.dropdown-menu input[type='text'] {
		border-radius: 2px;
		width: 92%;
		margin: 0 auto;
		border-color: #dce0e6;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		background-color: #f7f9fa;

		padding-top: 6px;
		padding-bottom: 6px;
	}

	.dropdown-menu.inner {
		position: relative;
		z-index: 100;
		border: none;
		width: 100%;
	}

	.dropdown-menu.inner li {
		margin-bottom: 0;
	}

	.dropdown-menu.inner li a {
		cursor: pointer;
		margin-bottom: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 13px;
		color: #8d9ca6;
	}
}