.widget_eltd_call_to_action_button {
	&.eltd-top-bar-widget {
		display: block;

		.eltd-top-bar-widget-inner {
			display: block;
			height: 100%;
		}
	}

	.eltd-call-to-action-button {
		display: block;
		height: 100%;

		background-color: $first-main-color;
		color: #fff;
		padding: 0 23px 0 18px;
		font-size: 12px;

		@include eltdBoxSizing(border-box);

		.eltd-ctab-holder {
			display: block;
			position: relative;
			vertical-align: middle;
			top: 50%;

			@include eltdTransform(translateY(-50%));
		}

		.eltd-ctab-icon {
			margin-right: 9px;
			font-size: 18px;
			vertical-align: middle;
		}
	}
}