/* ==========================================================================
   #Twitter feed
   ========================================================================== */
.eltd-twitter-widget li {
	margin-bottom: 15px;
}

.eltd-twitter-widget .eltd-tweet-time {
	margin-top: 7px;
}